{% extends "admin/layout/layout.html" %}
{% block title %}İzinler | {{ request.user.first_name|upper }}{% endblock %}
{% block body %}

    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/dataTables.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/plugins/datatables/buttons.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/responsive.bootstrap4.min.css" %}"/>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
         {% if adminGroup %}
            {% include "admin/layout/navbar.html" %}
            {% include "admin/layout/sidebar.html" %}
        {% else %}
            {% include "admin/layout/navbar-moderator.html" %}
            {% include "admin/layout/sidebar-moderator.html" %}
        {% endif %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h4 class="page-title">İzin Listesi</h4>
                            </div>
                        </div> <!-- end row -->
                    </div>
                    <!-- end page-title -->
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                    style="list-style: none"
                                        {% if message.tags %} {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Tüm İzinler</h4>
                                    <p class="sub-title../plugins">
                                        Aşağıdan izinleri görüntüleyebilir, düzenleyebilirsiniz.
                                    </p>

                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>İzin Id</th>
                                            <th>Kullanıcı Adı</th>
                                            <th>İzin Adı</th>
                                            <th>İzin Slug</th>
                                            <th>Oluşturulduğu Tarih</th>
                                            <th>Güncellendiği Tarih</th>
                                            <th>Aktiflik</th>
                                            <th>İşlemler</th>
                                            <th>Sil</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if permissions %}
                                            {% for permission in permissions %}
                                                <tr>
                                                    <td>{{ permission.id }}</td>
                                                    <td>{{ permission.userId.username }}</td>
                                                    <td>{{ permission.permissionId.title }}</td>
                                                    <td>{{ permission.permissionId.slug }}</td>
                                                    <td>{{ permission.createdDate }}</td>
                                                    <td>{{ permission.updatedDate }}</td>
                                                    <td>{% if permission.isActive %}Aktif{% else %}Aktif
                                                        Değil{% endif %}</td>
                                                    <td>
                                                        <a href="{% url 'admin_edit_account_permission' permission.id %}"
                                                           class="btn btn-success btn-sm">Düzenle</a>
                                                        <a href="{% url 'admin_deactivate_account_permission' permission.id %}"
                                                           class="btn btn-primary btn-sm">
                                                            {% if permission.isActive == False %}Etkinleştir{% else %}Etkisizleştir{% endif %} </a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin_delete_account_permission' permission.id %}"
                                                           class="btn btn-danger btn-sm">Sil</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div> <!-- end row -->
                    <!-- end page-title -->

                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->

            <footer class="footer">
                © 2019 - 2020 Tüm Hakları Saklıdır
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->


    <!-- jQuery  -->
{% endblock body %}