//color schemes
//3
$styleNumber: '3';
$colorMain: #32b9c2;
$colorMain2: #5b83cd;
$colorMain3: #208291;
$colorMain4: #2165a9;
$colorMain5: #3197d4;
$colorMain6: #c280bf;
$colorMain7: #8073b2;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;