{% extends "admin/layout/layout.html" %}
{% block title %}Kullanıcılar{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <h4 class="page-title">Kullanıcı Listesi</h4>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                style="list-style: none"
                                    {% if message.tags %} {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Tüm Kullanıcılar</h4>
                                <p class="sub-title../plugins">
                                    Aşağıdan kullanıcıları görüntüleyebilir, düzenleyebilirsiniz.
                                </p>
                                <table id="datatable-buttons"
                                       class="table table-striped table-bordered dt-responsive nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Kullanıcı Adı</th>
                                        <th>İsim</th>
                                        <th>Email</th>
                                        <th>Aktiflik</th>
                                        <th>Grup</th>
                                        <th>Son Giriş</th>
                                        <th>Güncellendiği Tarih</th>
                                        <th>İşlemler</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if accountGroups %}
                                        {% for account in accountGroups %}
                                            <tr>
                                                <td>{{ account.userId.username }}</td>
                                                <td>{{ account.userId.get_full_name }}</td>
                                                <td>{{ account.userId.email }}</td>
                                                <td>
                                                    {% if account.userId.is_active %} Aktif {% else %}
                                                        Yasaklı {% endif %}</td>
                                                <td>
                                                    {{ account.groupId.title }}
                                                </td>
                                                <td>{{ account.userId.last_login }}</td>
                                                <td>{{ account.userId.updatedDate }}</td>
                                                <td>
                                                    <a href="{% url 'admin_edit_profile' account.userId.username %}"
                                                       class="btn btn-success btn-sm">Düzenle</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'admin/layout/footer.html' %}
    </div>
{% endblock body %}