{% extends 'ankades/layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/header.html' %}
            <section class="ls s-py-80 s-py-lg-120 s-py-xl-160">
				<div class="container">
					<div class="row c-gutter-60">
						<main class="col-lg-7 col-xl-8">
							<article class="post side-item text-center text-md-left event-post content-padding rounded rounded-image-left hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/08.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Magna aliquyam erased</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 12, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>01:15 pm - 04:30 pm</span>
											</p>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum bibendum dui, nec malesuada urna laoreet non. Maecenas id semper nisi.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/01.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">
													Cupiditate ducimus ea eaque
												</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 11, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>02:15 pm - 03:50 pm</span>
											</p>
											<p>
												Cupiditate ducimus ea eaque error et excepturi ipsa ipsam, magni modi molestiae numquam officia quo quos ratione sed, similique ut voluptate.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/02.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Aliquam amet atque deleniti</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 9, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>03:15 pm - 05:30 pm</span>
											</p>
											<p>
												Aliquam amet, atque deleniti dignissimos dolor ducimus eaque eos error et facere ipsam iste laboriosam molestias optio.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/03.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">
													Ad ipsam itaque molestias
												</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 4, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>03:00 pm - 04:30 pm</span>
											</p>
											<p>
												Accusantium, asperiores culpa iusto molestias reiciendis repellat voluptatum? Ad ipsam itaque molestias quasi ratione.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/04.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Magna aliquyam erased</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 2, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>05:15 pm - 07:10 pm</span>
											</p>
											<p>
												Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et dolore magna aliquyam erat. Vestibulum malesuada justo.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/05.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Cupiditate ducimus ea eaque </a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>Jan 30, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>01:15 pm - 05:30 pm</span>
											</p>
											<p>
												Cupiditate ducimus ea eaque error et excepturi ipsa ipsam, magni modi molestiae numquam officia quo quos ratione sed, similique ut voluptate.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/06.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Aliquam amet atque deleniti</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>Jan 26, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>05:45 pm - 04:40 pm</span>
											</p>
											<p>
												Aliquam amet, atque deleniti dignissimos dolor ducimus eaque eos error et facere ipsam iste laboriosam molestias optio.
											</p>

										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/07.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">

												<a href="event-single-right.html">
													Ad ipsam itaque molestias
												</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>Jan 20, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>01:55 pm - 05:30 pm</span>
											</p>
											<p>
												Accusantium, asperiores culpa iusto molestias reiciendis repellat voluptatum? Ad ipsam itaque molestias quasi ratione.
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/08.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">Magna aliquyam erased</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>March 16, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>05:15 pm - 06:30 pm</span>
											</p>
											<p>
												Duis leo magna, auctor id lorem eget, facilisis finibus tortor. Suspendisse potenti. Pellentesque suscipit leo sed arcu pretium, vel fermentum odio .
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="post side-item text-center text-md-left event-post content-padding hero-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="images/gallery/01.jpg" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="event-single-right.html"></a>
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-lg-7 col-md-6">
										<div class="item-content">
											<h5>
												<a href="event-single-right.html">
													Cupiditate ducimus ea eaque
												</a>
											</h5>
											<p class="item-meta color-darkgrey">
												<i class="fa fa-calendar color-main"></i> <span>Jan 10, 2018</span>
												<i class="fa fa-clock-o color-main"></i> <span>03:15 pm - 07:30 pm</span>
											</p>
											<p>
												Cupiditate ducimus ea eaque error et excepturi ipsa ipsam, magni modi molestiae numquam officia quo quos ratione sed, similique ut voluptate.
											</p>
										</div>
									</div>
								</div>
							</article>
							<nav class="navigation pagination" role="navigation">
								<h2 class="screen-reader-text">Posts navigation</h2>
								<div class="nav-links">
									<a class="prev page-numbers" href="gallery-right.html">
										<i class="fa fa-angle-left"></i>
										<span class="screen-reader-text">Previous page</span>
									</a>
									<a class="page-numbers" href="gallery-right.html">
										<span class="meta-nav screen-reader-text">Page </span>
										1
									</a>
									<span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>
										2
									</span>
									<a class="page-numbers" href="gallery-right.html">
										<span class="meta-nav screen-reader-text">Page </span>
										3
									</a>
									<a class="next page-numbers" href="gallery-right.html">
										<span class="screen-reader-text">Next page</span>
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</nav>
						</main>
						<aside class="col-lg-5 col-xl-4">
							<div class="widget widget_search">
								<h5 class="widget-title">Search</h5>
								<form role="search" method="get" class="search-form" action="/">
									<label for="search-form-widget">
										<span class="screen-reader-text">Search for:</span>
									</label>
									<input type="search" id="search-form-widget" class="search-field" placeholder="Search Keyword" value="" name="search">
									<button type="submit" class="search-submit">
										<span class="screen-reader-text">Search</span>
									</button>
								</form>
							</div>
							<div class="widget widget_text">
								<h5 class="widget-title">About Us</h5>
								<p>
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmos.
								</p>
								<a href="about.html" class="btn btn-maincolor"><span>Read More</span></a>
							</div>
							<div class="widget widget_categories">
								<h5 class="widget-title categories-tilte">Categories</h5>
								<ul>
									<li class="cat-item">
										<a href="blog-right.html">Internet Provider</a>
										<span class="color-main2">(12)</span>
									</li>
									<li class="cat-item">
										<a href="blog-right.html">TV solution</a>
										<span class="color-main2">(8)</span>
									</li>
									<li class="cat-item">
										<a href="blog-right.html">Digital Trade</a>
										<span class="color-main2">(10)</span>
									</li>
									<li class="cat-item">
										<a href="blog-right.html">Technologies</a>
										<span class="color-main2">(21)</span>
									</li>
									<li class="cat-item">
										<a href="blog-right.html">E-Commerce
										</a>
										<span class="color-main2">(6)</span>
									</li>
								</ul>
							</div>
							<div class="widget widget_recent_posts">
								<h5 class="widget-title">Recent Posts</h5>
								<ul class="list-unstyled">
									<li class="media">
										<a class="media-image" href="blog-single-right.html">
											<img src="images/recent_post1.jpg" alt="">
										</a>
										<div class="media-body">
											<h4>
												<a href="blog-single-right.html">Lorem ipsum dolor sit am consectetur tus.</a>
											</h4>
											<p class="item-meta">
												September 01, 2018
											</p>
										</div>
									</li>
									<li class="media">
										<a class="media-image" href="blog-single-right.html">
											<img src="images/recent_post2.jpg" alt="">
										</a>
										<div class="media-body">
											<h4>
												<a href="blog-single-right.html">Phasellus at nisl lacus do necsem port.</a>
											</h4>
											<p class="item-meta">
												September 03, 2018
											</p>

										</div>
									</li>
									<li class="media">
										<a class="media-image" href="blog-single-right.html">
											<img src="images/recent_post3.jpg" alt="">
										</a>
										<div class="media-body">
											<h4>
												<a href="blog-single-right.html">Nunc quis enim non est fi nugilla libero est.</a>
											</h4>
											<p class="item-meta">
												September 09, 2018
											</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="widget widget_portfolio">
								<h5 class="widget-title">Recent Portfolio</h5>
								<div class="photo">
									<a href="#">
										<img src="images/square/03.jpg" alt="">
									</a>
								</div>
								<div class="photo">
									<a href="#">
										<img src="images/square/01.jpg" alt="">
									</a>
								</div>
								<div class="photo">
									<a href="#">
										<img src="images/square/07.jpg" alt="">
									</a>
								</div>
								<div class="photo">
									<a href="#">
										<img src="images/square/05.jpg" alt="">
									</a>
								</div>
								<div class="photo">
									<a href="#">
										<img src="images/square/09.jpg" alt="">
									</a>
								</div>
								<div class="photo">
									<a href="#">
										<img src="images/square/06.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="widget widget_tag_cloud">
								<h5 class="widget-title">Tags</h5>
								<div class="tagcloud">
									<a href="blog-right.html" class="tag-cloud-link">
										Cabel
									</a>
									<a href="blog-right.html" class="tag-cloud-link">
										IPTV
									</a>
									<a href="blog-right.html" class="tag-cloud-link">
										Internet
									</a>
									<a href="blog-right.html" class="tag-cloud-link">
										Provider Services
									</a>
									<a href="blog-right.html" class="tag-cloud-link">
										Router Setup
									</a>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</section>
            {% include 'ankades/layout/footer.html' %}
        </div>
    </div>
{% endblock %}