{% extends 'ankades/layout/layout.html' %}
{% block title %}{{ instance.creator.get_full_name }} - {{ instance.title }}{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-header">
        <div class="container">
            <div class="row mb-2 mt-2">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Makale Düzenleme / {{ instance.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary p-5">
                        <form role="form" method="post" action="{% url 'edit_article' instance.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="categoryId">Kategori*</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="id"
                                            id="categoryId"
                                            required>
                                        <option disabled>Lütfen bir kategori seçiniz</option>
                                        {% if articleCategory %}
                                            {% for category in articleCategory %}
                                                <option value="{{ category.id }}">{{ category.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Başlık*</label>
                                    <input type="text" value="{{ instance.title }}" class="form-control" id="title"
                                           name="title"
                                           placeholder="Başlık">
                                </div>
                                <div class="form-group">
                                    {{ form.description }}
                                </div>
                                <div class="form-group">
                                    <label for="media">Resim*</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="media" name="media">
                                            <label class="custom-file-label" for="media">
                                                {% if instance.media %}{{ instance.media }}{% endif %}</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Bilgisayarda Ara</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="isPrivate" class="form-check-input"
                                           {% if instance.isPrivate == True %}checked{% endif %} id="isPrivate">
                                    <label class="form-check-label" for="isPrivate">Özellik*</label>
                                </div>
                                <button type="submit" id="btn-submit" class="btn btn-success mt-3">Düzenle</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}