{% extends 'ankades/layout/layout.html' %}
{% block title %}{{ request.user.get_full_name }} | Paylaşımlarım{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ instance.image.url }}" alt="{{ instance.get_full_name }}"
                                     style="max-height: 400px; width: 100%;">
                            </div>
                            <h3 class="profile-username text-center">{{ instance.get_full_name }}</h3>
                            <p class="text-muted text-center">{{ userGroup.title }}</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <a href="{% url 'account_follower' instance.username %}"><b>Takipçiler</b></a>
                                    <a class="float-right">
                                        {% if followers %}
                                            {{ followers.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'account_following' instance.username %}"><b>Takip Edilen</b></a>
                                    <a class="float-right">
                                        {% if followings %}
                                            {{ followings.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hakkımda</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Eğitim</strong>
                            <p class="text-muted">
                                {{ request.user.graduate }}
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Malibu, California</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Biyografi</strong>
                            <p class="text-muted">
                                {% if request.user.bio %}{{ request.user.bio }}{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                {% if userGroup != 'uye' %}
                                    <li class="nav-item"><a class="nav-link active" href="#articles"
                                                            data-toggle="tab">Makaleler</a></li>
                                {% endif %}
                                {% if userGroup != 'uye' %}
                                    <li class="nav-item"><a class="nav-link" href="#courses"
                                                            data-toggle="tab">Kurslarım</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link {% if userGroup == 'uye' %}active{% endif %}"
                                                        href="#questions"
                                                        data-toggle="tab">Sorularım</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                {% if userGroup != 'uye' %}
                                    <div class="tab-pane active" id="articles">
                                        <div class="card-body">
                                            <table id="all-articles" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Kategori</th>
                                                    <th>Başlık</th>
                                                    <th>Oluşturulduğu Tarih</th>
                                                    <th>Son Güncelleme</th>
                                                    <th>Aktiflik</th>
                                                    <th>İşlemler</th>
                                                    <th>Sil</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if myArticles %}
                                                    {% for article in myArticles %}
                                                        <tr>
                                                            <td>{{ article.categoryId.title }}</td>
                                                            <td>
                                                                <a href="{% url 'article_detail' request.user article.slug %}">{{ article.title }}</a>
                                                            </td>
                                                            <td>{{ article.createdDate }}</td>
                                                            <td>{% if article.updatedDate == None %}Güncelleme
                                                                Yapılmamış{% else %}
                                                                {{ article.updatedDate }}{% endif %}</td>
                                                            <td>
                                                                <a type="button"
                                                                   href="{% url 'edit_article' article.slug %}"
                                                                   class="btn btn-success">
                                                                    Düzenle
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a type="button"
                                                                   href="{% url 'delete_article' article.slug %}"
                                                                   class="btn btn-danger">
                                                                    Sil
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                <tfoot>
                                                <tr>
                                                    <th>Kategori</th>
                                                    <th>Başlık</th>
                                                    <th>Oluşturulduğu Tarih</th>
                                                    <th>Son Güncelleme</th>
                                                    <th>Aktiflik</th>
                                                    <th>İşlemler</th>
                                                    <th>Sil</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if userGroup != 'uye' %}
                                    <div class="tab-pane" id="courses">
                                        <table id="all-courses" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Kategori</th>
                                                <th>Başlık</th>
                                                <th>Oluşturulduğu Tarih</th>
                                                <th>Son Güncelleme</th>
                                                <th>Aktiflik</th>
                                                <th>İşlemler</th>
                                                <th>Sil</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if myCourses %}
                                                {% for course in myCourses %}
                                                    <tr>
                                                        <td>{{ course.categoryId.title }}</td>
                                                        <td>{{ course.title }}</td>
                                                        <td>{{ course.createdDate }}</td>
                                                        <td>{% if course.updatedDate == None %}Güncelleme
                                                            Yapılmamış{% else %}
                                                            {{ course.updatedDate }}{% endif %}</td>
                                                        <td>
                                                            <a type="button"
                                                               href="{% url 'delete_article' course.slug %}"
                                                               class="btn btn-success">
                                                                Düzenle
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a type="button"
                                                               href="{% url 'delete_article' course.slug %}"
                                                               class="btn btn-danger">
                                                                Sil
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <tfoot>
                                            <tr>
                                                <th>Kategori</th>
                                                <th>Başlık</th>
                                                <th>Oluşturulduğu Tarih</th>
                                                <th>Son Güncelleme</th>
                                                <th>Aktiflik</th>
                                                <th>İşlemler</th>
                                                <th>Sil</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                {% endif %}
                                <div class="tab-pane {% if userGroup == 'uye' %}active{% endif %}" id="questions">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}