{% extends "admin/layout/../layout/layout.html" %}
{% block title %}Sosyal Medya Ekle{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Sosyal Medya Ekleme</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="{% url 'admin_social_media_settings' %}">Sosyal
                                    Medya</a></li>
                                <li class="breadcrumb-item"><a href="">Sosyal Medya Ekle</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                style="list-style: none"
                                    {% if message.tags %} {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" class="form-control-user">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    {{ form_as.p }}
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Ekle
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'admin/layout/../layout/footer.html' %}
    </div>
{% endblock %}