{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hesap Logları</h3>
                        </div>
                        <div class="card-body">
                            <table id="account-logs" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kişi</th>
                                    <th>Başlık</th>
                                    <th>Uygulama</th>
                                    <th>Metod</th>
                                    <th>Description</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if accountLogs %}
                                    {% for accLog in accountLogs %}
                                        <tr>
                                            <td>{{ accLog.id }}</td>
                                            <td>{{ accLog.creator }}</td>
                                            <td>{{ accLog.title }}</td>
                                            <td>{{ accLog.application }}</td>
                                            <td>{{ accLog.method }}</td>
                                            <td>{{ accLog.description }}</td>
                                            <td>{{ accLog.createdDate }}</td>
                                            <td>
                                                <a type="button" href="{% url 'admin_delete_account_log' accLog.id %}"
                                                   class="btn btn-danger">Sil
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kişi</th>
                                    <th>Başlık</th>
                                    <th>Uygulama</th>
                                    <th>Metod</th>
                                    <th>Description</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Sil</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}