{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | Students List{% endblock %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Öğrenciler</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="student" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Id</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if students %}
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.id }}</td>
                                            <td>{{ student.userId }}</td>
                                            <td>{{ student.groupId }}</td>
                                            <td>{{ student.userId_id }}</td>
                                            <td>{{ student.groupId_id }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}