{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Adminler</h3>
                        </div>
                        <a href="{% url 'admin_admins' %}" style="color: #fff" type="button" class="btn btn-primary m-3">
                            Admin Listesine Git
                        </a>
                        <div class="card-body">
                            <table id="admin" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if admins %}
                                    {% for admin in admins %}
                                        <tr>
                                            <td>{{ admin.id }}</td>
                                            <td>{{ admin.userId.id }}</td>
                                            <td>{{ admin.groupId.id }}</td>
                                            <td>{{ admin.userId.username }}</td>
                                            <td>{{ admin.groupId.title }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- Default box -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Moderatörler</h3>
                        </div>
                        <a href="{% url 'admin_moderators' %}" style="color: #fff" type="button" class="btn btn-primary m-3">
                            Moderatör Listesine Git
                        </a>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="moderator" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if moderators %}
                                    {% for moderator in moderators %}
                                        <tr>
                                            <td>{{ moderator.id }}</td>
                                            <td>{{ moderator.userId.id }}</td>
                                            <td>{{ moderator.groupId.id }}</td>
                                            <td>{{ moderator.userId.username }}</td>
                                            <td>{{ moderator.groupId.title }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- Default box -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Öğretmenler</h3>
                        </div>
                        <a href="{% url 'admin_teachers' %}" style="color: #fff" type="button" class="btn btn-primary m-3">
                            Öğretmen Listesine Git
                        </a>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="teacher" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if teachers %}
                                    {% for teacher in teachers %}
                                        <tr>
                                            <td>{{ teacher.id }}</td>
                                            <td>{{ teacher.userId.id }}</td>
                                            <td>{{ teacher.groupId.id }}</td>
                                            <td>{{ teacher.userId.username }}</td>
                                            <td>{{ teacher.groupId.title }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Öğrenciler</h3>
                        </div>
                        <a href="{% url 'admin_students' %}" style="color: #fff" type="button" class="btn btn-primary m-3">
                            Öğrenci Listesine Git
                        </a>
                        <div class="card-body">
                            <table id="student" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if students %}
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.id }}</td>
                                            <td>{{ student.userId.id }}</td>
                                            <td>{{ student.groupId.id }}</td>
                                            <td>{{ student.userId.username }}</td>
                                            <td>{{ student.groupId.title }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Üyeler</h3>
                        </div>
                        <a href="{% url 'admin_members' %}" style="color: #fff" type="button" class="btn btn-primary m-3">
                            Üye Listesine Git
                        </a>
                        <div class="card-body">
                            <table id="member" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if members %}
                                    {% for member in members %}
                                        <tr>
                                            <td>{{ member.id }}</td>
                                            <td>{{ member.userId.id }}</td>
                                            <td>{{ member.groupId.id }}</td>
                                            <td>{{ member.userId.username }}</td>
                                            <td>{{ member.groupId.title }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Id</th>
                                    <th>Grup ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Grup Adı</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}