{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | All Questions{% endblock %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sorular</h3>
                        </div>
                        <div class="card-body">
                            <table id="all-questions" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Oluşturan</th>
                                    <th>Kategori</th>
                                    <th>Ad</th>
                                    <th>Slug</th>
                                    <th>Soru Numarası</th>
                                    <th>Oluşturulduğu Tarihi</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if questions %}
                                    {% for question in questions %}
                                        <tr>
                                            <td>{{ question.id }}</td>
                                            <td>{{ question.creator }}</td>
                                            <td>{{ question.categoryId }}</td>
                                            <td>{{ question.title }}</td>
                                            <td>{{ question.slug }}</td>
                                            <td>{{ question.postNumber }}</td>
                                            <td>{{ question.createdDate }}</td>
                                            <td>{% if question.updatedDate == None %}Güncelleme Yapılmamış{% else %}{{ question.updatedDate }}{% endif %}</td>
                                            <td>{{ question.isActive }}</td>
                                            <td>
                                                <a type="button" href="{% url 'admin_isactive_question' question.slug %}"
                                                   class="btn btn-warning">
                                                    {% if question.isActive %}Kapat{% else %}Aktifleştir{% endif %}
                                                </a>
                                                <a type="button" href="{% url 'admin_edit_question' question.slug %}"
                                                   class="btn btn-success">
                                                    Düzenle
                                                </a>
                                            </td>
                                            <td>
                                                <a type="button" href="{% url 'admin_delete_question' question.slug %}"
                                                   class="btn btn-danger">Sil
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Oluşturan</th>
                                    <th>Kategori</th>
                                    <th>Ad</th>
                                    <th>Slug</th>
                                    <th>Soru Numarası</th>
                                    <th>Oluşturulduğu Tarihi</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                    <th>Sil</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}