<section class="page_topline ds c-my-20 page_title with-padding">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-md-left text-center d-none d-md-block">
                <ul class="top-includes">
                    <li>
                        <span class="icon-inline">
                            <span class="icon-styled fs-14">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <span class="small-text">
                                <a href="{% url 'admin_index' %}">Admin Paneline Git</a>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <span class="icon-inline">
                    <span class="icon-styled fs-14">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="small-text color-light">
				        	{{ request.user.username }}
                    </span>
                </span>
            </div>
        </div>
    </div>
</section>