<div class="page_header_wrapper ls affix-top-wrapper" style="height: 118px;">
    <header class="page_header ls justify-nav-center header-layout2 with-padding affix-top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-11">
                    <a href="" class="logo">
                        <span class="logo-text py-20"><strong>Maxi</strong>com</span>
                    </a>
                </div>
                <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
                    <!-- main nav start -->
                    <nav class="top-nav" style="">
                        <ul class="nav sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">


                            <li class="active">
                                <a href="index.html" class="sf-with-ul">Home</a><span
                                    class="sf-menu-item-mobile-toggler"></span>
                                <ul style="display: none; margin-top: 5px;">
                                    <li>
                                        <a href="index.html">Home 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">Home 2</a>
                                    </li>
                                    <li>
                                        <a href="index_static.html">Static Intro</a>
                                    </li>
                                    <li>
                                        <a href="index_singlepage.html">Single Page</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="">
                                <a href="about.html" class="sf-with-ul">Pages</a><span
                                    class="sf-menu-item-mobile-toggler"></span>
                                <ul style="display: none; margin-top: 5px;">
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="team.html" class="sf-with-ul">Team</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="team.html">Team List</a>
                                            </li>
                                            <li>
                                                <a href="team-single.html">Team Member</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="services.html" class="sf-with-ul">Our Services</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="services.html">Services 1</a>
                                            </li>
                                            <li>
                                                <a href="services2.html">Services 2</a>
                                            </li>
                                            <li>
                                                <a href="services3.html">Services 3</a>
                                            </li>
                                            <li>
                                                <a href="service-single.html">Single Service</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="availability-map.html">Availability Map</a>
                                    </li>
                                    <li>
                                        <a href="booking-form.html">Booking Form</a>
                                    </li>
                                    <!-- gallery -->
                                    <li>
                                        <a href="gallery-image.html" class="sf-with-ul">Gallery</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <!-- Gallery image only -->
                                            <li>
                                                <a href="gallery-image.html" class="sf-with-ul">Gallery Regular</a><span
                                                    class="sf-menu-item-mobile-toggler"></span>
                                                <ul style="display: none; margin-top: 5px;">
                                                    <li>
                                                        <a href="gallery-image-2-cols.html">2 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-image.html">3 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-image-4-cols-fullwidth.html">4 columns
                                                            fullwidth</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <!-- eof Gallery image only -->

                                            <!-- Gallery with title -->
                                            <li>
                                                <a href="gallery-title.html" class="sf-with-ul">Gallery Title</a><span
                                                    class="sf-menu-item-mobile-toggler"></span>
                                                <ul style="display: none; margin-top: 5px;">
                                                    <li>
                                                        <a href="gallery-title-2-cols.html">2 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-title.html">3 column</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-title-4-cols-fullwidth.html">4 columns
                                                            fullwidth</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- eof Gallery with title -->

                                            <!-- Gallery with excerpt -->
                                            <li>
                                                <a href="gallery-excerpt.html" class="sf-with-ul">Gallery
                                                    Excerpt</a><span class="sf-menu-item-mobile-toggler"></span>
                                                <ul style="display: none; margin-top: 5px;">
                                                    <li>
                                                        <a href="gallery-excerpt-2-cols.html">2 columns</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-excerpt.html">3 column</a>
                                                    </li>
                                                    <li>
                                                        <a href="gallery-excerpt-4-cols-fullwidth.html">4 columns
                                                            fullwdith</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- eof Gallery with excerpt -->

                                            <li>
                                                <a href="gallery-tiled.html">Tiled Gallery</a>
                                            </li>

                                            <!-- Gallery item -->
                                            <li>
                                                <a href="gallery-single.html">Gallery Single</a>
                                            </li>
                                            <!-- eof Gallery item -->
                                        </ul>
                                    </li>
                                    <!-- eof Gallery -->

                                    <li>
                                        <a href="pricing.html">Pricing</a>
                                    </li>


                                    <!-- events -->
                                    <li>
                                        <a href="events-left.html" class="sf-with-ul">Events</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="events-left.html">Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="events-right.html">Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="events-full.html">Full Width</a>
                                            </li>
                                            <li>
                                                <a href="event-single-left.html" class="sf-with-ul">Single
                                                    Event</a><span class="sf-menu-item-mobile-toggler"></span>
                                                <ul style="display: none; margin-top: 5px;">
                                                    <li>
                                                        <a href="event-single-left.html">Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="event-single-right.html">Right Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="event-single-full.html">Full Width</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof events -->
                                    <li>
                                        <a href="faq.html" class="sf-with-ul">FAQ</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="faq2.html">FAQ 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- shop -->
                                    <li>
                                        <a href="shop-full.html" class="sf-with-ul">Shop</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="shop-account-dashboard.html"
                                                   class="sf-with-ul">Account</a><span
                                                    class="sf-menu-item-mobile-toggler"></span>
                                                <ul style="display: none; margin-top: 5px;">

                                                    <li>
                                                        <a href="shop-account-details.html">Account details</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-addresses.html">Addresses</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-address-edit.html">Edit Address</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-orders.html">Orders</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-order-single.html">Single Order</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-downloads.html">Downloads</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-password-reset.html">Password Reset</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-account-login.html">Login/Logout</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="shop-full.html">Shop Full Width</a>
                                            </li>
                                            <li>
                                                <a href="shop-left.html">Shop Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-right.html">Shop Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-product-right.html">Product Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-product-left.html">Product Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="shop-cart.html">Cart</a>
                                            </li>
                                            <li>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </li>
                                            <li>
                                                <a href="shop-order-received.html">Order Received</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <!-- eof shop -->

                                    <li>
                                        <a href="terms_of_use.html">Terms Of Use</a>
                                    </li>
                                    <!-- features -->
                                    <li>
                                        <a href="shortcodes_iconbox.html" class="sf-with-ul">Shortcodes</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="shortcodes_typography.html">Typography</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_buttons.html">Buttons</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_pricing.html">Pricing</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_iconbox.html">Icon Boxes</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_progress.html">Progress</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_tabs.html">Tabs &amp; Collapse</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_bootstrap.html">Bootstrap Elements</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_animation.html">Animation</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_icons.html">Template Icons</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_socialicons.html">Social Icons</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- eof shortcodes -->

                                    <li>
                                        <a href="shortcodes_widgets_default.html" class="sf-with-ul">Widgets</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="shortcodes_widgets_default.html">Default Widgets</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_widgets_shop.html">Shop Widgets</a>
                                            </li>
                                            <li>
                                                <a href="shortcodes_widgets_custom.html">Custom Widgets</a>
                                            </li>
                                        </ul>

                                    </li>


                                    <li>
                                        <a href="comingsoon.html">Comingsoon</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- eof pages -->

                            <li>
                                <a href="internet.html">internet</a>
                            </li>

                            <li>
                                <a href="iptv.html">iptv</a>
                            </li>

                            <li>
                                <a href="voip.html">voip</a>
                            </li>

                            <!-- blog -->
                            <li>
                                <a href="blog-right.html" class="sf-with-ul">Blog</a><span
                                    class="sf-menu-item-mobile-toggler"></span>
                                <ul style="display: none; margin-top: 5px;">

                                    <li>
                                        <a href="blog-right.html">Right Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-left.html">Left Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-full.html">No Sidebar</a>
                                    </li>
                                    <li>
                                        <a href="blog-grid.html">Blog Grid</a>
                                    </li>

                                    <li>
                                        <a href="blog-single-right.html" class="sf-with-ul">Post</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="blog-single-right.html">Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-left.html">Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-full.html">No Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="blog-single-video-right.html" class="sf-with-ul">Video Post</a><span
                                            class="sf-menu-item-mobile-toggler"></span>
                                        <ul style="display: none; margin-top: 5px;">
                                            <li>
                                                <a href="blog-single-video-right.html">Right Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-video-left.html">Left Sidebar</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-video-full.html">No Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <!-- eof blog -->

                            <!-- contacts -->
                            <li class="">
                                <a href="contact.html" class="sf-with-ul">Contact</a><span
                                    class="sf-menu-item-mobile-toggler"></span>
                                <ul style="display: none; margin-top: 5px;">
                                    <li>
                                        <a href="contact.html">Contact 1</a>
                                    </li>
                                    <li>
                                        <a href="contact2.html">Contact 2</a>
                                    </li>
                                    <li>
                                        <a href="contact3.html">Contact 3</a>
                                    </li>
                                    <li>
                                        <a href="contact4.html">Contact 4</a>
                                    </li>
                                    <li>
                                        <a href="contact5.html">Contact 5</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- eof contacts -->
                            <li class="">
                                <a href="#" class="sf-with-ul">Features</a><span
                                    class="sf-menu-item-mobile-toggler"></span>
                                <div class="mega-menu" style="left: -922.625px; margin-top: 5px; display: none;">
                                    <ul class="mega-menu-row">
                                        <li class="mega-menu-col">
                                            <a href="#">Headers</a>
                                            <ul>
                                                <li>
                                                    <a href="header1.html">Header Type 1</a>
                                                </li>
                                                <li>
                                                    <a href="header2.html">Header Type 2</a>
                                                </li>
                                                <li>
                                                    <a href="header3.html">Header Type 3</a>
                                                </li>
                                                <li>
                                                    <a href="header4.html">Header Type 4</a>
                                                </li>
                                                <li>
                                                    <a href="header5.html">Header Type 5</a>
                                                </li>
                                                <li>
                                                    <a href="header6.html">Header Type 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="#">Side Menus</a>
                                            <ul>
                                                <li>
                                                    <a href="header-side.html">Push Left</a>
                                                </li>
                                                <li>
                                                    <a href="header-side-right.html">Push Right</a>
                                                </li>
                                                <li>
                                                    <a href="header-side-slide.html">Slide Left</a>
                                                </li>
                                                <li>
                                                    <a href="header-side-slide-right.html">Slide Right</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="title1.html">Title Sections</a>
                                            <ul>
                                                <li>
                                                    <a href="title1.html">Title section 1</a>
                                                </li>
                                                <li>
                                                    <a href="title2.html">Title section 2</a>
                                                </li>
                                                <li>
                                                    <a href="title3.html">Title section 3</a>
                                                </li>
                                                <li>
                                                    <a href="title4.html">Title section 4</a>
                                                </li>
                                                <li>
                                                    <a href="title5.html">Title section 5</a>
                                                </li>
                                                <li>
                                                    <a href="title6.html">Title section 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="footer1.html#footer">Footers</a>
                                            <ul>
                                                <li>
                                                    <a href="footer1.html#footer">Footer Type 1</a>
                                                </li>
                                                <li>
                                                    <a href="footer2.html#footer">Footer Type 2</a>
                                                </li>
                                                <li>
                                                    <a href="footer3.html#footer">Footer Type 3</a>
                                                </li>
                                                <li>
                                                    <a href="footer4.html#footer">Footer Type 4</a>
                                                </li>
                                                <li>
                                                    <a href="footer5.html#footer">Footer Type 5</a>
                                                </li>
                                                <li>
                                                    <a href="footer6.html#footer">Footer Type 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="copyright1.html#copyright">Copyright</a>

                                            <ul>
                                                <li>
                                                    <a href="copyright1.html#copyright">Copyright 1</a>
                                                </li>
                                                <li>
                                                    <a href="copyright2.html#copyright">Copyright 2</a>
                                                </li>
                                                <li>
                                                    <a href="copyright3.html#copyright">Copyright 3</a>
                                                </li>
                                                <li>
                                                    <a href="copyright4.html#copyright">Copyright 4</a>
                                                </li>
                                                <li>
                                                    <a href="copyright5.html#copyright">Copyright 5</a>
                                                </li>
                                                <li>
                                                    <a href="copyright6.html#copyright">Copyright 6</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div> <!-- eof mega menu -->
                            </li>
                            <!-- eof features -->

                        </ul>


                    </nav>
                    <!-- eof main nav -->
                </div>
                <div class="col-xl-2 col-lg-3 text-right d-none d-lg-block">
                    <ul class="top-includes icons-include d-none d-xl-block">
                        <li>
                            <!--modal search-->
                            <span class="icon-styled bg-white round fs-14">
										<a href="#" class="search_modal_button">
											<i class="fa color-main fa-search"></i>
										</a>
									</span>
                        </li>
                        <li>
									<span class="icon-styled bg-white round fs-14">
										<a href="#">
											<i class="fa color-main fa-user"></i>
										</a>
									</span>
                        </li>
                        <li>
									<span class="icon-styled bg-white round fs-14">
										<a href="#">
											<i class="fa color-main fa-envelope-o fs-14"></i>
										</a>
									</span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu"><span></span></span>
    </header>
</div>