<!DOCTYPE html>
{% load static %}
<html class="no-js">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static "ankades-assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ankades-assets/css/animations.css" %}">
    <link rel="stylesheet" href="{% static "ankades-assets/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "ankades-assets/css/main.css" %}" class="color-switcher-link">
    <link rel="stylesheet" href="{% static "ankades-assets/css/shop.css" %}" class="color-switcher-link">
    <script src="{% static "ankades-assets/js/vendor/modernizr-2.6.2.min.js" %}"></script>

</head>

<body>

{% block body %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
{% endblock %}
        </div>
    </div>
<script href="{% static "ankades-assets/js/compressed.js" %}"></script>
<script href="{% static "ankades-assets/js/main.js" %}"></script>
</body>
</html>