{% load static %}
{% load crispy_forms_tags %}
<section class="page_topline ds ms c-my-10 s-py-15 small-text page_title">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-lg-left">
                <ul class="top-includes border-divided">
                    <li>
                        <a href="#"><i class="fa fa-pencil"></i> Soru Sor</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-pencil "></i>
                            <span>Makale Oluştur</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <ul class="top-includes border-divided">
                    <li class="dropdown-account">
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdown-account"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user"></i> {{ request.user.get_full_name }}
                            </a>
                            <div class="dropdown-menu ls" aria-labelledby="dropdown-account">
                                <a href=""><i class="fa fa-user"></i> Profilim</a>
                                <a href=""><i class="fa fa-cog"></i>
                                    Ayarlar</a>
                                <a href="#"><i class="fa fa-question-circle"></i> Destek</a>
                                <a href=""><i class="fa fa-lock"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-user"></i> Giriş Yap</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-lock"></i> Kayıt Ol</a>
                    </li>

                    {#                    <li class="dropdown-language">#}
                    {#                        <div class="dropdown show">#}
                    {#                            <a class="dropdown-toggle" href="#" role="button" id="dropdown-language"#}
                    {#                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#                                <i class="fa fa-sun-o"></i>#}
                    {#                                Açık Tema#}
                    {#                            </a>#}
                    {#                            <div class="dropdown-menu ls" aria-labelledby="dropdown-language">#}
                    {#                                <a href="#"><i class="fa fa-sun-o"></i> Koyu Tema</a>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}
                </ul>
            </div>
        </div>
    </div>
</section>
<!--eof topline-->

<section class="page_toplogo ls c-my-10 s-py-10">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-4 text-center text-lg-left">
                <a href="" class="logo">
                    <img src="images/logo.png" alt="">
                </a>
            </div>

            <div class="col-lg-4 text-center">

                <div class="widget widget_search">
                    {% csrf_token %}
                    <form class="search-form">
                        <label for="search-form-top">
                            <span class="screen-reader-text"></span>
                        </label>
                        <input type="text" name="keyword" class="search-field" placeholder="Ne aramak istedin?"
                               value="">
                        <button type="submit" class="submit">
                            <span class="screen-reader-text">Ara</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- header with single Bootstrap column only for navigation and includes. Used with topline and toplogo sections. Menu toggler must be in toplogo section -->
<header class="page_header ls s-bordertop nav-narrow justify-nav-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-12">

                <div class="nav-wrap">
                    <!-- main nav start -->
                    <nav class="top-nav">
                        <ul class="nav sf-menu">
                            <li>
                                <a href="">ANASAYFA</a>
                            </li>
                            <!-- forums -->
                            <li>
                                <a href="">SORULAR</a>
                                {#											<ul>#}
                                {#												<li>#}
                                {#													<a href="#">Kategoriler</a>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="#">En Son Sorulanlar</a>#}
                                {#													<ul>#}
                                {#														<li>#}
                                {#															<a href="team.html">abc</a>#}
                                {#														</li>#}
                                {#														<li>#}
                                {#															<a href="team-single.html">adsaf</a>#}
                                {#														</li>#}
                                {#													</ul>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="availability-map.html">En Çok Yorum Alan</a>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="booking-form.html"></a>#}
                                {#												</li>#}
                                {#											</ul>#}
                            </li>
                            <!-- eof forums -->
                            <!-- article -->
                            <li>
                                <a href="">MAKALELER</a>
                                {#                                            <ul>#}
                                {#												<li>#}
                                {#													<a href="#">Kategoriler</a>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="#">En Son Yazılanlar</a>#}
                                {#													<ul>#}
                                {#														<li>#}
                                {#															<a href="team.html">abc</a>#}
                                {#														</li>#}
                                {#														<li>#}
                                {#															<a href="team-single.html">adsaf</a>#}
                                {#														</li>#}
                                {#													</ul>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="availability-map.html">En Çok Yorum Alan</a>#}
                                {#												</li>#}
                                {#												<li>#}
                                {#													<a href="booking-form.html"></a>#}
                                {#												</li>#}
                                {#											</ul>#}
                            </li>
                            <!-- eof article -->

                            <!-- contacts -->
                            <a href="">KURSLAR</a>
                            <!-- eof contacts -->
                            <li>
                                <a href="#">SON PAYLAŞILANLAR</a>
                                <div class="mega-menu">
                                    <ul class="mega-menu-row">
                                        <li class="mega-menu-col">
                                            <a href="#">Sorular</a>
                                            <ul>
                                                <li>
                                                    <a href="header1.html">Header Type 1</a>
                                                </li>
                                                <li>
                                                    <a href="admin-header.html">Header Type 2</a>
                                                </li>
                                                <li>
                                                    <a href="header3.html">Header Type 3</a>
                                                </li>
                                                <li>
                                                    <a href="header4.html">Header Type 4</a>
                                                </li>
                                                <li>
                                                    <a href="header5.html">Header Type 5</a>
                                                </li>
                                                <li>
                                                    <a href="header6.html">Header Type 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="#">Makaleler</a>
                                            <ul>
                                                <li>
                                                    <a href="">{{ article.article_title|safe }}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-col">
                                            <a href="title1.html">Kurslar</a>
                                            <ul>
                                                <li>
                                                    <a href="title1.html">Title section 1</a>
                                                </li>
                                                <li>
                                                    <a href="title2.html">Title section 2</a>
                                                </li>
                                                <li>
                                                    <a href="title3.html">Title section 3</a>
                                                </li>
                                                <li>
                                                    <a href="title4.html">Title section 4</a>
                                                </li>
                                                <li>
                                                    <a href="title5.html">Title section 5</a>
                                                </li>
                                                <li>
                                                    <a href="title6.html">Title section 6</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- eof mega menu -->
                            </li>
                            <!-- eof features -->

                        </ul>


                    </nav>
                    <!-- eof main nav -->


                </div>

            </div>
        </div>
    </div>

    <!-- header toggler -->

    <span class="toggle_menu"><span></span></span>

</header>
