{% load static %}
<aside class="main-sidebar sidebar-dark-blue elevation-4" style="background: #0e396c; color: #fff">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ANKACADEMY</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ currentUser.image.url }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'admin_my_account' currentUser.username %} "
                   class="d-block">{% if currentUser.first_name is not None %}{{ currentUser.get_full_name }}{% else %}
                    {{ currentUser.username }}{% endif %}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" id="sidebar" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="{% url 'admin_dashboard' %}" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-header">Navigasyon</li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-mobile-alt"></i>
                        <p>
                            Sosyal Medya
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_all_social_medias' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sosyal Medyalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_add_social_media' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sosyal Medya Ekle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Kullanıcılar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_all_users' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcılar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_all_user_groups' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcı Grupları</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_add_group_to_user' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kullanıcıya Grup Ekle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_blocked_users' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Engelli Kullanıcılar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url 'admin_all_groups' %}" class="nav-link">
                        <i class="fa fa-users nav-icon"></i>
                        <p>Gruplar</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Makaleler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_all_articles' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Kategoriler
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'admin_article_categories' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Liste</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'admin_add_article_category' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Ekle</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Sorular
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_all_questions' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Liste</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Kategoriler
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'admin_question_categories' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Liste</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'admin_add_question_category' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Ekle</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% if userGroup == 'admin' %}
                    <li class="nav-header">Admin</li>
                    <li class="nav-item has-treeview">
                        <a href="{% url 'admin_register_account' %}" class="nav-link">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>
                                Kullanıcı Ekle
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="javascript:void(0)" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Loglar
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'admin_all_logs' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Tüm Loglar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin_admin_logs' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Admin Logları</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin_account_logs' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Account Logları</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>
                                Grup
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'admin_all_groups' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gruplar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin_add_group' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Grup Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-shield-alt"></i>
                            <p>
                                İzin
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'admin_all_permissions' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>İzinler</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin_add_permission' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>İzin Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>
                                Grup İzinleri
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'admin_all_groups' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Grup İzinleri</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'admin_add_group' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Grup İzni Ekle</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>