{% extends 'adminpanel/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}Ankades Makale Ekleme{% endblock %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Makale Paylaşma</h3>
                        </div>
                        <form role="form" method="post" action="{% url 'admin_add_article' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Kategori*</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="id"
                                            required>
                                        <option disabled>Lütfen bir kategori seçiniz</option>
                                        {% if articleCategory %}
                                            {% for category in articleCategory %}
                                                <option value="{{ category.id }}">{{ category.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Başlık*</label>
                                    <input type="text" class="form-control" id="title" name="title"
                                           placeholder="Başlık">
                                </div>
                                <div class="form-group mb-0">
                                    <label>İçerik*</label>
                                    <div>
                                        {{ form.description }}
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        {{ form.isPrivate }}
                                        <label class="custom-control-label" for="isPrivate">Özel</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="file">File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="file"></label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </section>
{% endblock %}