{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% block title %}Ankades Articles All Categories{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Makale Kategorileri</h3>
                        </div>
                        <button type="button" class="btn btn-success m-3" data-toggle="modal"
                                data-target="#modal-default">
                            Yeni Grup Ekle
                        </button>
                        <div class="card-body">
                            <table id="article-category" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Oluşturan</th>
                                    <th>Ad</th>
                                    <th>Oluşturulduğu Tarihi</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>Üst Kategori</th>
                                    <th>İşlemler</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if categories %}
                                    {% for category in categories %}
                                        <tr>
                                            <td>{{ category.id }}</td>
                                            <td>{{ category.creator }}</td>
                                            <td>{{ category.title }}</td>
                                            <td>{{ category.createdDate }}</td>
                                            <td>{{ category.updatedDate }}</td>
                                            <td>{{ category.isActive }}</td>
                                            <td>{{ category.isCategory }}</td>
                                            <td>
                                                <a type="button"
                                                   href="{% url 'admin_isactive_article_category' category.slug %}"
                                                   class="btn btn-warning">
                                                    {% if category.isActive %}Kapat{% else %}Aktifleştir{% endif %}
                                                </a>
                                            </td>
                                            <td>
                                                <a type="button"
                                                   href="{% url 'admin_delete_article_category' category.slug %}"
                                                   class="btn btn-danger">Sil
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Oluşturan</th>
                                    <th>Ad</th>
                                    <th>Oluşturulduğu Tarihi</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>Üst Kategori</th>
                                    <th>İşlemler</th>
                                    <th>Sil</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}