{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | Edit Social Media{% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Çağrı</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" action="{% url 'admin_edit_social_media' instance.slug %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Sosyal Medya Adı</label>
                                <input type="text" name="title" class="form-control" id="title"
                                       placeholder="Sosyal Medya Adı" required value="{{ instance.title }}">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Dosya Seçin</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="media" id="exampleInputFile" accept="{{ instance.media }}">
                                        <label class="custom-file-label" for="exampleInputFile">{% if instance.media %}{{ instance.media }}{% endif %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Yükle</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"  name="isActive" class="custom-control-input"
                                           id="exampleCheck1" {% if instance.isActive is True %}checked{% endif %}>
                                    <label class="custom-control-label" for="exampleCheck1">Aktiflik</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}