/* forms */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
select,
.form-control {
	background-color: transparent;
	border: 1px solid #ededed;
	border-radius: 15px;
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.05);
	color: #7f7f7f;
	font-size: 12px;
	height: 50px;
	letter-spacing: 0.1em;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 9px;
	width: 100%;
}

.selectmultiple {
	height: 120px !important;
}