{% extends 'ankades/layout/../layout/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/../layout/header.html' %}
            <section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60">
                <div class="container">
                    <div class="row">
                        <main class="col-lg-7 col-xl-8">
                            {% if instance %}
                                <div id="comments" class="comments-area hero-bg rounded">
                                    <h4 class="comments-title">
                                        Mesajlar
                                    </h4>
                                    <ol class="comment-list">
                                        {% for msg in message %}
                                            <li class="comment">
                                                <article class="comment-body">
                                                    <footer class="comment-meta">
                                                        <div class="comment-author vcard">
                                                            <img alt="" src="{{ msg.creator.image.url }}">
                                                            <b class="fn">
                                                                <a href="#" rel="nofollow"
                                                                   class="url fw-500">{{ msg.creator.get_full_name }}</a>
                                                                <span class="comment-metadata">
															<a href="#">
																<time datetime="2018-03-14T07:57:01+00:00">
																	{{ msg.createdDate }}
																</time>
															</a>
														</span>
                                                            </b>
                                                            <div class="float-right reply">
                                                                <a href="#respond">
                                                                    <i class="color-darkgrey fa fa-mail-reply"
                                                                       aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </footer>
                                                    <div class="comment-content">
                                                        {{ msg.message|safe }}
                                                    </div>
                                                </article>
                                            </li>
                                        {% endfor %}
                                    </ol>

                                    <div id="respond" class="comment-respond ls ms">
                                        {% if request.user.is_authenticated %}
                                            <form method="post" id="message" class="message-form"
                                                  action="{% url 'send_direct_message' user.username %}">
                                                {% csrf_token %}
                                                <p class="comment-form-comment form-group has-placeholder">
                                                    <label for="message">Comment</label>
                                                    <i class="fa fa-edit color-main"></i>
                                                    <textarea class="form-control" id="message" name="message"
                                                              cols="45"
                                                              rows="8" maxlength="65525" aria-required="true"
                                                              required="required" placeholder=""></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <button type="submit" class="btn btn-primary">
                                                        <span>Gönder</span>
                                                    </button>
                                                </p>
                                            </form>
                                        {% else %}
                                            <div class="alert alert-primary" role="alert">
                                                Yorum yapabilmeniz için, giriş yapmanız gerekmektedir.
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!-- #respond -->

                                </div>
                            {% else %}
                                <div id="comments" class="comments-area hero-bg rounded">
                                    <h4 class="comments-title">
                                        Yorumlar
                                    </h4>
                                    <h6 id="reply-title" class="comment-reply-title">İlk yorumu yapan sen ol</h6>
                                    <div id="respond" class="comment-respond ls ms">
                                        {% if request.user.is_authenticated %}
                                            <form method="post" id="message" class="message-form"
                                                  action="{% url 'send_direct_message' user.username %}">
                                                {% csrf_token %}
                                                <p class="comment-form-comment form-group has-placeholder">
                                                    <label for="comment">Comment</label>
                                                    <i class="fa fa-edit color-main"></i>
                                                    <textarea class="form-control ckeditor" id="message"
                                                              name="message"
                                                              cols="45"
                                                              rows="8" aria-required="true"
                                                              required="required" placeholder=""></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <button type="submit" class="btn btn-primary">
                                                        <span>Gönder</span>
                                                    </button>
                                                </p>
                                            </form>
                                        {% else %}
                                            <div class="alert alert-primary" role="alert">
                                                Yorum yapabilmeniz için, giriş yapmanız gerekmektedir.
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </main>
                    </div>
                </div>
            </section>

            {% include 'ankades/layout/../layout/footer.html' %}


        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->
{% endblock %}