{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% block title %}Ankacademy | All Schools{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tüm Bölümler</h3>
                        </div>
                        <div class="card-body">
                            <table id="departments" class="table-responsive table">
                                <thead>
                                <tr>
                                    <th>Bölüm</th>
                                    <th>Slug</th>
                                    <th>Bölüm Kodu</th>
                                    <th>Bölümün Okulu</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if departments %}
                                    {% for department in departments %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'admin_all_departments' department.schoolId.slug %}" style="font-size: 18px;">{{ department.title }}</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'admin_all_departments' department.schoolId.slug %}" style="font-size: 18px;">{{ department.slug }}</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'admin_all_departments' department.schoolId.slug %}" style="font-size: 18px;">{{ department.departmentCode }}</a>
                                            </td>
                                            <td>
                                                <a href="{% url 'admin_all_departments' department.schoolId.slug %}" style="font-size: 18px;">{{ department.schoolId.title }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Bölüm</th>
                                    <th>Slug</th>
                                    <th>Bölüm Kodu</th>
                                    <th>Bölümün Okulu</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tüm Okullar</h3>
                        </div>
                        <div class="card-body">
                            <table id="schools" class="table-responsive table">
                                <thead>
                                <tr>
                                    <th>Okullar</th>
                                    <th>Slug</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if schools %}
                                    {% for school in schools %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'admin_all_departments' school.slug %}" style="font-size: 18px;">{{ school.title }}</a>
                                            </td>
                                            <td>
                                                <a href="#" style="font-size: 18px;">{{ school.slug }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Okullar</th>
                                    <th>Slug</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}