{% extends 'ankacademy/layout/layout.html' %}
{% block title %}Ankacademy | Bölümler{% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ankacademy</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'all_schools' %}">{{ instance.title }}</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Bölümler</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Bölümler</h4>
                </div>
            </div>
        </div>
        <div class="row">
            {% if departments %}
                {% for department in departments %}
                    <div class="card-deck col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="float-left card-title">
                                    <a href="{% url 'lectures' department.departmentCode %}">{{ department.title|safe|truncatewords:20 }}</a>
                                </h5>
                                <h5 class="float-right card-title">
                                    <a href="{% url 'lectures' department.departmentCode %}">Derslere Git</a>
                                </h5>
                                </br>
                                <hr>
                                <small class="card-text">Okul: {{ department.schoolId.title }}
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <h5>Üzgünüz :(</h5>
                    <p>Henüz okula ait bölümler sisteme kayıt edilmemiş.</p>
                </div>
            {% endif %}
            {% if departments.has_other_pages %}
                    <div class="mt-5 mb-5">
                        <ul class="pagination pagination-split justify-content-end">
                            {% if departments.has_previous %}
                                <li class="page-item">
                                    <a href="{% if category %}?c={{ category }}&page={{ departments.previous_page_number }}{% elif sub %}?s={{ sub }}&page{{ departments.previous_page_number }}{% elif lower %}?l={{ lower }}&page={{ departments.previous_page_number }}{% else %}?page={{ departments.previous_page_number }}{% endif %}"
                                       class="page-link">
                                        <i class="fa fa-angle-left"></i></a>
                                </li>
                            {% endif %}
                            {% for i in departments.paginator.page_range %}
                                {% if departments.number == i %}
                                    <li class="page-item active">
                                        <a href="{% if category %}?c={{ category }}&page={{ i }}{% elif sub %}?s={{ sub }}&page{{ i }}{% elif lower %}?l={{ lower }}&page={{ i }}{% else %}?page={{ i }}{% endif %}" class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="{% if category %}?c={{ category }}&page={{ i }}{% elif sub %}?s={{ sub }}&page{{ i }}{% elif lower %}?l={{ lower }}&page={{ i }}{% else %}?page={{ i }}{% endif %}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if departments.has_next %}
                                <li class="page-item">
                                    <a href="{% if category %}?c={{ category }}&page={{ departments.next_page_number }}{% elif sub %}?s={{ sub }}&page{{ departments.next_page_number }}{% elif lower %}?l={{ lower }}&page={{ departments.next_page_number }}{% else %}?page={{ departments.next_page_number }}{% endif %}" class="page-link"><i
                                            class="fa fa-angle-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
        </div>
{% endblock %}