//color schemes
//1
$styleNumber: '';
$colorMain: #5b83cd; 
$colorMain2: #c280bf;
$colorMain3: #2165a9;
$colorMain4: #3197d4;
$colorMain5: #208291;
$colorMain6: #32b9c2;
$colorMain7: #8073b2;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;