//color schemes
//2
$styleNumber: '2';
$colorMain:  #208291;
$colorMain2: #8073b2;
$colorMain3: #3197d4;
$colorMain4: #2165a9;
$colorMain5: #32b9c2;
$colorMain6: #5b83cd;
$colorMain7: #c280bf;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;