{% extends 'ankades/layout/layout.html' %}
{% block title %}Ankacademy | Anasayfa{% endblock %}
{% load static %}
{% block content %}
    <section class="content">
        <div class="container-fluid mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card card-primary card-outline card-outline-tabs">
                            <div class="card-header p-0 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="articles-tab" data-toggle="pill"
                                           href="#articles" role="tab"
                                           aria-controls="articles" aria-selected="true">Makaleler</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="questions-tab" data-toggle="pill"
                                           href="#questions" role="tab"
                                           aria-controls="questions" aria-selected="false">Sorular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="courses-tab" data-toggle="pill"
                                           href="#courses" role="tab"
                                           aria-controls="courses" aria-selected="false">Kurslar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="exams-tab" data-toggle="pill"
                                           href="#exams" role="tab"
                                           aria-controls="exams" aria-selected="false">Okullar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="categories-tab" data-toggle="pill"
                                           href="#categories" role="tab"
                                           aria-controls="categories" aria-selected="false">Kategoriler</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="users-tab" data-toggle="pill"
                                           href="#users" role="tab"
                                           aria-controls="users" aria-selected="false">Kullanıcılar</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="custom-tabs-four-tabContent">
                                    <div class="tab-pane fade show active" id="articles" role="tabpanel"
                                         aria-labelledby="articles-tab">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus
                                        ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non
                                        magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper
                                        ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis
                                        aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada
                                        fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus
                                        porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est
                                        vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus
                                        rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris
                                        lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia
                                        erat eget sapien porta consectetur.
                                    </div>
                                    <div class="tab-pane fade" id="questions" role="tabpanel"
                                         aria-labelledby="questions-tab">
                                        Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris
                                        pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor
                                        sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus
                                        orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a
                                        luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus.
                                        Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc
                                        euismod pellentesque diam.
                                    </div>
                                    <div class="tab-pane fade" id="courses" role="tabpanel"
                                         aria-labelledby="courses-tab">
                                        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris.
                                        Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget
                                        condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum
                                        orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna
                                        a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam
                                        vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet
                                        sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum,
                                        lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem
                                        eu risus tincidunt eleifend ac ornare magna.
                                    </div>
                                    <div class="tab-pane fade" id="exams" role="tabpanel"
                                         aria-labelledby="exams-tab">
                                        Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris.
                                        Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget
                                        condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum
                                        orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna
                                        a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam
                                        vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet
                                        sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum,
                                        lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem
                                        eu risus tincidunt eleifend ac ornare magna.
                                    </div>
                                    <div class="tab-pane fade" id="categories" role="tabpanel"
                                         aria-labelledby="categories-tab">
                                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis
                                        tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque
                                        tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum
                                        consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec
                                        pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam.
                                        Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst.
                                        Praesent imperdiet accumsan ex sit amet facilisis.
                                    </div>
                                    <div class="tab-pane fade" id="users" role="tabpanel"
                                         aria-labelledby="users-tab">
                                        Pelledsafadsgdsagdsafdntsag esque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis
                                        tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque
                                        tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum
                                        consecteturdsafdas dolor a vestib dsafdsafulum pharetra. Donec interdum placerat urna nec
                                        pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam.
                                        Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst.
                                        Praesent imperdiet accumsan ex sit amet facilisis.dsafdasfdasf dsafdasfdsa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
