{% extends 'ankades/layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
{##}
{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">#}
{#                <div class="fw-messages-wrap ls p-normal">#}
{#                    <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->#}
{#                    <ul class="list-unstyled">#}
{#                        <li>#}
{#                            {{ message }}#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
    <div id="canvas">
        <div id="box_wrapper">

            <!-- template sections -->

            <!--topline section visible only on small screens|-->
            <section class="page_topline ls s-borderbottom c-my-10 c-my-lg-20">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 text-md-left text-center">
                            <ul class="top-includes">
                                <li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-phone"></i>
										</span>
										<span class="small-text">
											<a href="#">800 - 123-45-67</a>
										</span>
									</span>
                                </li>
                                <li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-pencil"></i>
										</span>
										<span class="small-text">
											<a href="#">maxicom@example.com</a>
										</span>
									</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-center text-md-right d-none d-md-block">
                            <ul class="top-includes">
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <span class="icon-inline">
                                            <span class="icon-styled color-main3 fs-14">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                            <span class="small-text">
                                                <a class="hover-main2" href="{% url 'logout_account' %}">Çıkış Yap</a>
                                            </span>
                                        </span>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="icon-inline">
                                            <span class="icon-styled color-main2 fs-14">
                                                <i class="fa fa-user-plus"></i>
                                            </span>
                                            <span class="small-text">
                                                <a class="hover-main2" href="{% url 'register_account' %}">Kayıt Ol</a>
                                            </span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="icon-inline">
                                            <span class="icon-styled color-main2 fs-14">
                                                <i class="fa fa-user-plus"></i>
                                            </span>
                                            <span class="small-text">
                                                <a class="hover-main2" href="{% url 'login_account' %}">Giriş Yap</a>
                                            </span>
                                        </span>
                                    </li>

                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!--eof topline-->
            {% include 'ankades/layout/navbar.html' %}
            <section class="ls s-pt-80 s-pb-70 s-py-lg-120 s-py-xl-160">
                <div class="container">
                    <div class="row">
                        <main class="col-lg-12">
                            <article>
                                <header class="entry-header mb-30">
                                    <h1 class="entry-title">Addresses</h1>
                                    <span class="edit-link">
										<a class="post-edit-link" href="#">
											Edit
											<span class="screen-reader-text">"My account"</span>
										</a>
									</span>
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <nav class="woocommerce-MyAccount-navigation hero-bg p-60">
                                            <ul>
                                                <li>
                                                    <a href="shop-account-dashboard.html">Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-orders.html">Orders</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-downloads.html">Downloads</a>
                                                </li>
                                                <li class="is-active">
                                                    <a href="shop-account-addresses.html">Addresses</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-details.html">Account details</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-login.html">Logout</a>
                                                </li>
                                            </ul>
                                        </nav>


                                        <div class="woocommerce-MyAccount-content">

                                        </div>
                                    </div>
                                </div>
                                <!-- .entry-content -->
                            </article>

                        </main>
                    </div>
                </div>
            </section>

            <footer class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="divider-20 d-none d-xl-block"></div>

                        <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate" data-animation="fadeInUp">

                            <div class="widget widget_text">
                                <h4 class="widget-title">About</h4>
                                <p>
                                    Welcome largest broadband and Internet services provider where you can choose the
                                    best plan ever.
                                </p>
                                <div class="widget widget_social_buttons">
                                    <a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-youtube-play color-bg-icon rounded-icon"
                                       title="youtube-play"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate" data-animation="fadeInUp">
                            <div class="widget links">
                                <h4 class="widget-title">Links</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Packages</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">MaxiNet Media</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Connection</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Support</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Video Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate" data-animation="fadeInUp">
                            <div class="widget services-links">
                                <h4 class="widget-title">Services</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">4K Cable TV</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">High Speed Internet</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Smartphone Service</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate" data-animation="fadeInUp">
                            <div class="widget widget_icons_list">
                                <h4 class="widget-title">Call Us</h4>
                                <p>23-456-7890</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-envelope-o color-main fs-14"></i>
                                    email us
                                </a>
                                <h4 class="widget-title">Visit Us</h4>
                                <p>246 Benson St., Ashwaubenon</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-map-marker color-main3 fs-14"></i>
                                    Get Direction
                                </a>
                            </div>
                            <div class="divider-45 d-none d-md-block d-xlz-none"></div>
                        </div>
                    </div>
                </div>
            </footer>
            <section class="page_copyright ds s-py-10 copyright-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="divider-15 d-none d-lg-block"></div>
                        <div class="col-md-12 text-center">
                            <p>&copy; Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
                        </div>
                        <div class="divider-15 d-none d-lg-block"></div>
                    </div>
                </div>
            </section>


        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->
{% endblock %}