{% extends "ankades/layout/layout.html" %}
{% block title %} Ankades Anasayfa{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <video autoplay muted loop id="myVideo">
        <source src="../../media/video.mp4" type="video/mp4">
    </video>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column" style="position: fixed !important;">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <div class="container">
                <div class="card card-container">
                    <img id="profile-img" class="profile-img-card" src="{% static "image/default-user-image.png" %}"/>
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-horizontal m-t-30" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <div class="form-group text-center m-t-20">
                            <div class="col-12">
                                <button class="btn btn-primary btn-block btn-md waves-effect waves-light" type="submit">
                                    Giriş Yap
                                </button>
                            </div>
                        </div>
                    </form>
                    <a href="#" class="forgot-password" style="color: #0d5aa7">
                        Şifrenizi mi unuttunuz ? | Hesabınız yok mu ?
                    </a>
                </div><!-- /card-container -->
            </div><!-- /container -->
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p><a href="{% url 'index' %}">Ankades.</a> Tüm Hakları Saklıdır.</p>
            </div>
        </footer>
    </div>


{% endblock %}