{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | Add Account{% endblock %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Makale Paylaşma</h3>
                        </div>
                        <form role="form" method="post" action="{% url 'admin_register_account' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Adı*</label>
                                    <input type="text" class="form-control" name="first_name" placeholder="Ad">
                                </div>
                                <div class="form-group">
                                    <label>Soyadı*</label>
                                    <input type="text" class="form-control" name="last_name" placeholder="Soyad">
                                </div>
                                <div class="form-group">
                                    <label>Kullanıcı Adı*</label>
                                    <input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı">
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="text" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Şifre*</label>
                                    <input type="password" class="form-control" name="password" placeholder="Şifre">
                                </div>
                                <div class="form-group">
                                    <label>Şifre Tekrar*</label>
                                    <input type="password" class="form-control" name="confirm_password"
                                           placeholder="Şifre Tekrar">
                                </div>
                                <div class="form-group">
                                    <label>Grup Adı*</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="groupId"
                                            required>
                                        <option disabled>Lütfen bir grup seçiniz</option>
                                        {% if groups %}
                                            {% for group in groups %}
                                                <option value="{{ group.id }}">{{ group.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="is_active" class="custom-control-input"
                                               id="is_active">
                                        <label class="custom-control-label" for="is_active">Aktiflik</label>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </section>
{% endblock %}