{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Kullanıcılar</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Ad</th>
                                    <th>Email</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Son Giriş</th>
                                    <th>Takipçi</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if users %}
                                    {% for account in users %}
                                        <tr>
                                            <td>{{ account.id }}</td>
                                            <td>{{ account.username }}</td>
                                            <td>{{ account.get_full_name }}</td>
                                            <td>{{ account.email }}</td>
                                            <td>{{ account.date_joined }}</td>
                                            <td>{{ account.last_login }}</td>
                                            <td>{{ account.follower.count }}</td>
                                            <td>{% if account.is_active %}Aktif{% else %}Engelli{% endif %}</td>
                                            <td><a type="button" class="btn btn-sm btn-warning" href="{% url 'admin_block_account' account.username %}">Aktifleştir</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Kullanıcı Adı</th>
                                    <th>Ad</th>
                                    <th>Email</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Son Giriş</th>
                                    <th>Takipçi</th>
                                    <th>İşlemler</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}