{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | Admin Panel | Add Report Subject{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Şikayet Başlığı Ekle</h3>
                        </div>
                        <div class="card-body">
                            <form method="post" class="form-control-user" action="{% url 'admin_add_report_subject' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="title">Şikayet Başlığı</label>
                                    <input type="text" id="title" class="form-control" name="title" placeholder="Şikayet Başlığı">
                                </div>
                                <div class="form-group">
                                    <label for="description">Açıklama</label>
                                    <input type="text" id="description" class="form-control" name="description" placeholder="Açıklama">
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="isActive" class="custom-control-input"
                                               id="isActive">
                                        <label class="custom-control-label" for="isActive">Aktiflik</label>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="isRoot" class="custom-control-input"
                                               id="isRoot">
                                        <label class="custom-control-label" for="isRoot">Ana Başlık</label>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="isCategory" class="custom-control-input"
                                               id="isCategory">
                                        <label class="custom-control-label" for="isCategory">Alt Başlık</label>
                                    </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-success btn-user btn-block">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}