{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Ankacademy | Reports{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tüm Kullanıcı Şikayetleri</h3>
                        </div>
                        <div class="card-body">
                            <table id="account-logs" class="table-responsive table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Oluşturan</th>
                                    <th>Oluşturulma</th>
                                    <th>Üst Başlığı</th>
                                    <th>Aktiflik</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if reportSubjects %}
                                    {% for reportSubject in reportSubjects %}
                                        <tr>
                                            <td>{{ reportSubject.title }}</td>
                                            <td>{{ reportSubject.creator }}</td>
                                            <td>{{ reportSubject.createdDate }}</td>
                                            <td>{{ reportSubject.parentId.title }}</td>
                                            <td>{{ reportSubject.isActive }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Oluşturan</th>
                                    <th>Oluşturulma</th>
                                    <th>Üst Başlığı</th>
                                    <th>Aktiflik</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}