{% extends "admin/layout/layout.html" %}
{% block title %}Ankades Dashboard{% endblock %}
{% load static %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Kullanıcı</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Ankades</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                style="list-style: none"
                                    {% if message.tags %} {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-graduate bg-primary text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Öğrenci Sayısı</h5>
                                </div>
                                <h3 class="mt-4">
                                    {% if ogrenci %}
                                        {{ ogrenci.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">75%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-check bg-success text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Öğretmen Sayısı</h5>
                                </div>
                                <h3 class="mt-4">
                                    {% if ogretmen %}
                                        {{ ogretmen.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                         aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">88%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-cog bg-secondary text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Moderatör Sayısı</h5>
                                </div>
                                <h3 class="mt-4">
                                    {% if moderator %}
                                        {{ moderator.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 68%"
                                         aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">68%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="fas fa-user-lock bg-danger text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Admin Sayısı</h5>
                                </div>
                                <h3 class="mt-4">
                                    {% if admin %}
                                        {{ admin.count }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 82%"
                                         aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span class="float-right">82%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Makale</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ankades</a></li>
                                        <li class="breadcrumb-item active">Makaleler</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xl-6">
                                <div class="card">
                                    <div class="card-heading p-4">
                                        <div class="mini-stat-icon float-right">
                                            <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="font-16">Makale Sayısı</h5>
                                        </div>
                                        <h3 class="mt-4">{{ articleCount }}</h3>
                                        <div class="progress mt-4" style="height: 4px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted mt-2 mb-0">Previous period<span
                                                class="float-right">75%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xl-6">
                                <div class="card">
                                    <div class="card-heading p-4">
                                        <div class="mini-stat-icon float-right">
                                            <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="font-16">Makale Kategori Sayısı</h5>
                                        </div>
                                        <h3 class="mt-4">{{ articleCategoryCount }}</h3>
                                        <div class="progress mt-4" style="height: 4px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                                 aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted mt-2 mb-0">Previous period<span
                                                class="float-right">88%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Kurs</h4>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-right">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Ankades</a></li>
                                        <li class="breadcrumb-item active">Kurs</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xl-6">
                                <div class="card">
                                    <div class="card-heading p-4">
                                        <div class="mini-stat-icon float-right">
                                            <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="font-16">Kurs Sayısı</h5>
                                        </div>
                                        <h3 class="mt-4">{{ courseCount }}</h3>
                                        <div class="progress mt-4" style="height: 4px;">
                                            <div class="progress-bar bg-primary"
                                                 role="progressbar" style="width: 75%"
                                                 aria-valuenow="75" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted mt-2 mb-0">Previous period<span
                                                class="float-right">75%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-6">
                                <div class="card">
                                    <div class="card-heading p-4">
                                        <div class="mini-stat-icon float-right">
                                            <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                                        </div>
                                        <div>
                                            <h5 class="font-16">Kurs Kategori Sayısı</h5>
                                        </div>
                                        <h3 class="mt-4">{{ courseCategoryCount }}</h3>
                                        <div class="progress mt-4" style="height: 4px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                                 aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <p class="text-muted mt-2 mb-0">Previous period<span
                                                class="float-right">88%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">Sınav Soruları</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Ankades</a></li>
                                <li class="breadcrumb-item active">Sınavlar</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Okul Sayısı</h5>
                                </div>
                                <h3 class="mt-4">{{ school }}</h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 75%"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span
                                        class="float-right">75%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Bölüm Sayısı</h5>
                                </div>
                                <h3 class="mt-4">{{ department }}</h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                         aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span
                                        class="float-right">88%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Ders Sayısı</h5>
                                </div>
                                <h3 class="mt-4">{{ lecture }}</h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-primary"
                                         role="progressbar" style="width: 75%"
                                         aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span
                                        class="float-right">75%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="card">
                            <div class="card-heading p-4">
                                <div class="mini-stat-icon float-right">
                                    <i class="mdi mdi-briefcase-check bg-success text-white"></i>
                                </div>
                                <div>
                                    <h5 class="font-16">Sınav Sayısı</h5>
                                </div>
                                <h3 class="mt-4">{{ exam }}</h3>
                                <div class="progress mt-4" style="height: 4px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 88%"
                                         aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="text-muted mt-2 mb-0">Previous period<span
                                        class="float-right">88%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Son Etkinlikler</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Oluşturan</th>
                                            <th scope="col">Uygulama</th>
                                            <th scope="col">Başlık</th>
                                            <th scope="col">Method</th>
                                            <th scope="col">IP</th>
                                            <th scope="col" colspan="2">Oluşturulma</th>
                                            <th scope="col" colspan="2">Güncellenme</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if activityLimit %}
                                            {% for act in activityLimit %}
                                                <tr>
                                                    <td>
                                                        {{ act.creator }}
                                                    </td>
                                                    <td>{{ act.application }}</td>
                                                    <td>{{ act.title }}</td>
                                                    <td>{{ act.method }}</td>
                                                    <td>127.0.0.1</td>
                                                    <td>{{ act.createdDate }}</td>
                                                    <td>{{ act.updatedDate }}</td>
                                                    <td>
                                                        <div>
                                                            <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Area Chart</h4>
                                <div id="morris-area-example" class="morris-charts morris-chart-height"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Donut Chart</h4>
                                <div id="morris-donut-example" class="morris-charts morris-chart-height"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Friends Suggestions</h4>
                                <div class="friends-suggestions">
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2">Ralph Ramirez</h5>
                                                <p class="text-muted">3 Friend suggest</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2">Patrick Beeler</h5>
                                                <p class="text-muted">17 Friend suggest</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2">Victor Zamora</h5>
                                                <p class="text-muted">12 Friend suggest</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="border-bottom position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2">Bryan Lacy</h5>
                                                <p class="text-muted">18 Friend suggest</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="friends-suggestions-list">
                                        <div class="position-relative">
                                            <div class="float-left mb-0 mr-3">
                                                <img src="" alt=""
                                                     class="rounded-circle thumb-md">
                                            </div>
                                            <div class="suggestion-icon float-right mt-2 pt-1">
                                                <i class="mdi mdi-plus"></i>
                                            </div>

                                            <div class="desc">
                                                <h5 class="font-14 mb-1 pt-2">James Sorrells</h5>
                                                <p class="text-muted mb-1">6 Friend suggest</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Sales Analytics</h4>
                                <div id="morris-line-example" class="morris-chart" style="height: 360px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title mb-4">Son Etkinlikler</h4>
                                <ol class="activity-feed mb-0">
                                    {% if activityLimit %}
                                        {% for act in activityLimit %}
                                            <li class="feed-item">
                                                <div class="feed-item-list">
                                                    <p class="text-muted mb-1">{{ act.createdDate }}</p>
                                                    <p class="font-15 mt-0 mb-0">{{ act.method }}: {{ act.title }}
                                                        <b class="text-primary">{{ act.application }}</b>
                                                    </p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="feed-item">
                                            <div class="feed-item-list">
                                                <p class="text-muted mb-1">-</p>
                                                <p class="font-15 mt-0 mb-0">Veri Bulunamadı !</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ol>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'admin/layout/footer.html' %}
    </div>
{% endblock %}