{% extends "admin/layout/layout.html" %}
{% block title %}Ankades Admin Panel{% endblock %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="card card-pages shadow-none">
            <div class="card-body">
                <h5 class="font-18 text-center">Ankades Admin Panel</h5>
                {% if messages %}
                    {% for message in messages %}
                        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
                            <div class="fw-messages-wrap ls p-normal">
                                <ul class="list-unstyled">
                                    <li>
                                        {{ message }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <form class="form-horizontal m-t-30" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <div class="form-group text-center m-t-20">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">
                                Giriş Yap
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- END wrapper -->
{% endblock %}