{% extends 'ankades/layout/layout.html' %}
{% block title %}Ankacademy | {{ instance.get_full_name }}{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="img-circle"
                                     src="{{ instance.image.url }}" alt="{{ instance.get_full_name }}"
                                     style="max-height: 400px; width: 100%;">
                            </div>
                            <h3 class="profile-username text-center">{{ instance.get_full_name }}</h3>
                            <p class="text-muted text-center">{{ userDetailGroup.title }}</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Takipçiler</b>
                                    <a class="float-right">
                                        {% if followers %}
                                            {{ followers.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <b>Takip Edilen</b>
                                    <a class="float-right">
                                        {% if followings %}
                                            {{ followings.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                            {% if instance.username != request.user.username %}
                                <a type="button" href="{% url 'follow_account' instance.username %}"
                                   class="btn btn-primary btn-block"><i class="far fa-thumbs-up"></i>
                                    {% if existFollower %}
                                        Takibi Bırak
                                    {% else %}
                                        Takip Et
                                    {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hakkımda</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Eğitim</strong>
                            <p class="text-muted">
                                {% if instance.graduate %}
                                    {{ instance.graduate }}
                                {% else %}
                                    {% if instance == request.user %}{{ instance.get_full_name }} eğitim bilginiz
                                        bulunamadı{% else %}{{ instance.get_full_name }} eğitim bilgilerini henüz
                                        paylaşmamış
                                    {% endif %}
                                {% endif %}
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> {% if instance == request.user %}
                                Yaşadığın Şehir{% else %}Yaşadığı Şehir{% endif %}</strong>
                            <p class="text-muted">Malibu, California</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Yetenekler</strong>
                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Biyografi</strong>
                            <p class="text-muted">
                                {% if instance.bio %}{{ instance.bio }}{% else %}{{ instance.get_full_name }} henüz
                                    biyografisini paylaşmamış{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                {% if userDetailGroup != 'uye' and userDetailGroup != 'ogrenci' %}
                                    <li class="nav-item"><a class="nav-link active" href="#articles"
                                                            data-toggle="tab">Makaleler</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#courses"
                                                            data-toggle="tab">Kurslar</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link" href="#questions"
                                                        data-toggle="tab">Sorular</a></li>
                                {% if userDetailGroup != 'uye' %}
                                    <li class="nav-item"><a class="nav-link" href="#exams"
                                                            data-toggle="tab">Sınav Arşivi</a></li>
                                {% endif %}
                                <li class="nav-item"><a class="nav-link" href="#followers"
                                                        data-toggle="tab">Takipçiler</a></li>
                                <li class="nav-item"><a class="nav-link" href="#followings"
                                                        data-toggle="tab">Takip Edilen</a></li>
                                <li class="nav-item"><a class="nav-link" href="#cv"
                                                        data-toggle="tab">CV</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="articles">
                                    <div class="timeline timeline-inverse mt-3">
                                        {% if articles %}
                                            {% for article in articles %}
                                                <div>
                                                    <i class="fas fa-book-open bg-primary"></i>
                                                    <div class="timeline-item">
                                                        <span class="time"><i
                                                                class="far fa-clock"></i> {{ article.createdDate }}</span>
                                                        <div class="timeline-body">
                                                            {{ article.description|safe|truncatewords:250 }}
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="{% url 'article_detail' username=article.creator.username slug=article.slug %}"
                                                               class="btn btn-primary btn-sm">Devamı</a>
                                                            {% if article.creator == request.user %}
                                                                <a href="{% url 'edit_article' slug=article.slug %}"
                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                <a type="button" class="btn btn-sm btn-danger"
                                                                   data-toggle="modal"
                                                                   data-target="#article-{{ article.slug }}"><i
                                                                        class="fas fa-trash"></i>Sil
                                                                </a>
                                                                {#delete modal#}
                                                                <div class="modal fade" id="article-{{ article.slug }}">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">UYARI !</h4>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p class="text-left">Gerçekten "<span
                                                                                        class="text-bold">{{ article.title }}</span>"
                                                                                    adlı makalenizi silmek istediğinize
                                                                                    emin misiniz?&hellip;
                                                                                </p>
                                                                                <br>
                                                                                <button type="button"
                                                                                        class="btn btn-success"
                                                                                        data-dismiss="modal">İptal
                                                                                </button>
                                                                                <a type="button"
                                                                                   href="{% url 'delete_article' article.slug %}"
                                                                                   class="btn btn-danger">Sil
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {#end of delete modal#}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row">
                                                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                    <p>Makale bulunamadı.</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="courses">
                                    <div class="timeline timeline-inverse mt-3">
                                        {% if courses %}
                                            {% for course in courses %}
                                                <div>
                                                    <i class="fas fa-book-open bg-primary"></i>
                                                    <div class="timeline-item">
                                                        <span class="time"><i
                                                                class="far fa-clock"></i> {{ course.createdDate }}</span>
                                                        <div class="timeline-body">
                                                            {{ course.description|safe|truncatewords:250 }}
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row">
                                                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                    <p>Kurs bulunamadı.</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="questions">
                                    <div class="timeline timeline-inverse mt-3">
                                        {% if questions %}
                                            {% for question in questions %}
                                                <div>
                                                    <i class="fas fa-question bg-primary"></i>
                                                    <div class="timeline-item">
                                                        <span class="time"><i
                                                                class="far fa-clock"></i> {{ question.createdDate }}</span>
                                                        <div class="timeline-body">
                                                            {{ question.description|safe|truncatewords:250 }}
                                                        </div>
                                                    <div class="timeline-footer">
                                                            <a href="{% url 'question_detail' slug=question.slug questionNumber=question.questionNumber %}"
                                                               class="btn btn-primary btn-sm">Soruya Git</a>
                                                            {% if question.creator == request.user %}
                                                                <a href="{% url 'edit_question' slug=question.slug questionNumber=question.questionNumber %}"
                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                <a type="button" class="btn btn-sm btn-danger"
                                                                   data-toggle="modal"
                                                                   data-target="#question-{{ question.slug }}"><i
                                                                        class="fas fa-trash"></i>Sil
                                                                </a>
                                                                {#delete modal#}
                                                                <div class="modal fade" id="question-{{ question.slug }}">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">UYARI !</h4>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p class="text-left">Gerçekten "<span
                                                                                        class="text-bold">{{ question.title }}</span>"
                                                                                    başlıklı sorunuzu silmek istediğinize
                                                                                    emin misiniz?&hellip;
                                                                                </p>
                                                                                <br>
                                                                                <button type="button"
                                                                                        class="btn btn-success"
                                                                                        data-dismiss="modal">İptal
                                                                                </button>
                                                                                <a type="button"
                                                                                   href="{% url 'delete_question' question.slug %}"
                                                                                   class="btn btn-danger">Sil
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {#end of delete modal#}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row">
                                                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                    <p>Soru bulunamadı.</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="exams">
                                    <div class="timeline timeline-inverse mt-3">
                                        {% if exams %}
                                            {% for exam in exams %}
                                                <div>
                                                    <i class="fas fa-question bg-primary"></i>
                                                    <div class="timeline-item">
                                                        <span class="time"><i
                                                                class="far fa-clock"></i> {{ exam.createdDate }}</span>
                                                        <div class="timeline-body">
                                                            {{ exam.description|safe|truncatewords:250 }}
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="#" class="btn btn-primary btn-sm">Sınav Arşivine
                                                                Git</a>
                                                            {% if instance.username == request.user.username %}
                                                                <a href="#" class="btn btn-danger btn-sm">Sil</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row">
                                                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                    <p>Sınav arşivi bulunamadı.</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="followers">
                                    <div class="card-body p-0">
                                        <table class="table table-striped projects">
                                            <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Resim
                                                </th>
                                                <th>
                                                    İsim
                                                </th>
                                                <th>
                                                    Kullanıcı Adı
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if followers %}
                                                {% for follower in followers %}
                                                    <tr>
                                                        <td>
                                                            {{ forloop.counter }}
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <img alt="{{ follower.followerId.get_full_name }}"
                                                                         class="table-avatar" width="40" height="40"
                                                                         src="{{ follower.followerId.image.url }}">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'account_detail' follower.followerId.username %}">
                                                                {{ follower.followerId.get_full_name }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'account_detail' follower.followerId.username %}">
                                                                {{ follower.followerId.username }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <tfooter>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Resim
                                                    </th>
                                                    <th>
                                                        İsim
                                                    </th>
                                                    <th>
                                                        Kullanıcı Adı
                                                    </th>
                                                </tr>
                                            </tfooter>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="followings">
                                    <div class="card-body p-0">
                                        <table class="table table-striped projects">
                                            <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    Resim
                                                </th>
                                                <th>
                                                    İsim
                                                </th>
                                                <th>
                                                    Kullanıcı Adı
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if followings %}
                                                {% for following in followings %}
                                                    <tr>
                                                        <td>
                                                            {{ forloop.counter }}
                                                        </td>
                                                        <td>
                                                            <ul class="list-inline">
                                                                <li class="list-inline-item">
                                                                    <img alt="{{ following.followerId.get_full_name }}"
                                                                         class="table-avatar" width="40" height="40"
                                                                         src="{{ following.followingId.image.url }}">
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'account_detail' following.followingId.username %}">
                                                                {{ following.followingId.get_full_name }}
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'account_detail' following.followingId.username %}">
                                                                {{ following.followingId.username }}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <tfooter>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Resim
                                                    </th>
                                                    <th>
                                                        İsim
                                                    </th>
                                                    <th>
                                                        Kullanıcı Adı
                                                    </th>
                                                </tr>
                                            </tfooter>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}