<div class="col-md-3">
    {#                    <!-- Profile Image -->#}
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="{{ userDetail.image.url }}" alt="{{ userDetail.get_full_name }}">
            </div>
            <h3 class="profile-username text-center">{{ userDetail.get_full_name }}</h3>

            <p class="text-muted text-center">{{ userGroup.title }}</p>
            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Takipçiler</b>
                    <a class="float-right">
                        {% if followers %}
                            {{ followers.count }}
                        {% else %}
                            0
                        {% endif %}
                    </a>
                </li>
                <li class="list-group-item">
                    <b>Takip Edilen</b>
                    <a class="float-right">
                        {% if followings %}
                            {{ followings.count }}
                        {% else %}
                            0
                        {% endif %}
                    </a>
                </li>
                <li class="list-group-item">
                    <b>Friends</b> <a class="float-right">13,287</a>
                </li>
            </ul>
            {% if userDetail.username != currentUser.username %}
                <a type="button" href="{% url 'follow_account' userDetail.username %}"
                   class="btn btn-primary btn-block"><i class="far fa-thumbs-up"></i> Takip
                </a>
            {% endif %}
        </div>
        {#                        <!-- /.card-body -->#}
    </div>
    {#                    <!-- /.card -->#}
    {#                    <!-- About Me Box -->#}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Hakkımda</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Eğitim</strong>
            <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
            </p>
            <hr>
            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
            <p class="text-muted">Malibu, California</p>
            <hr>
            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
            <p class="text-muted">
                <span class="tag tag-danger">UI Design</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">PHP</span>
                <span class="tag tag-primary">Node.js</span>
            </p>
            <hr>
            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                fermentum enim neque.</p>
        </div>
        {#                        <!-- /.card-body -->#}
    </div>
    {#                    <!-- /.card -->#}
</div>