{% extends 'ankades/layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    {# CSS FILES FOR THIS PAGE #}
    <link rel="stylesheet" href="{% static "ankades/css/shop.css" %}" class="color-switcher-link">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    {# END #}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <!-- Unyson messages modal -->

    {% if messages %}
        {% for message in messages %}
            <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
                <div class="fw-messages-wrap ls p-normal">
                    <ul class="list-unstyled">
                        <li>
                            {{ message }}
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/header.html' %}
            <section class="ls s-pt-0 s-pb-0 s-py-lg-60 s-py-xl-60">
                <div class="container">
                    <main class="col-lg-12">
                        <article>
                            <header class="entry-header">
                                <h1 class="entry-title">{{ form.get_full_name }}</h1>
                            </header>
                            <div class="entry-content">
                                <div class="woocommerce">
                                    <nav class="woocommerce-MyAccount-navigation hero-bg p-60">
                                        <ul>
                                            <li>
                                                <a href="shop-account-dashboard.html">Dashboard</a>
                                            </li>
                                            <li>
                                                <a href="shop-account-orders.html">Orders</a>
                                            </li>
                                            <li>
                                                <a href="shop-account-downloads.html">Downloads</a>
                                            </li>
                                            <li class="is-active">
                                                <a href="shop-account-addresses.html">Addresses</a>
                                            </li>
                                            <li>
                                                <a href="shop-account-details.html">Account details</a>
                                            </li>
                                            <li>
                                                <a href="shop-account-login.html">Logout</a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="woocommerce-MyAccount-content">
                                        <form class="form-horizontal" enctype="multipart/form-data" method="post">
                                            {% csrf_token %}
                                            {{ form.media }}
                                            {{ form|crispy }}
                                            {{ form_as.p }}
                                            <br>
                                            <button class="btn text-left btn-primary waves-effect waves-light"
                                                    type="submit">
                                                Kaydet
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>

                    </main>
                </div>
            </section>

            {% include 'ankades/layout/footer.html' %}

        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->
{% endblock %}