{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <!-- Main content -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ currentUser.image.url }}"
                                     alt="{{ currentUser.get_full_name }}">
                            </div>
                            <h3 class="profile-username text-center">{{ currentUser.get_full_name }}</h3>
                            <p class="text-muted text-center">{{ userGroup.title }}</p>
                            <hr>
                            <strong><i class="fas fa-book mr-1"></i> Education</strong>
                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Malibu, California</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                fermentum enim neque.</p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#settings"
                                                        data-toggle="tab">Düzenle</a></li>
                                <li class="nav-item"><a class="nav-link" href="#socialmedia"
                                                        data-toggle="tab">Sosyal Medya</a></li>
                                <li class="nav-item"><a class="nav-link" href="#email"
                                                        data-toggle="tab">Email</a></li>
                                <li class="nav-item"><a class="nav-link" href="#username"
                                                        data-toggle="tab">Kullanıcı Adı</a></li>
                                <li class="nav-item"><a class="nav-link" href="#password"
                                                        data-toggle="tab">Şifre</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="settings">
                                    <form class="form-horizontal" role="form" method="post" id="edit-profile"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="first_name" class="col-sm-2 col-form-label">Ad:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="first_name"
                                                       name="first_name"
                                                       placeholder="Ad" value="{{ currentUser.first_name }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="last_name" class="col-sm-2 col-form-label">Soyad:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="last_name" name="last_name"
                                                       placeholder="Soyad" value="{{ currentUser.last_name }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'socialmedia' %}active{% endif %}" id="socialmedia">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Sosyal Medya</th>
                                            <th>URL</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if sm %}
                                            {% for socialMedia in sm %}
                                                <tr>
                                                    <td>{{ socialMedia.title }}</td>
                                                    <td contenteditable="true">
                                                        <form method="post" action="{% url 'add_social_media_to_user' %}">
                                                            {% csrf_token %}
                                                            <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                       name="{{ socialMedia.slug }}"
                                                                       value="{% if accountSocialMedia.socialMediaId.slug == socialMedia.slug %}{{ accountSocialMedia.url }}{% endif %}"
                                                                       placeholder="URL (https://{% if socialMedia.slug == 'google-drive' %}drive.google.com{% else %}www.{{ socialMedia.slug }}.com/{{ currentUser.username }}{% endif %})">
                                                                    <span class="input-group-append">
                                                                        <button type="submit"
                                                                            class="btn btn-success btn-md">Hesabı Ekle</button>
                                                                    </span>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        <tfoot>
                                        <tr>
                                            <th>Sosyal Medya</th>
                                            <th>URL</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'email' %}active{% endif %}" id="email">
                                    <form class="form-horizontal" role="form" method="post"
                                          action="{% url 'edit_email' %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-2 col-form-label">Email:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="email"
                                                       name="email"
                                                       placeholder="Email" value="{{ instance.email }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'username' %}active{% endif %}" id="username">
                                    <p>
                                        <b>"{{ instance.username }}"</b> olan kullanıcı adınızı gerçekten değiştirmek
                                        istediğinize emin misiniz?
                                    </p>
                                    <hr>
                                    <p>
                                        <b>UYARI: Kullanıcı adınızı değiştirdiğiniz zaman, diğer kullanıcılar, sizin
                                            profilinize artık yeni kullanıcı
                                            adınızla erişebilecekler. Yine de değiştirmek istiyorsanız aşağıdaki
                                            "Değiştir" butonuna tıklayınız.</b>
                                    </p>
                                    <button type="button" class="btn btn-md btn-danger"
                                            data-toggle="modal"
                                            data-target="#modal-edit-username">Değiştir
                                    </button>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'password' %}active{% endif %}" id="password">
                                    <form class="form-horizontal" role="form" method="post" id="edit-password"
                                          action="{% url 'edit_password' %}">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="old_password" class="col-sm-2 col-form-label">Eski
                                                Şifreniz:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="old_password"
                                                       name="old_password"
                                                       placeholder="Eski Şifreniz" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label">Yeni Şifreniz:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="password"
                                                       name="password"
                                                       placeholder="Yeni Şifreniz" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="old_password" class="col-sm-2 col-form-label">Yeni Şifreniz
                                                Tekrar:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="confirm_password"
                                                       name="confirm_password"
                                                       placeholder="Yeni Şifreniz Tekrar" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                {#                                Modal for username#}
                                <div class="modal fade"
                                     id="modal-edit-username">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">UYARI !</h4>
                                                <button type="button" class="close"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-left">Gerçekten "<span
                                                        class="text-bold">{{ instance.username }}</span>"
                                                    kullanıcı adınızı değiştirmek istediğinize emin
                                                    misiniz?&hellip;</p>
                                                <br>
                                                <form method="post"
                                                      action="{% url 'edit_username' %}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="username"
                                                               placeholder="Kullanıcı Adı"
                                                               value="{{ instance.username }}">
                                                    </div>
                                                    <br>
                                                    <button type="button"
                                                            class="btn btn-danger"
                                                            data-dismiss="modal">İptal
                                                    </button>
                                                    <button type="submit"
                                                            class="btn btn-success">Değiştir
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.tab-pane -->

                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}