{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="{{ instance.image.url }}" alt="{{ instance.get_full_name }}" style="max-height: 300px; width: 100%">
                            </div>
                            <h3 class="profile-username text-center">{{ instance.get_full_name }}</h3>
                            <p class="text-muted text-center">{{ userGroup.title }}</p>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Takipçiler</b>
                                    <a class="float-right">
                                        {% if followers %}
                                            {{ followers.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <b>Takip Edilen</b>
                                    <a class="float-right">
                                        {% if followings %}
                                            {{ followings.count }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Hakkımda</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Eğitim</strong>
                            <p class="text-muted">
                                {{ request.user.graduate }}
                            </p>
                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                            <p class="text-muted">Malibu, California</p>
                            <hr>
                            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                            <p class="text-muted">
                                <span class="tag tag-danger">UI Design</span>
                                <span class="tag tag-success">Coding</span>
                                <span class="tag tag-info">Javascript</span>
                                <span class="tag tag-warning">PHP</span>
                                <span class="tag tag-primary">Node.js</span>
                            </p>
                            <hr>
                            <strong><i class="far fa-file-alt mr-1"></i> Biyografi</strong>
                            <p class="text-muted">
                                {% if request.user.bio %}{{ request.user.bio }}{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#settings"
                                                        data-toggle="tab">Düzenle</a></li>
                                <li class="nav-item"><a class="nav-link" href="#photo"
                                                        data-toggle="tab">Fotoğraf</a></li>
                                <li class="nav-item"><a class="nav-link" href="#graduate"
                                                        data-toggle="tab">Eğitim</a></li>
                                <li class="nav-item"><a class="nav-link" href="#bio"
                                                        data-toggle="tab">Biyografi</a></li>
                                <li class="nav-item"><a class="nav-link" href="#socialmedia"
                                                        data-toggle="tab">Sosyal Medya</a></li>
                                <li class="nav-item"><a class="nav-link" href="#email"
                                                        data-toggle="tab">Email</a></li>
                                <li class="nav-item"><a class="nav-link" href="#username"
                                                        data-toggle="tab">Kullanıcı Adı</a></li>
                                <li class="nav-item"><a class="nav-link" href="#password"
                                                        data-toggle="tab">Şifre</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="settings">
                                    <form class="form-horizontal" role="form" method="post" id="edit-profile"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="first_name" class="col-sm-2 col-form-label">Ad:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="first_name"
                                                       name="first_name"
                                                       placeholder="Ad" value="{{ request.user.first_name }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="last_name" class="col-sm-2 col-form-label">Soyad:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="last_name" name="last_name"
                                                       placeholder="Soyad" value="{{ request.user.last_name }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="photo">
                                    <form class="form-horizontal" role="form" action="{% url 'edit_profile_photo' %}"
                                          method="post" id="edit-photo"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleInputFile">Dosya Seçin</label>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="image"
                                                           id="image">
                                                    <label class="custom-file-label" for="image">{% if instance.image %}{{ instance.image }}{% else %}Dosya seçin{% endif %}</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="">Yükle</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane" id="graduate">
                                    <form class="form-horizontal" role="form" action="{% url 'edit_graduate' %}"
                                          method="post" id="edit-graduate">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="graduate" class="col-sm-2 col-form-label">Okulunuz:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="graduate" name="graduate"
                                                       placeholder="Okulunuzun Adı" value="{% if request.user.graduate != None %}{{ request.user.graduate }}{% endif %}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane" id="bio">
                                    <form class="form-horizontal" role="form" action="{% url 'edit_bio' %}"
                                          method="post" id="edit-bio">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="bio" class="col-sm-2 col-form-label">Okulunuz:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="bio" name="bio"
                                                       placeholder="Kendinizi bize tanıtmak ister misiniz?" value="{% if request.user.bio != None %}{{ request.user.bio }}{% endif %}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane" id="socialmedia">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Sosyal Medya</th>
                                            <th>URL</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if sm %}
                                            {% for socialMedia in sm %}
                                                <tr>
                                                    <td>{{ socialMedia.title }}</td>
                                                    <td contenteditable="true">
                                                        <form method="post"
                                                              action="{% url 'add_social_media_to_user' %}">
                                                            {% csrf_token %}
                                                            <div class="form-group row">
                                                                <label for="{{ socialMedia.slug }}"
                                                                       class="col-sm-2 col-form-label">{{ socialMedia.url }}</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                           id="{{ socialMedia.slug }}"
                                                                           name="{{ socialMedia.slug }}"
                                                                           placeholder="kullaniciadiniz"
                                                                            {% if accountSocialMedia.socialMediaId.slug == socialMedia.slug %}
                                                                           value="{{ accountSocialMedia.socialMediaUsername }}"
                                                                            {% endif %}>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset-sm-2 col-sm-10">
                                                                    <button type="submit" class="btn btn-success">
                                                                        Kaydet
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        <tfoot>
                                        <tr>
                                            <th>Sosyal Medya</th>
                                            <th>URL</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'email' %}active{% endif %}" id="email">
                                    <form class="form-horizontal" role="form" method="post"
                                          action="{% url 'edit_email' %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-2 col-form-label">Email:</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="email"
                                                       name="email"
                                                       placeholder="Email" value="{{ instance.email }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'username' %}active{% endif %}" id="username">
                                    <p>
                                        <b>"{{ instance.username }}"</b> olan kullanıcı adınızı gerçekten değiştirmek
                                        istediğinize emin misiniz?
                                    </p>
                                    <hr>
                                    <p>
                                        <b>UYARI: Kullanıcı adınızı değiştirdiğiniz zaman, diğer kullanıcılar, sizin
                                            profilinize artık yeni kullanıcı
                                            adınızla erişebilecekler. Yine de değiştirmek istiyorsanız aşağıdaki
                                            "Değiştir" butonuna tıklayınız.</b>
                                    </p>
                                    <button type="button" class="btn btn-md btn-danger"
                                            data-toggle="modal"
                                            data-target="#modal-edit-username">Değiştir
                                    </button>
                                </div>
                                {#                                end of tab content#}
                                <div class="tab-pane {% if active_tab == 'password' %}active{% endif %}" id="password">
                                    <form class="form-horizontal" role="form" method="post" id="edit-password"
                                          action="{% url 'edit_password' %}">
                                        {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="old_password" class="col-sm-2 col-form-label">Eski
                                                Şifreniz:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="old_password"
                                                       name="old_password"
                                                       placeholder="Eski Şifreniz" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-2 col-form-label">Yeni Şifreniz:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="password"
                                                       name="password"
                                                       placeholder="Yeni Şifreniz" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="old_password" class="col-sm-2 col-form-label">Yeni Şifreniz
                                                Tekrar:</label>
                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="confirm_password"
                                                       name="confirm_password"
                                                       placeholder="Yeni Şifreniz Tekrar" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {#                                end of tab content#}
                                {#                                Modal for username#}
                                <div class="modal fade"
                                     id="modal-edit-username">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">UYARI !</h4>
                                                <button type="button" class="close"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-left">Gerçekten "<span
                                                        class="text-bold">{{ instance.username }}</span>"
                                                    kullanıcı adınızı değiştirmek istediğinize emin
                                                    misiniz?&hellip;</p>
                                                <br>
                                                <form method="post"
                                                      action="{% url 'edit_username' %}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="username"
                                                               placeholder="Kullanıcı Adı"
                                                               value="{{ instance.username }}">
                                                    </div>
                                                    <br>
                                                    <button type="button"
                                                            class="btn btn-danger"
                                                            data-dismiss="modal">İptal
                                                    </button>
                                                    <button type="submit"
                                                            class="btn btn-success">Değiştir
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.tab-pane -->

                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}