{% extends 'ankades/layout/layout.html' %}
{% block title %}Ankacademy | Kurslar{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                {% if courses %}
                    {% if course_pagination %}
                        {% for course in course_pagination %}
                            <div class="card-deck col-lg-3 col-md-3 col-xs-12 col-sm-12 mb-5">
                                <div class="card">
                                    {% if course.media %}
                                        <img class="card-img-top" src="{{ course.media.url }}" alt="Card image cap"
                                             width="504" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title"><a
                                                    href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                                            </h5>
                                            <p class="card-text">{{ course.description|safe|truncatechars:255 }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted float-left">{{ course.creator.get_full_name }}</small>
                                            <small class="text-muted float-left ml-2">{{ course.coursecomment_set.count }}
                                                Yorum</small>
                                            <small class="text-muted ml-2 float-right">{{ course.likes.count }}
                                                Beğeni</small>
                                            <small class="text-muted float-right">{{ course.view }}
                                                Görüntülenme</small>
                                        </div>
                                    {% else %}
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-top: 177px"><a
                                                    href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                                            </h5>
                                            <p class="card-text">{{ course.description|safe|truncatechars:255 }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted float-left">{{ course.creator.get_full_name }}</small>
                                            <small class="text-muted float-left ml-2">{{ course.coursecomment_set.count }}
                                                Yorum</small>
                                            <small class="text-muted ml-2 float-right">{{ course.likes.count }}
                                                Beğeni</small>
                                            <small class="text-muted float-right">{{ course.view }}
                                                Görüntülenme</small>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <h5>Üzgünüz :(</h5>
                        <p>Henüz bir kurs paylaşılmamış.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}