{% extends 'ankades/layout/layout.html' %}
{% block title %}Ankacademy | Kurslar{% endblock %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 p-3">
                    {% if category %}
                        <form method="get">
                            <div class="form-group">
                                <div class="select2-purple">
                                    <select type="search" class="select2" multiple="multiple" disabled
                                            data-placeholder="Kategorilerde Arayın"
                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                        {% for cat in top %}
                                            <option selected value="{{ cat.catNumber }}">{{ cat.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kategori</label>
                                <div class="select2-purple">
                                    <select type="search" class="select2" multiple="multiple"
                                            data-placeholder="Kategorilerde Arayın"
                                            data-dropdown-css-class="select2-purple" style="width: 100%;"
                                            name="s">
                                        {% for optgroup in top %}
                                            <optgroup label="{{ optgroup.title }}">
                                                {% for subCat in sub %}
                                                    {% if subCat.parentId.catNumber == optgroup.catNumber %}
                                                        <option value="{{ subCat.catNumber }}">{{ subCat.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-3">Ara</button>
                            <a href="{% url 'all_courses' %}" class="btn btn-danger btn-block mb-3">Sıfırla</a>
                        </form>
                    {% elif sub %}
                        <form method="get">
                            <div class="form-group">
                                <div class="select2-purple">
                                    <select type="search" class="select2" multiple="multiple" disabled
                                            data-placeholder="Kategorilerde Arayın"
                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                        {% for cat in subCat %}
                                            <option selected value="{{ cat.catNumber }}">{{ cat.title }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kategori</label>
                                <div class="select2-purple">
                                    <select type="search" class="select2" multiple="multiple"
                                            data-placeholder="Kategorilerde Arayın"
                                            data-dropdown-css-class="select2-purple" style="width: 100%;" name="l">
                                        {% for optgroup in subCat %}
                                            <optgroup label="{{ optgroup.title }}">
                                                {% for lower in low %}
                                                    {% if lower.parentId.catNumber == optgroup.catNumber %}
                                                        <option value="{{ lower.catNumber }}">{{ lower.title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-3">Ara</button>
                            <a href="{% url 'all_courses' %}" class="btn btn-danger btn-block mb-3">Sıfırla</a>
                        </form>
                    {% elif lower %}
                        <div class="form-group">
                            <div class="select2-purple">
                                <select type="search" class="select2" multiple="multiple" disabled
                                        data-placeholder="Kategorilerde Arayın"
                                        data-dropdown-css-class="select2-purple" style="width: 100%;">
                                    {% for cat in lowCat %}
                                        <option selected value="{{ cat.catNumber }}">{{ cat.title }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <a href="{% url 'all_courses' %}" class="btn btn-danger btn-block mb-3">Sıfırla</a>
                    {% else %}
                        <form method="get">
                            <div class="form-group">
                                <label>Kategori</label>
                                <div class="select2-purple">
                                    <select type="search" class="select2" multiple="multiple"
                                            data-placeholder="Kategorilerde Arayın"
                                            data-dropdown-css-class="select2-purple" style="width: 100%;"
                                            name="c">
                                        {% for topCat in topCategories %}
                                            {% if topCat.slug != 'home' %}
                                                <option value="{{ topCat.catNumber }}">
                                                    {{ topCat.title }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-3">Ara</button>
                            <a href="{% url 'all_courses' %}" class="btn btn-danger btn-block mb-3">Sıfırla</a>
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="container">
                        <div class="row">
                            {% if courses %}
                                {% if course_pagination %}
                                    {% for course in course_pagination %}
                                        <div class="card-deck col-lg-3 col-md-3 col-xs-12 col-sm-12 mb-5">
                                            <div class="card">
                                                {% if course.coursePicture %}
                                                    <img class="card-img-top" src="{{ course.coursePicture.url }}"
                                                         alt="Card image cap"
                                                         width="504" height="250">
                                                    <div class="card-body">
                                                        <h5 class="card-title"><a
                                                                href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                                                        </h5>
                                                        <p class="card-text">{{ course.description|safe|truncatechars:255 }}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted float-left">{{ course.creator.get_full_name }}</small>
                                                        <small class="text-muted float-left ml-2">{{ course.coursecomment_set.count }}
                                                            Yorum</small>
                                                        <small class="text-muted ml-2 float-right">{{ course.likes.count }}
                                                            Beğeni</small>
                                                        <small class="text-muted float-right">{{ course.view }}
                                                            Görüntülenme</small>
                                                    </div>
                                                {% else %}
                                                    <div class="card-body">
                                                        <h5 class="card-title" style="margin-top: 177px"><a
                                                                href="{% url 'course_detail' course.slug %}">{{ course.title }}</a>
                                                        </h5>
                                                        <p class="card-text">{{ course.description|safe|truncatechars:255 }}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted float-left">{{ course.creator.get_full_name }}</small>
                                                        <small class="text-muted float-left ml-2">{{ course.coursecomment_set.count }}
                                                            Yorum</small>
                                                        <small class="text-muted ml-2 float-right">{{ course.likes.count }}
                                                            Beğeni</small>
                                                        <small class="text-muted float-right">{{ course.view }}
                                                            Görüntülenme</small>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                    <h5>Üzgünüz :(</h5>
                                    <p>Henüz bir kurs paylaşılmamış.</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}