{% extends 'ankades/layout/../layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/../layout/header.html' %}
            <section class="ls s-py-80 s-py-lg-120 s-py-xl-160">
                <div class="container">
                    <div class="row c-gutter-60">
                        <main class="col-lg-7 col-xl-8">
                            {% if articles %}
                                {% if article_pagination %}
                                    {% for article in article_pagination %}
                                        <article
                                                class="text-center text-md-left vertical-item content-padding hero-bg post type-post status-publish format-standard has-post-thumbnail sticky rounded rounded-image-top post-color1">
                                            {% if article.media %}
                                                <div class="item-media post-thumbnail">
                                                    <img src="{{ article.media.url }}" alt="">
                                                    <div class="media-links">
                                                        <a class="abs-link" title="" href="blog-single-right.html"></a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <div class="item-content">
                                                <header class="entry-header">
                                                    <div class="header-content">
                                                    <span class="post-tags">
                                                        <i class="fa fa-tags fs-14"></i>
                                                        <span class="screen-reader-text">Kategori</span>
                                                        <a href="blog-right.html" rel="category tag">
                                                            {{ article.categoryId.title }}
                                                        </a>
                                                    </span>
                                                        <span class="post-tags float-right">
                                                        <i class="fa fa-user fs-14"></i>
                                                        <span class="screen-reader-text">{{ article.creator.get_full_name }}</span>
                                                        <a href="blog-right.html" rel="category tag">
                                                            {{ article.creator.get_full_name }}
                                                        </a>
                                                    </span>
                                                        <h3 class="entry-title">
                                                            <a href="{% url 'article_detail' article.slug %}"
                                                               rel="bookmark">
                                                                {{ article.title }}
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </header>
                                                <div class="entry-content">
                                                    {{ article.description|safe|truncatechars:10 }}
                                                    <div class="post-footer d-md-flex align-items-center justify-content-between">
                                                        <a href="{% url 'article_detail' article.slug %}"
                                                           class="read-more btn btn-primary"><span>Devamı</span></a>
                                                        <div class="entry-meta color-darkgrey post-meta">
                                                            <span class="post-tags">
                                                                <i class="fa fa-calendar fs-14"></i>
                                                                <a href="#">
                                                                    {{ article.createdDate }}
                                                                </a>
                                                            </span>
                                                            <span class="comment-count">
                                                                <a href="#">
                                                                    <i class="color-main fa fa-comments fs-14"></i>
                                                                    {{ articleComment.count }} Yorum
                                                            </a>
                                                            </span>
                                                            <span class="like-count">
                                                            <a href="#">
                                                                <i class="color-main fa fa-heart fs-14"></i>
                                                                {{ article.like }}
                                                            </a>
                                                        </span>
                                                            <span class="views-count">
                                                            <a href="#">
                                                                <i class="color-main fa fa-eye fs-14"></i>
                                                                {{ article.view }} Gösterim
                                                            </a>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div><!-- .entry-content -->
                                            </div>
                                        </article>
                                    {% endfor %}
                                {% else %}
                                    <div class="alert alert-primary" role="alert">
                                        Henüz bir makale yüklenmemiş :(. İlk makaleyi yükleyen sen olmak ister misin?
                                        {# makale ekleme linki eklenecek #}
                                    </div>
                                {% endif %}
                                {% if articles %}
                                {% endif %}
                                <nav class="navigation pagination " role="navigation">
                                    <div class="nav-links">
                                        {% if article_pagination.has_other_pages %}
                                            {% if article_pagination.has_previous %}
                                                <a class="prev page-numbers"
                                                   href="?page={{ article_pagination.previous_page_number }}">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                                <a class="prev page-numbers"
                                                   href="?page={{ article_pagination.previous_page_number }}">
                                                    <span>{{ article_pagination.previous_page_number }}</span>
                                                </a>
                                            {% else %}
                                                <span class="page-numbers current">
                                                    <span class="meta-nav screen-reader-text"></span>
                                                    <i class="fa fa-angle-left"></i>
                                                </span>
                                            {% endif %}
                                            {% for page in article_pagination.paginator.page_range %}
                                                {% if article_pagination.number == page %}
                                                    <span class="page-numbers current">
                                                        <span class="meta-nav screen-reader-text"></span>
                                                        {{ page }}
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                            {% if article_pagination.has_next %}
                                                <a class="prev page-numbers"
                                                   href="?page={{ article_pagination.next_page_number }}">
                                                    <span>{{ article_pagination.next_page_number }}</span>
                                                </a>
                                                <a class="next page-numbers"
                                                   href="?page={{ article_pagination.next_page_number }}">
                                                    <span class="screen-reader-text">Next page</span>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            {% else %}
                                                <span class="page-numbers current">
                                                    <span class="meta-nav screen-reader-text"></span>
                                                    <i class="fa fa-angle-right"></i>
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </nav>
                            {% endif %}
                        </main>

                        <aside class="col-lg-5 col-xl-4">
                            <div class="widget widget_search">
                                <h5 class="widget-title">Makale Arama</h5>
                                {% csrf_token %}
                                <form method="get" class="">
                                    <label for="search-form-widget">
                                        <span class="screen-reader-text"></span>
                                    </label>
                                    <input type="text" name="keyword" class="search-field"
                                           placeholder="Ne aramak istedin?" value="">
                                    <button type="submit" class="">
                                        <span class="screen-reader-text">Ara</span>
                                    </button>
                                </form>
                            </div>
                            <div class="widget widget_recent_posts">
                                <h5 class="widget-title">Son Paylaşılanlar</h5>
                                {% if articles_limit %}
                                    {% for al in articles_limit %}
                                        <ul class="list-unstyled">
                                            <li class="media">
                                                {% if al.media %}
                                                    <a class="media-image" href="blog-single-right.html">
                                                        <img src="{{ al.media.url }}" alt="">
                                                    </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <p style="font-size: 15px">
                                                        <a href="{% url 'article_detail' al.slug %}">
                                                            {{ al.title }}
                                                        </a>
                                                    </p>
                                                    <p class="item-meta">
                                                        {{ al.createdDate }}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="alert alert-primary" role="alert">
                                        Henüz bir makale bulunamadı.
                                    </div>
                                {% endif %}

                            <div class="widget widget_tag_cloud">

                                <h5 class="widget-title">Tags</h5>
                                <div class="tagcloud">
                                    {% if article_tags %}
                                        {% for tags in article_tags %}
                                            {% if tags.isActive == True %}
                                                <a href="javascript:void(0)" class="tag-cloud-link">
                                                    {{ tags.tagId }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <div class="alert alert-primary" role="alert">
                                            Henüz makaleye ait bir etiket bulunamadı.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>


                        </aside>
                    </div>
                </div>
            </section>
            {% include 'ankades/layout/../layout/footer.html' %}
        </div>
    </div>
{% endblock %}