{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">

            {% include 'ankades/layout/header.html' %}
            <section class="ls s-py-80 s-py-lg-120 s-py-xl-160 c-gutter-60">
                <div class="container">
                    <div class="row">
                        <main class="col-lg-7 col-xl-8">
                            <article
                                    class="vertical-item content-padding post type-post status-publish format-standard has-post-thumbnail single-post">

                                {% if articleDetail.media %}
                                    <div class="item-media post-thumbnail rounded-image-top">
                                        <img src="{{ articleDetail.media.url }}" alt="">
                                    </div>
                                {% endif %}
                                <div class="item-content hero-bg">
                                    <header class="entry-header">
                                        <div class="entry-meta small-text color-darkgrey">
											<span class="byline">
												<span class="posted-on">
													<a href="#">
														<i class="color-main fa fa-calendar"></i>
														<time class="entry-date published updated"
                                                              datetime="2018-01-03T10:11:37+00:00">{{ articleDetail.createdDate|date:"d.m.Y" }}</time>
													</a>
												</span>
												<span class="author vcard">
													<a href="{% url 'account_detail' articleDetail.creator.username %}">
														<i class="color-main fa fa-user"></i>
														{{ articleDetail.creator.first_name }}
													</a>
												</span>
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments"></i>
														{{ articleComments.count }} Yorum
													</a>
												</span>
												<span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart"></i>
														{{ articleDetail.like }} Beğeni
													</a>
												</span>
											</span>
                                        </div><!-- .entry-meta -->
                                    </header>
                                    <hr>

                                    <div class="entry-content">
                                        {{ articleDetail.description|safe }}
                                    </div>
                                    <!-- .entry-content -->
                                    <footer class="entry-footer">
										<span class="cat-tags-links">
											<span class="tags-links small-text">
												<span>Tags:</span>
												<a href="blog-right.html" rel="tag">internet</a>,
												<a href="blog-right.html" rel="tag">IPTV</a>,
												<a href="blog-right.html" rel="tag">Cabel</a>
											</span>
										</span>
                                        <div class="float-right">
                                            <a href="#">
                                                <i class="fa fa-heart color-main3"></i>Beğen
                                            </a>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-eye color-main3"></i>
                                                {{ articleDetail.view }}Gösterim
                                            </a>
                                        </div>
                                    </footer>
                                    <!-- .entry-footer -->
                                </div>
                                <!-- User's social media urls which has that article -->
{#                                <div class="share_buttons social_part">#}
{#                                    <a href="https://www.facebook.com" class="color-bg-icon fa fa-facebook"#}
{#                                       target="_blank"></a>#}
{#                                    <a href="https://twitter.com" class="color-bg-icon fa fa-twitter"#}
{#                                       target="_blank"></a>#}
{#                                    <a href="https://plus.google.com" class="color-bg-icon fa fa-google-plus"#}
{#                                       target="_blank"></a>#}
{#                                    <a href="https://instagram.com" class="color-bg-icon fa fa-instagram"#}
{#                                       target="_blank"></a>#}
{#                                    <a href="https://www.youtube.com" class="color-bg-icon fa fa-youtube-play"#}
{#                                       target="_blank"></a>#}
{#                                    <a href="https://www.dribbble.com" class="color-bg-icon fa fa-dribbble"#}
{#                                       target="_blank"></a>#}
{#                                </div>#}
                            </article>

                            <div class="author-bio side-item content-padding text-center text-md-left text-lg-center text-xl-left">
                                <div class="row align-items-center">
                                    <div class="col-xl-4 col-lg-12 col-md-6 col-xs-12">
                                        <div class="item-media">
                                            <img src="{{ articleDetail.creator.image.url }}"
                                                 alt="{{ articleDetail.creator.get_full_name }}">
                                        </div>
                                    </div>

                                    <div class="col-xl-8 col-lg-12 col-md-6 col-xs-12">
                                        <div class="item-content">
                                            <p class="small-text color-main2">
                                                {{ accountGroup.groupId.title }}
                                            </p>
                                            <h5 class="fw-500">
                                                <a href="{% url 'account_detail' articleDetail.creator.username %}">
                                                    {{ articleDetail.creator.get_full_name }}
                                                </a>
                                            </h5>
                                            {% if articleDetail.creator.description %}
                                                {{ articleDetail.creator.description|safe }}
                                            {% endif %}
                                            <div class="author-social fs-14">
                                                <a href="#" class="fa fa-facebook color-icon"></a>
                                                <a href="#" class="fa fa-twitter color-icon"></a>
                                                <a href="#" class="fa fa-google-plus color-icon"></a>
                                                <a href="#" class="fa fa-youtube-play color-icon"></a>
                                                <a href="#" class="fa fa-linkedin color-icon"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="related-posts">
                                <div class="row justify-content-center c-gutter-30">
                                    <div class="col-12">
                                        <h3 class="entry-title">Related Posts</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <article
                                                class="vertical-item post type-post status-publish format-standard has-post-thumbnail">
                                            <div class="item-media post-thumbnail rounded">
                                                <a href="blog-single-right.html">
                                                    <img src="images/related-post02.jpg" alt="">
                                                </a>
                                            </div><!-- .post-thumbnail -->
                                            <div class="item-content">
                                                <header class="entry-header">
                                                    <p>
                                                        <a href="blog-single-right.html" rel="bookmark">
                                                            Lorem Ipsum Dolor Sit Amet Consectetur Adi Piscing Elitures
                                                            Popinus
                                                        </a>
                                                    </p>
                                                    <div class="entry-meta">
                                                        <span class="screen-reader-text">Posted on</span>
                                                        <a href="blog-single-right.html" rel="bookmark">
                                                            <time class="entry-date published updated"
                                                                  datetime="2018-03-11T15:15:12+00:00">March 11,
                                                                2018
                                                            </time>
                                                        </a>
                                                    </div>
                                                    <!-- .entry-meta -->
                                                </header>
                                                <!-- .entry-header -->
                                            </div><!-- .item-content -->
                                        </article><!-- #post-## -->
                                    </div>
                                    <div class="d-block d-md-none divider-30"></div>
                                    <div class="col-md-6">
                                        <article
                                                class="vertical-item post type-post status-publish format-standard has-post-thumbnail">
                                            <div class="item-media post-thumbnail rounded">
                                                <a href="blog-single-right.html">
                                                    <img src="images/related-post01.jpg" alt="">
                                                </a>
                                            </div><!-- .post-thumbnail -->
                                            <div class="item-content">
                                                <header class="entry-header">
                                                    <p>
                                                        <a href="blog-single-right.html" rel="bookmark">
                                                            Integer Facilisis Accumsan Ullamcorper Inte Germanius Novus
                                                            At
                                                        </a>
                                                    </p>
                                                    <div class="entry-meta">
                                                        <span class="screen-reader-text">Posted on</span>
                                                        <a href="blog-single-right.html" rel="bookmark">
                                                            <time class="entry-date published updated"
                                                                  datetime="2018-03-15T15:15:12+00:00">March 15,
                                                                2018
                                                            </time>
                                                        </a>
                                                    </div>
                                                    <!-- .entry-meta -->
                                                </header>
                                                <!-- .entry-header -->
                                            </div><!-- .item-content -->
                                        </article><!-- #post-## -->
                                    </div>
                                </div>
                            </div>

                            {% if articleComments %}
                                <div id="comments" class="comments-area hero-bg rounded">
                                    <h4 class="comments-title">
                                        Comments
                                    </h4>
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img alt="" src="images/team/comment-01.jpg">
                                                        <b class="fn">
                                                            <a href="#" rel="nofollow" class="url fw-500">Chloe
                                                                Denverou</a>
                                                            <span class="comment-metadata">
															<a href="#">
																<time datetime="2018-03-14T07:57:01+00:00">
																	March 14, 2018
																</time>
															</a>
														</span>
                                                        </b>
                                                        <div class="float-right reply">
                                                            <a href="#respond">
                                                                <i class="color-darkgrey fa fa-mail-reply"
                                                                   aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- .comment-author -->
                                                </footer>
                                                <!-- .comment-meta -->
                                                <div class="comment-content">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                                        diam
                                                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                                                        erat, sed diam voluptua.
                                                    </p>
                                                </div>
                                                <!-- .comment-content -->
                                            </article>
                                            <!-- .comment-body -->
                                            <ol class="children">
                                                <li class="comment">
                                                    <article class="comment-body">
                                                        <footer class="comment-meta">
                                                            <div class="comment-author vcard">
                                                                <img alt="" src="images/team/comment-02.jpg">
                                                                <b class="fn">
                                                                    <a href="#" rel="nofollow" class="url fw-500">Patric
                                                                        Knowles</a>
                                                                    <span class="comment-metadata">
																	<a href="#">
																		<time datetime="2018-03-14T07:57:01+00:00">
																			March 14, 2018
																		</time>
																	</a>
																</span>
                                                                </b>
                                                                <div class="float-right reply">
                                                                    <a href="#respond">
                                                                        <i class="color-darkgrey fa fa-mail-reply"
                                                                           aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <!-- .comment-author -->
                                                        </footer>
                                                        <!-- .comment-meta -->
                                                        <div class="comment-content">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Proin volutpat quis nisl sed rhoncus.
                                                            </p>
                                                        </div>
                                                        <!-- .comment-content -->
                                                    </article>
                                                    <!-- .comment-body -->
                                                </li>
                                                <!-- #comment-## -->
                                            </ol>
                                            <!-- .children -->
                                        </li>
                                        <!-- #comment-## -->

                                        <li class="comment">
                                            <article class="comment-body">
                                                <footer class="comment-meta">
                                                    <div class="comment-author vcard">
                                                        <img alt="" src="images/team/comment-03.jpg">
                                                        <b class="fn">
                                                            <a href="#" rel="nofollow" class="url fw-500">Macie
                                                                Williams</a>
                                                            <span class="comment-metadata">
															<a href="#">
																<time datetime="2018-03-14T07:57:01+00:00">
																	March 14, 2018
																</time>
															</a>
														</span>
                                                        </b>
                                                        <div class="float-right reply">
                                                            <a href="#respond">
                                                                <i class="color-darkgrey fa fa-mail-reply"
                                                                   aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- .comment-author -->
                                                </footer>
                                                <!-- .comment-meta -->
                                                <div class="comment-content">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                                                        volutpat quis nisl sed rhoncus. Nunc fringilla ac turpis id
                                                        vehicula. Nam egestas ipsum eu tellus vulputate ullamcorper.
                                                    </p>
                                                </div>
                                                <!-- .comment-content -->
                                            </article>
                                            <!-- .comment-body -->
                                        </li>
                                        <!-- #comment-## -->
                                    </ol>
                                    <!-- .comment-list -->

                                    <h4 id="reply-title" class="comment-reply-title">Leave Your Comment</h4>

                                    <div id="respond" class="comment-respond ls ms">
                                        <form action="/" method="post" id="commentform" class="comment-form"
                                              novalidate="">
                                            <div class="comment-form-author form-group has-placeholder">

                                                <label for="author">Name</label>
                                                <i class="fa fa-user color-main"></i>
                                                <input class="form-control" id="author" name="author" type="text"
                                                       value=""
                                                       size="30" maxlength="245" aria-required="true"
                                                       required="required"
                                                       placeholder="Full Name">
                                            </div>
                                            <p class="comment-form-email form-group has-placeholder">
                                                <label for="email">Email </label>
                                                <i class="fa fa-envelope color-main"></i>
                                                <input class="form-control" id="email" name="email" type="email"
                                                       value=""
                                                       size="30" maxlength="100" aria-required="true"
                                                       required="required"
                                                       placeholder="E-mail">
                                            </p>

                                            <p class="comment-form-comment form-group has-placeholder">
                                                <label for="comment">Comment</label>
                                                <i class="fa fa-edit color-main"></i>
                                                <textarea class="form-control" id="comment" name="comment" cols="45"
                                                          rows="8" maxlength="65525" aria-required="true"
                                                          required="required" placeholder="Your Comment"></textarea>
                                            </p>
                                            <p class="form-submit">
                                                <button type="button" class="btn btn-maincolor"><span>Submit</span>
                                                </button>
                                            </p>
                                        </form>
                                    </div>
                                    <!-- #respond -->

                                </div>
                            {% else %}
                                <div id="comments" class="comments-area hero-bg rounded">
                                    <h4 class="comments-title">
                                        Yorumlar
                                    </h4>
                                    <h6 id="reply-title" class="comment-reply-title">İlk yorumu yapan sen ol</h6>
                                    <div id="respond" class="comment-respond ls ms">
                                        {% if request.user.is_authenticated %}
                                            <form action="/" method="post" id="commentform" class="comment-form"
                                                  novalidate="">
                                                <div class="comment-form-author form-group has-placeholder">

                                                    <label for="author">Name</label>
                                                    <i class="fa fa-user color-main"></i>
                                                    <input class="form-control" id="author" name="author" type="text"
                                                           value=""
                                                           size="30" maxlength="245" aria-required="true"
                                                           required="required"
                                                           placeholder="Full Name">
                                                </div>
                                                <p class="comment-form-email form-group has-placeholder">
                                                    <label for="email">Email </label>
                                                    <i class="fa fa-envelope color-main"></i>
                                                    <input class="form-control" id="email" name="email" type="email"
                                                           value=""
                                                           size="30" maxlength="100" aria-required="true"
                                                           required="required"
                                                           placeholder="E-mail">
                                                </p>

                                                <p class="comment-form-comment form-group has-placeholder">
                                                    <label for="comment">Comment</label>
                                                    <i class="fa fa-edit color-main"></i>
                                                    <textarea class="form-control" id="comment" name="comment" cols="45"
                                                              rows="8" maxlength="65525" aria-required="true"
                                                              required="required" placeholder="Your Comment"></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <button type="button" class="btn btn-primary"><span>Gönder</span>
                                                    </button>
                                                </p>
                                            </form>
                                        {% else %}
                                            <div class="alert alert-primary" role="alert">
                                                Yorum yapabilmeniz için, giriş yapmanız gerekmektedir.
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </main>
                        <aside class="col-lg-5 col-xl-4">
                            <div class="widget widget_search">
                                <h5 class="widget-title">Search</h5>
                                <form role="search" method="get" class="search-form" action="/">
                                    <label for="search-form-widget">
                                        <span class="screen-reader-text">Search for:</span>
                                    </label>
                                    <input type="search" id="search-form-widget" class="search-field"
                                           placeholder="Search Keyword" value="" name="search">
                                    <button type="submit" class="search-submit">
                                        <span class="screen-reader-text">Search</span>
                                    </button>
                                </form>
                            </div>

                            <div class="widget widget_text">
                                <h5 class="widget-title">About Us</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam
                                    diam dolore dolores duo eirmos.
                                </p>
                                <a href="about.html" class="btn btn-maincolor"><span>Read More</span></a>
                            </div>

                            <div class="widget widget_categories">

                                <h5 class="widget-title categories-tilte">Categories</h5>

                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Internet Provider</a>
                                        <span class="color-main2">(12)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">TV solution</a>
                                        <span class="color-main2">(8)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Digital Trade</a>
                                        <span class="color-main2">(10)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Technologies</a>
                                        <span class="color-main2">(21)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">E-Commerce
                                        </a>
                                        <span class="color-main2">(6)</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget widget_recent_posts">

                                <h5 class="widget-title">Recent Posts</h5>
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post1.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Lorem ipsum dolor sit am consectetur
                                                    tus.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 01, 2018
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post2.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Phasellus at nisl lacus do necsem
                                                    port.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 03, 2018
                                            </p>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post3.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Nunc quis enim non est fi nugilla
                                                    libero est.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 09, 2018
                                            </p>

                                        </div>
                                    </li>

                                </ul>
                            </div>


                            <div class="widget widget_portfolio">
                                <h5 class="widget-title">Recent Portfolio</h5>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/07.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/05.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/09.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/06.jpg" alt="">
                                    </a>
                                </div>
                            </div>


                            <div class="widget widget_tag_cloud">

                                <h5 class="widget-title">Tags</h5>

                                <div class="tagcloud">

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Cabel
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        IPTV
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Internet
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Provider Services
                                    </a>
                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Router Setup
                                    </a>
                                </div>
                            </div>


                        </aside>
                    </div>

                </div>
            </section>

            {% include 'ankades/layout/footer.html' %}
        </div>
    </div>
{% endblock %}