{% extends 'ankades/layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    {#    {% if messages %}#}
    {#        {% for message in messages %}#}
    {#            <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">#}
    {#                <div class="fw-messages-wrap ls p-normal">#}
    {#                    <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->#}
    {#                    <ul class="list-unstyled">#}
    {#                        <li>#}
    {#                            {{ message }}#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
    <div id="canvas">
        <div id="box_wrapper">

            {% include 'ankades/layout/header.html' %}
            <section class="ls s-py-80 s-py-lg-120 s-py-xl-160">
                <div class="container">
                    <div class="row c-gutter-60">
                        <main class="col-lg-7 col-xl-8">
                            {% if articles %}
                                {% for article in articles %}
                                    <article
                                            class="text-center text-md-left vertical-item content-padding hero-bg post type-post status-publish format-standard has-post-thumbnail sticky rounded rounded-image-top post-color1">
                                        {% if article.media %}
                                            <div class="item-media post-thumbnail">
                                                <img src="images/gallery/06.jpg" alt="">
                                                <div class="media-links">
                                                    <a class="abs-link" title="" href="blog-single-right.html"></a>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="item-content">
                                            <header class="entry-header">
                                                <div class="author-avatar">
                                                    <img src="images/author.jpg" alt="">
                                                </div>
                                                <div class="post-data bg-maincolor">
                                                    <a href="#">
                                                        <h6>02<span>oct</span></h6>
                                                    </a>
                                                </div>
                                                <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													Internet,
												</a>
												<a href="blog-right.html" rel="category tag">
													Cable,
												</a>
												<a href="blog-right.html" rel="category tag">
													Iptv
												</a>
											</span>
                                                    <h3 class="entry-title">
                                                        <a href="blog-single-right.html" rel="bookmark">
                                                            Sample Post With Image
                                                        </a>
                                                    </h3>
                                                </div>
                                            </header>
                                            <!-- .entry-header -->

                                            <div class="entry-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ni
                                                    slet
                                                    dolor. Etiam sollicitudin efficitur magna eu sollicitudin. Vestibul
                                                    umet
                                                    nusi dolores est dui tu emet impecus.</p>
                                                <div class="post-footer d-md-flex align-items-center justify-content-between">
                                                    <a href="#"
                                                       class="read-more btn btn-primary"><span>Read More</span></a>
                                                    <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                        <span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                                    </div>
                                                </div>
                                            </div><!-- .entry-content -->
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <article
                                        class="text-center text-md-left vertical-item content-padding hero-bg post type-post status-publish format-standard has-post-thumbnail sticky rounded rounded-image-top post-color1">
                                    <div class="item-media post-thumbnail">
                                        <img src="images/gallery/06.jpg" alt="">
                                        <div class="media-links">
                                            <a class="abs-link" title="" href="blog-single-right.html"></a>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="author-avatar">
                                                <img src="images/author.jpg" alt="">
                                            </div>
                                            <div class="post-data bg-maincolor">
                                                <a href="#">
                                                    <h6>02<span>oct</span></h6>
                                                </a>
                                            </div>
                                            <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Makale yok</span>
												<a href="blog-right.html" rel="category tag">
													Internet,
												</a>
												<a href="blog-right.html" rel="category tag">
													Cable,
												</a>
												<a href="blog-right.html" rel="category tag">
													Iptv
												</a>
											</span>
                                                <h3 class="entry-title">
                                                    <a href="blog-single-right.html" rel="bookmark">
                                                        Makale Bulunamadı
                                                    </a>
                                                </h3>
                                            </div>
                                        </header>
                                        <!-- .entry-header -->

                                        <div class="entry-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ni
                                                slet
                                                dolor. Etiam sollicitudin efficitur magna eu sollicitudin. Vestibul
                                                umet
                                                nusi dolores est dui tu emet impecus.</p>
                                            <div class="post-footer d-md-flex align-items-center justify-content-between">
                                                <a href="#"
                                                   class="read-more btn btn-primary"><span>Read More</span></a>
                                                <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                    <span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                                </div>
                                            </div>
                                        </div><!-- .entry-content -->
                                    </div>
                                </article>
                            {% endif %}


                            <article
                                    class="text-center text-md-left vertical-item content-padding hero-bg post type-post status-publish format-video has-post-thumbnail rounded rounded-image-top post-color2">
                                <div class="item-media post-thumbnail">
                                    <div class="embed-responsive embed-responsive-3by2">
                                        <a href="https://www.youtube.com/embed/mcixldqDIEQ" class="embed-placeholder">
                                            <img src="images/gallery/07.jpg" alt="">
                                        </a>
                                    </div>
                                </div><!-- .post-thumbnail -->

                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="author-avatar">
                                            <img src="images/author.jpg" alt="">
                                        </div>
                                        <div class="post-data bg-maincolor2">
                                            <a href="#">
                                                <h6>02<span>oct</span></h6>
                                            </a>
                                        </div>
                                        <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													VOIP,
												</a>
												<a href="blog-right.html" rel="category tag">
													Internet Provider,
												</a>
												<a href="blog-right.html" rel="category tag">
													IPTV
												</a>
											</span>
                                            <h3 class="entry-title">
                                                <a href="blog-single-right.html" rel="bookmark">
                                                    Sample Post With Video
                                                </a>
                                            </h3>
                                        </div>
                                    </header>
                                    <!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ni slet
                                            dolor. Etiam sollicitudin efficitur magna eu sollicitudin. Vestibul umet
                                            nusi dolores est dui tu emet impecus.</p>
                                        <div class="post-footer d-md-flex align-items-center justify-content-between">
                                            <a href="#"
                                               class="read-more btn btn-outline-maincolor2"><span>Read More</span></a>
                                            <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main7 fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                <span class="like-count">
													<a href="#">
														<i class="color-main7 fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div><!-- .item-content -->
                            </article><!-- #post-## -->

                            <article
                                    class="text-center text-md-left vertical-item content-padding hero-bg post type-post status-publish gallery has-post-thumbnail rounded rounded-image-top post-color3">
                                <div class="item-media post-thumbnail">
                                    <div class="owl-carousel" data-loop="true" data-margin="0" data-nav="false"
                                         data-dots="true" data-autoplay="false" data-responsive-xs="1"
                                         data-responsive-sm="1" data-responsive-md="1" data-responsive-lg="1">
                                        <div class="item">
                                            <img src="images/gallery/03.jpg" alt="image">
                                        </div>
                                        <div class="item">
                                            <img src="images/gallery/06.jpg" alt="image">
                                        </div>
                                        <div class="item">
                                            <img src="images/gallery/07.jpg" alt="image">
                                        </div>
                                    </div><!-- .owl-thumbnail -->
                                </div><!-- .post-thumbnail -->

                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="author-avatar">
                                            <img src="images/author.jpg" alt="">
                                        </div>
                                        <div class="post-data bg-maincolor3">
                                            <a href="#">
                                                <h6>19<span>sep</span></h6>
                                            </a>
                                        </div>
                                        <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													Browsing,
												</a>
												<a href="blog-right.html" rel="category tag">
													Cable
												</a>
											</span>
                                            <h3 class="entry-title">
                                                <a href="blog-single-right.html" rel="bookmark">
                                                    Sample Post With Carousel
                                                </a>
                                            </h3>
                                        </div>
                                    </header>
                                    <!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ni slet
                                            dolor. Etiam sollicitudin efficitur magna eu sollicitudin. Vestibul umet
                                            nusi dolores est dui tu emet impecus.</p>
                                        <div class="post-footer d-md-flex align-items-center justify-content-between">
                                            <a href="#"
                                               class="read-more btn btn-outline-maincolor3"><span>Read More</span></a>
                                            <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main6 fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                <span class="like-count">
													<a href="#">
														<i class="color-main6 fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div><!-- .item-content -->
                            </article><!-- #post-## -->

                            <article
                                    class="cover-image ds s-overlay post type-post status-publish format-status has-post-thumbnail">
                                <div class="post-thumbnail">
                                    <a href="blog-single-right.html">
                                        <img src="images/gallery/05.jpg" alt="">
                                    </a>
                                </div><!-- .post-thumbnail -->
                                <header class="entry-header">
                                    <img src="images/author.jpg" class="avatar" alt="">

                                    <h3 class="entry-title">
                                        <a href="blog-single-right.html" rel="bookmark">
                                            Sample Post Format: Status
                                        </a>
                                    </h3>

                                    <!-- .entry-meta -->
                                </header>
                                <!-- .entry-header -->

                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl dolor.
                                        Etiam sollicitudin efficitur magna eu sollicitudin. Vestibulum est dui. Etiam
                                        sollicitudin efficitur magna eu sollicitudin.</p>
                                </div><!-- .entry-content -->
                                <div class="entry-meta">
                                    <a href="blog-single-right.html" rel="bookmark">
                                        <i class="fa fa-calendar fs-14 color-main"></i>
                                        <time class="entry-date published updated" datetime="2018-09-18T15:15:12+00:00">
                                            18.09.2018
                                        </time>
                                    </a>
                                    <span class="post-tags">
										<i class="fa fa-tags fs-14 color-main"></i>
										<span class="screen-reader-text">Categories</span>
										<a href="blog-left.html" rel="category tag">
											Status
										</a>

									</span>
                                </div>
                            </article><!-- #post-## -->


                            <article
                                    class="post vertical-item content-padding hero-bg type-post status-publish format-link rounded rounded-image-top post-color1 text-center text-md-left">
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="post-data bg-maincolor">
                                            <a href="#">
                                                <h6>10<span>sep</span></h6>
                                            </a>
                                        </div>
                                        <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													Browsing,
												</a>
												<a href="blog-right.html" rel="category tag">
													Cable
												</a>
											</span>
                                            <h3 class="entry-title">
                                                <a href="blog-single-right.html" rel="bookmark">
                                                    Sample Post Link
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="author-avatar">
                                            <img src="images/author.jpg" alt="">
                                        </div>
                                    </header>
                                    <!-- .entry-header -->

                                    <div class="entry-content">
                                        <a class="link-main2" href="https://market.envato.com/">https://market.envato.com/</a>
                                        <div class="post-footer d-md-flex align-items-center justify-content-between">
                                            <a href="#"
                                               class="read-more btn btn-outline-maincolor"><span>Read More</span></a>
                                            <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                <span class="like-count">
													<a href="#">
														<i class="color-main fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div><!-- .item-content -->
                            </article><!-- #post-## -->


                            <article
                                    class="text-center text-md-left vertical-item post type-post status-publish format-chat has-post-thumbnail content-padding hero-bg rounded rounded-image-top post-color2">
                                <div class="item-media post-thumbnail">
                                    <a href="blog-single-right.html"><img src="images/gallery/04.jpg" alt=""></a>
                                    <div class="media-links">
                                        <a class="abs-link" title="" href="blog-single-right.html"></a>
                                    </div>

                                </div><!-- .post-thumbnail -->

                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="author-avatar">
                                            <img src="images/author.jpg" alt="">
                                        </div>
                                        <div class="post-data bg-maincolor2">
                                            <a href="#">
                                                <h6>10<span>sep</span></h6>
                                            </a>
                                        </div>
                                        <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													VOIP,
												</a>
												<a href="blog-right.html" rel="category tag">
													Internet Provider,
												</a>
												<a href="blog-right.html" rel="category tag">
													IPTV
												</a>
											</span>
                                            <h3 class="entry-title">
                                                <a href="blog-single-right.html" rel="bookmark">
                                                    Sample Post Format: Chat
                                                </a>
                                            </h3>
                                        </div>

                                    </header>
                                    <!-- .entry-header -->

                                    <div class="entry-content">
                                        <p><b>Sam:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p><b>George:</b> Proin et nisl dolor. Etiam sollicitudin efficitur magna eu
                                            sollicitudin. Etiam sollicitudin efficitur magna eu sollicitudin.</p>
                                        <p><b>Sam:</b> Vestibulum est dui, elementum eu. Null am nec lacus erat.</p>
                                        <p><b>George:</b> Nullam nec lacus erat. Phasellus id leo ac dolor pretium
                                            mattis at a erat. Fusce vitae enim condimentum erat finibus sollicitudin ut
                                            ac augue.</p>
                                        <div class="post-footer d-md-flex align-items-center justify-content-between">
                                            <a href="#"
                                               class="read-more btn btn-outline-maincolor2"><span>Read More</span></a>
                                            <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main7 fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                <span class="like-count">
													<a href="#">
														<i class="color-main7 fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div><!-- .item-content -->
                            </article><!-- #post-## -->


                            <article
                                    class="cover-image ds s-overlay post type-post status-publish format-quote has-post-thumbnail">
                                <div class="post-thumbnail">
                                    <a href="blog-single-right.html"><img src="images/gallery/11.jpg" alt=""></a>
                                </div><!-- .post-thumbnail -->
                                <header class="entry-header">
                                    <img src="images/author.jpg" class="avatar" alt="">
                                </header>
                                <div class="entry-content">
                                    <blockquote>
                                        <cite>
                                            <a href="http://www.brainyquote.com/quotes/quotes/m/marktwain163473.html">Gregory
                                                D. Grey, Client
                                            </a>
                                        </cite>
                                        <p>We had hughesnet for ages and were completely unhappy with it. We switched to
                                            MaxiCom and have never looked back. We are much much happier!</p>
                                    </blockquote>
                                    <div class="entry-meta">
                                        <a href="blog-single-right.html" rel="bookmark">
                                            <i class="fa fa-calendar fs-14 color-main"></i>
                                            <time class="entry-date published updated"
                                                  datetime="2018-09-18T15:15:12+00:00">18.09.2018
                                            </time>
                                        </a>
                                        <span class="post-tags">
											<i class="fa fa-tags fs-14 color-main"></i>
											<span class="screen-reader-text">Categories</span>
											<a href="blog-left.html" rel="category tag">
												quote
											</a>
										</span>
                                    </div>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->

                            <article
                                    class="post vertical-item content-padding hero-bg type-post status-publish format-aside rounded rounded-image-top post-color3 text-center text-md-left">
                                <div class="item-content">
                                    <header class="entry-header">
                                        <div class="post-data bg-maincolor3">
                                            <a href="#">
                                                <h6>10<span>sep</span></h6>
                                            </a>
                                        </div>
                                        <div class="header-content">
											<span class="post-tags">
												<i class="fa fa-tags fs-14"></i>
												<span class="screen-reader-text">Categories</span>
												<a href="blog-right.html" rel="category tag">
													Browsing,
												</a>
												<a href="blog-right.html" rel="category tag">
													Cable
												</a>
											</span>
                                            <h3 class="entry-title">
                                                <a href="blog-single-right.html" rel="bookmark">
                                                    Sample Post Format: Aside
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="author-avatar">
                                            <img src="images/author.jpg" alt="">
                                        </div>
                                    </header>
                                    <!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisl dolor.
                                            Etiam sollicitudin efficitur magna eu sollicitudin. Vestibulum est dui,
                                            elementum eu viverra finibus, placerat a nisi. Pellentesque aliquam sodales
                                            nunc, quis interdum nisl convallis in. Nulla lobortis nisl sed massa
                                            ullamcorper, et pellentesque dolor congue. Nam magna purus, auctor sed
                                            dui.</p>
                                        <div class="post-footer d-md-flex align-items-center justify-content-between">
                                            <a href="#"
                                               class="read-more btn btn-outline-maincolor3"><span>Read More</span></a>
                                            <div class="entry-meta color-darkgrey post-meta">
												<span class="comment-count">
													<a href="#">
														<i class="color-main6 fa fa-comments fs-14"></i>
														5 comments
													</a>
												</span>
                                                <span class="like-count">
													<a href="#">
														<i class="color-main6 fa fa-heart fs-14"></i>
														36 Likes
													</a>
												</span>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->
                                </div><!-- .item-content -->
                            </article><!-- #post-## -->


                            <nav class="navigation pagination " role="navigation">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="blog-right.html">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="screen-reader-text">Previous page</span>
                                    </a>
                                    <a class="page-numbers" href="blog-right.html">
                                        <span class="meta-nav screen-reader-text">Page </span>
                                        1
                                    </a>
                                    <span class="page-numbers current">
										<span class="meta-nav screen-reader-text">Page </span>
										2
									</span>
                                    <a class="page-numbers" href="blog-right.html">
                                        <span class="meta-nav screen-reader-text">Page </span>
                                        3
                                    </a>
                                    <a class="next page-numbers" href="blog-right.html">
                                        <span class="screen-reader-text">Next page</span>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </nav>
                        </main>

                        <aside class="col-lg-5 col-xl-4">
                            <div class="widget widget_search">
                                <h5 class="widget-title">Search</h5>
                                <form role="search" method="get" class="search-form" action="/">
                                    <label for="search-form-widget">
                                        <span class="screen-reader-text">Search for:</span>
                                    </label>
                                    <input type="search" id="search-form-widget" class="search-field"
                                           placeholder="Search Keyword" value="" name="search">
                                    <button type="submit" class="search-submit">
                                        <span class="screen-reader-text">Search</span>
                                    </button>
                                </form>
                            </div>

                            <div class="widget widget_text">
                                <h5 class="widget-title">About Us</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam
                                    diam dolore dolores duo eirmos.
                                </p>
                                <a href="about.html" class="btn btn-maincolor"><span>Read More</span></a>
                            </div>

                            <div class="widget widget_categories">

                                <h5 class="widget-title categories-tilte">Categories</h5>

                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Internet Provider</a>
                                        <span class="color-main2">(12)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">TV solution</a>
                                        <span class="color-main2">(8)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Digital Trade</a>
                                        <span class="color-main2">(10)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Technologies</a>
                                        <span class="color-main2">(21)</span>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">E-Commerce
                                        </a>
                                        <span class="color-main2">(6)</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget widget_recent_posts">

                                <h5 class="widget-title">Recent Posts</h5>
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post1.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Lorem ipsum dolor sit am consectetur
                                                    tus.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 01, 2018
                                            </p>
                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post2.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Phasellus at nisl lacus do necsem
                                                    port.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 03, 2018
                                            </p>

                                        </div>
                                    </li>

                                    <li class="media">
                                        <a class="media-image" href="blog-single-right.html">
                                            <img src="images/recent_post3.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>
                                                <a href="blog-single-right.html">Nunc quis enim non est fi nugilla
                                                    libero est.</a>
                                            </h4>
                                            <p class="item-meta">
                                                September 09, 2018
                                            </p>

                                        </div>
                                    </li>

                                </ul>
                            </div>


                            <div class="widget widget_portfolio">
                                <h5 class="widget-title">Recent Portfolio</h5>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/07.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/05.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/09.jpg" alt="">
                                    </a>
                                </div>
                                <div class="photo">
                                    <a href="#">
                                        <img src="images/square/06.jpg" alt="">
                                    </a>
                                </div>
                            </div>


                            <div class="widget widget_tag_cloud">

                                <h5 class="widget-title">Tags</h5>

                                <div class="tagcloud">

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Cabel
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        IPTV
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Internet
                                    </a>

                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Provider Services
                                    </a>
                                    <a href="blog-right.html" class="tag-cloud-link">
                                        Router Setup
                                    </a>
                                </div>
                            </div>


                        </aside>
                    </div>
                </div>
            </section>

            <footer class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="divider-20 d-none d-xl-block"></div>

                        <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate" data-animation="fadeInUp">

                            <div class="widget widget_text">
                                <h4 class="widget-title">About</h4>
                                <p>
                                    Welcome largest broadband and Internet services provider where you can choose the
                                    best plan ever.
                                </p>
                                <div class="widget widget_social_buttons">
                                    <a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                                    <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
                                    <a href="#" class="fa fa-youtube-play color-bg-icon rounded-icon"
                                       title="youtube-play"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate" data-animation="fadeInUp">
                            <div class="widget links">
                                <h4 class="widget-title">Links</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Packages</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">MaxiNet Media</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Connection</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Support</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Video Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate" data-animation="fadeInUp">
                            <div class="widget services-links">
                                <h4 class="widget-title">Services</h4>
                                <ul>
                                    <li class="cat-item">
                                        <a href="blog-right.html">4K Cable TV</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">High Speed Internet</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Smartphone Service</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="blog-right.html">Dedicated Server</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate" data-animation="fadeInUp">
                            <div class="widget widget_icons_list">
                                <h4 class="widget-title">Call Us</h4>
                                <p>23-456-7890</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-envelope-o color-main fs-14"></i>
                                    email us
                                </a>
                                <h4 class="widget-title">Visit Us</h4>
                                <p>246 Benson St., Ashwaubenon</p>
                                <a href="#" class="small-text">
                                    <i class="fa fa-map-marker color-main3 fs-14"></i>
                                    Get Direction
                                </a>
                            </div>
                            <div class="divider-45 d-none d-md-block d-xlz-none"></div>
                        </div>
                    </div>
                </div>
            </footer>
            <section class="page_copyright ds s-py-10 copyright-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="divider-15 d-none d-lg-block"></div>
                        <div class="col-md-12 text-center">
                            <p>&copy; Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
                        </div>
                        <div class="divider-15 d-none d-lg-block"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}