{% extends 'ankades/layout/layout.html' %}
{% load static %}
{% block title %}{{ instance.title }} | {{ instance.creator.get_full_name }}{% endblock %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="{% url 'all_articles' %}">Tüm Makaleler</a></li>
                        {% if instance.categoryId.parentId.parentId.slug != "home" %}
                            <li class="breadcrumb-item"><a
                                    href="{% url 'article_category_page' instance.categoryId.parentId.parentId.slug %}">{{ instance.categoryId.parentId.parentId.title }}</a>
                            </li>
                        {% endif %}
                        {% if instance.parentId.slug != "home" %}
                            <li class="breadcrumb-item"><a
                                    href="{% url 'article_category_page' instance.categoryId.parentId.slug %}">{{ instance.categoryId.parentId.title }}</a>
                            </li>
                        {% endif %}
                        {% if instance.parentId.slug != "home" %}
                            <li class="breadcrumb-item"><a
                                    href="{% url 'article_category_page' instance.categoryId.slug %}">{{ instance.categoryId.title }}</a>
                            </li>
                        {% endif %}
                        <li class="breadcrumb-item active">{{ instance.title|truncatewords:15 }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-widget mt-3 p-3 col-lg-12">
                    <div class="card-header">
                        <div class="user-block">
                            <img class="img-circle" src="{{ instance.creator.image.url }}"
                                 alt="{{ instance.creator.get_full_name }}">
                            <span class="username"><a
                                    href="{% url 'account_detail' instance.creator %}">{{ instance.creator.get_full_name }}</a></span>
                            <span class="description">Paylaşım tarihi - {{ instance.createdDate }}
                        </div>
                    </div>
                    <div class="card-body">
                        {% if instance.media != "no-image-available.png" %}
                            <img class="img-fluid pad" src="{{ instance.media.url }}" alt="{{ instance.title }}"
                                 width="100%" style="height: 800px !important;">
                        {% endif %}
                        <div class="container-fluid container p-5" style="background: #f8f9fa">
                            <p style="font-size: 3em">{{ instance.title }}</p>
                            <p>
                                <i style="color: #57a4ff" class="fa fa-ticket-alt"> {{ instance.categoryId }}</i>
                            </p>
                            {{ instance.description|safe }}</div>
                        <div class="container mt-3">
                            <button type="button" class="btn btn-danger btn-md"><i class="fas fa-share"></i> Paylaş
                            </button>
                            <a type="button" data-href='{{ instance.get_api_like_url }}'
                               data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'
                               class="btn btn-primary btn-md"><i class="far fa-thumbs-up"></i> Beğen
                            </a>
                            {% if instance.creator == request.user %}
                                <a class="btn btn-info btn-md"
                                   href="{% url 'edit_article' instance.slug %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                            {% endif %}
                            {% if instance.creator != request.user %}
                                <a type="button" class="btn btn-warning btn-md" data-toggle="modal"
                                   data-target="#modal-default" style="color: white;">
                                    Şikayet Et
                                </a>
                            {% endif %}
                            <span class="float-right text-muted">{{ instance.likes.count }} Beğeni - {{ instance.view }} Gösterim - {{ articleComments.count }} Yorum</span>
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-danger"><i class="far fa-thumbs-up"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Toplam Beğeni</span>
                                            <span class="info-box-number">{{ instance.likes.count }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-primary"><i class="far fa-eye"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Toplam Gösterim</span>
                                            <span class="info-box-number">{{ instance.view }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success"><i class="far fa-comments"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Yorum Sayısı</span>
                                            <span class="info-box-number">{{ articleComments.count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="container">
                            <form method="post" class="comment-form"
                                  action="{% url 'add_article_comment' slug=instance.slug %}">
                                {% csrf_token %}
                                <p class="comment-form-comment form-group has-placeholder">
                                    <label for="content">Bir Cevap Yaz</label>
                                    <i class="fa fa-edit color-main"></i>
                                    <textarea class="form-control" id="content" name="content"
                                              cols="45"
                                              rows="3" maxlength="65525" aria-required="true"
                                              required="required" placeholder=""></textarea>
                                </p>
                                <p class="form-submit">
                                    <button type="submit" class="btn btn-primary">
                                        <span>Gönder</span>
                                    </button>
                                </p>
                            </form>
                        </div>
                            <h4 class="comments-title mb-3">
                                Cevaplar
                            </h4>
                        {% if articleComments %}
                            {% for comment in articleComments %}
                                <div class="timeline">
                                    <div>
                                        <i class="fas fa-comment bg-blue"></i>
                                        <div class="timeline-item p-2">
                                            <img class="img-circle img-sm" src="{{ comment.creator.image.url }}"
                                                 alt="{{ comment.creator.get_full_name }}">
                                            <span class="time"><i
                                                    class="fas fa-clock"></i> {{ comment.createdDate }}</span>
                                            <h3 class="timeline-header ml-2 no-border"><a
                                                    href="{% url 'account_detail' comment.creator %}">{{ comment.creator.get_full_name }}</a>
                                            </h3>
                                            <div class="timeline-body">
                                                {{ comment.content }}
                                            </div>
                                            <div class="timeline-footer">
                                                <a class="btn btn-info btn-sm"
                                                   onclick="reply_{{ comment.commentNumber }}()"><i
                                                        class="fas fa-reply"></i>
                                                    Cevapla</a>
                                                {% if comment.creator == request.user or instance.creator == request.user %}
                                                    <a href=""
                                                       class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>
                                                        Sil</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if replyComment %}
                                        {% for reply in replyComment %}
                                            {% if reply.parentId_id == comment.id %}
                                                <div>
                                                    <div class="timeline-item p-2"
                                                         style="background-color: #f8f9fa !important; border:none; box-shadow: none;">
                                                        <img class="img-circle img-sm"
                                                             src="{{ reply.creator.image.url }}"
                                                             alt="{{ reply.creator.get_full_name }}">
                                                        <span class="time"><i
                                                                class="fas fa-clock"></i> {{ reply.createdDate }}</span>
                                                        <h3 class="timeline-header"><a
                                                                href="#">{{ reply.creator.get_full_name }}</a></h3>
                                                        <div class="timeline-body">
                                                            {{ reply.content }}
                                                        </div>
                                                        <div class="timeline-footer">
                                                            {% if reply.creator == request.user or instance.creator == request.user %}
                                                                <a href=""
                                                                   class="btn btn-danger btn-sm"><i
                                                                        class="fas fa-trash"></i> Sil</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="timeline" id="{{ forloop.counter }}comment" style="display:none;">
                                        <div class="timeline-item">
                                            <form method="post" class="comment-form p-3"
                                                  action="{% url 'add_article_comment_reply' comment.commentNumber %}">
                                                {% csrf_token %}
                                                <p class="comment-form-comment form-group has-placeholder">
                                                    <label>Yanıt ver</label>
                                                    <i class="fa fa-edit color-main"></i>
                                                    <textarea class="form-control" name="reply"
                                                              cols="10"
                                                              rows="3" maxlength="65525" aria-required="true"
                                                              required="required" placeholder=""></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <button type="submit" class="btn btn-primary">
                                                        <span>Gönder</span>
                                                    </button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    function reply_{{ comment.commentNumber }}() {
                                        let open = document.getElementById("{{ forloop.counter }}comment");
                                        if (open.style.display === "none") {
                                            open.style.display = "block";
                                        } else {
                                            open.style.display = "none";
                                        }
                                    }
                                </script>
                            {% endfor %}
                        {% else %}
                            <h4 class="comments-title mb-3">
                                Cevaplar
                            </h4>
                            <div class="callout callout-danger col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <h5>Üzgünüz :(</h5>
                                <p>Herhangi bir cevap bulunamadı. İlk cevabı sen vermek ister misin ?</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Şikayet Et</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" method="post" action="{% url 'add_report_article' postNumber=instance.postNumber %}">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="message">Mesajınız*</label>
                                                <textarea class="form-control" name="description" id="message" rows="3" maxlength="65525" aria-required="true" required placeholder="Mesajınız"></textarea>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" name="submit" class="btn btn-primary">Gönder</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
