{% extends 'ankacademy/layout/layout.html' %}
{% load static %}
{% block title %}{{ instance.get_full_name }} | Ankacademy{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ankacademy</a></li>
                            <li class="breadcrumb-item">{{ instance.get_full_name }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Kullınıcı Bilgisi</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-xl-3 col-md-4">
                <div class="mt-4">
                    <div class="text-center card-box shadow-none border border-secoundary">
                        <div class="member-card">
                            <div class="avatar-xl member-thumb mb-3 mx-auto d-block">
                                <img src="{{ instance.image.url }}" class="rounded-circle img-thumbnail"
                                     alt="profile-image">
                                {% if userDetailGroup == 'admin' or userDetailGroup == 'moderator' or userDetailGroup == 'ogretmen' %}
                                    <i class="mdi mdi-star-circle member-star text-success"
                                       title="verified user"></i>{% endif %}
                            </div>

                            <div class="">
                                <h5 class="font-18 mb-1">{{ instance.get_full_name }}</h5>
                                <p class="text-muted mb-2">{{ creatorGroup.title }}</p>
                            </div>
                            {% if instance.username != request.user.username %}
                                <a type="button" href="{% url 'follow_account' instance.username %}"
                                   class="btn btn-success btn-sm width-sm waves-effect mt-2 waves-light"><i
                                        class="far fa-thumbs-up"></i>
                                    {% if existFollower %}
                                        Takibi Bırak
                                    {% else %}
                                        Takip Et
                                    {% endif %}
                                </a>
                            {% endif %}
                            {% if instance.username != request.user.username %}
                                <button type="button"
                                        class="btn btn-danger btn-sm width-sm waves-effect mt-2 waves-light">Message
                                </button>
                            {% endif %}
                            <p class="sub-header mt-3">
                                {% if instance.bio %}{{ instance.bio }}{% else %}
                                    {{ instance.get_full_name }} kullanıcıs biyografisini
                                    paylaşmamış{% endif %}
                            </p>

                            <hr/>

                            <div class="text-left">
                                <p class="text-muted font-13"><strong>Ad :</strong> <span
                                        class="ml-4">{{ instance.get_full_name }}</span>
                                </p>

                                <p class="text-muted font-13"><strong>Email :</strong> <span
                                        class="ml-4">{{ instance.email }}</span>
                                </p>

                                <p class="text-muted font-13"><strong>Üyelik :</strong> <span
                                        class="ml-4">{{ userDetailGroup.title }}</span></p>
                            </div>
                            <hr/>
                            <ul class="social-links list-inline mt-4">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-box shadow-none border border-secoundary">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                <tr>
                                    <th scope="row">Takipçi:</th>
                                    <td>{{ followers.count }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Takip:</th>
                                    <td><span class="label label-danger">{{ followings.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Makale:</th>
                                    <td><span class="label label-danger">{{ articles.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Soru:</th>
                                    <td><span class="label label-danger">{{ questions.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Kurs:</th>
                                    <td><span class="label label-danger">{{ courses.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Sınav:</th>
                                    <td><span class="label label-danger">{{ exams.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Onaylanmış Cevap:</th>
                                    <td><span class="label label-danger">{{ certifiedAnswer.count }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="mt-4">
                    <div class="card-box">

                        <ul class="nav nav-tabs tabs-bordered nav-justified" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="article-b2-tab" data-toggle="tab" href="#article-b2"
                                   role="tab"
                                   aria-controls="article-b2" aria-selected="true">
                                    <span class="d-block d-sm-none"><i class="fas fa-book-open"></i></span>
                                    <span class="d-none d-sm-block">Makaleler</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="question-b2-tab" data-toggle="tab" href="#question-b2"
                                   role="tab" aria-controls="question-b2" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fas fa-question"></i></span>
                                    <span class="d-none d-sm-block">Sorular</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="exam-b2-tab" data-toggle="tab" href="#exam-b2" role="tab"
                                   aria-controls="exam-b2" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fa fa-file"></i></span>
                                    <span class="d-none d-sm-block">Sınavlar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="course-b2-tab" data-toggle="tab" href="#course-b2" role="tab"
                                   aria-controls="course-b2" aria-selected="false">
                                    <span class="d-block d-sm-none"><i class="fas fa-video"></i></span>
                                    <span class="d-none d-sm-block">Kurslar</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="article-b2" role="tabpanel"
                                 aria-labelledby="article-b2-tab">
                                {% if articles %}
                                    {% for article in articles %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="timeline timeline-left">
                                                    <article class="timeline-item">
                                                        <div class="timeline-desk">
                                                            <div class="panel">
                                                                <div class="timeline-box">
                                                                    <span class="arrow"></span>
                                                                    <span class="timeline-icon bg-primary"><i
                                                                            class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                                    <h4 class="text-primary">{{ article.title }}</h4>
                                                                    <p class="timeline-date text-muted">
                                                                        <small>{{ article.createdDate|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <div class="album">
                                                                        <a href="{% url 'article_detail' username=article.creator.username slug=article.slug %}"
                                                                           class="btn btn-primary btn-sm">Devamı</a>
                                                                        {% if article.creator == request.user %}
                                                                            <a href="{% url 'edit_article' slug=article.slug %}"
                                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                            <a type="button"
                                                                               class="btn btn-sm btn-danger"
                                                                               data-toggle="modal"
                                                                               data-target="#article-{{ article.slug }}"><i
                                                                                    class="fas fa-trash"></i>Sil
                                                                            </a>
                                                                            {#delete modal#}
                                                                            <div class="modal fade"
                                                                                 id="article-{{ article.slug }}">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4 class="modal-title">
                                                                                                UYARI !</h4>
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p class="text-left">
                                                                                                Gerçekten "<span
                                                                                                    class="text-bold">{{ article.title }}</span>"
                                                                                                adlı makalenizi silmek
                                                                                                istediğinize
                                                                                                emin misiniz?&hellip;
                                                                                            </p>
                                                                                            <br>
                                                                                            <button type="button"
                                                                                                    class="btn btn-success"
                                                                                                    data-dismiss="modal">
                                                                                                İptal
                                                                                            </button>
                                                                                            <a type="button"
                                                                                               href="{% url 'delete_article' article.slug %}"
                                                                                               class="btn btn-danger">Sil
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {#end of delete modal#}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="timeline timeline-left">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <p>Makale bulunamadı.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="question-b2" role="tabpanel"
                                 aria-labelledby="question-b2-tab">
                                {% if questions %}
                                    {% for question in questions %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="timeline timeline-left">
                                                    <article class="timeline-item">
                                                        <div class="timeline-desk">
                                                            <div class="panel">
                                                                <div class="timeline-box">
                                                                    <span class="arrow"></span>
                                                                    <span class="timeline-icon bg-primary"><i
                                                                            class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                                    <h4 class="text-primary"><a
                                                                            href="{% url 'question_detail' slug=question.slug postNumber=question.postNumber %}"></a>{{ question.title }}
                                                                    </h4></h4>
                                                                    <p class="timeline-date text-muted">
                                                                        <small>{{ question.createdDate|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <div class="album">
                                                                        <a href="{% url 'question_detail' slug=question.slug postNumber=question.postNumber %}"
                                                                           class="btn btn-primary btn-sm">Soruya Git</a>
                                                                        {% if question.creator == request.user %}
                                                                            <a href="{% url 'edit_question' slug=question.slug postNumber=question.postNumber %}"
                                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                            <a type="button"
                                                                               class="btn btn-sm btn-danger"
                                                                               data-toggle="modal"
                                                                               data-target="#question-{{ question.slug }}"><i
                                                                                    class="fas fa-trash"></i>Sil
                                                                            </a>
                                                                            {#delete modal#}
                                                                            <div class="modal fade"
                                                                                 id="question-{{ question.slug }}">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4 class="modal-title">
                                                                                                UYARI !</h4>
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p class="text-left">
                                                                                                Gerçekten "<span
                                                                                                    class="text-bold">{{ question.title }}</span>"
                                                                                                başlıklı sorunuzu silmek
                                                                                                istediğinize
                                                                                                emin misiniz?&hellip;
                                                                                            </p>
                                                                                            <br>
                                                                                            <button type="button"
                                                                                                    class="btn btn-success"
                                                                                                    data-dismiss="modal">
                                                                                                İptal
                                                                                            </button>
                                                                                            <a type="button"
                                                                                               href="{% url 'delete_question' question.slug %}"
                                                                                               class="btn btn-danger">Sil
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {#end of delete modal#}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="timeline timeline-left">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <p>Soru bulunamadı.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="exam-b2" role="tabpanel" aria-labelledby="exam-b2-tab">
                                {% if exams %}
                                    {% for exam in exams %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="timeline timeline-left">
                                                    <article class="timeline-item">
                                                        <div class="timeline-desk">
                                                            <div class="panel">
                                                                <div class="timeline-box">
                                                                    <span class="arrow"></span>
                                                                    <span class="timeline-icon bg-primary"><i
                                                                            class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                                    <h4 class="text-primary"><a
                                                                            href="{% url 'lecture_exam' exam.lectureId.postNumber %}"></a>{{ exam.lectureId.lectureCode }} - {{ exam.lectureId.title }} - {{ exam.title }}
                                                                    </h4></h4>
                                                                    <p class="timeline-date text-muted">
                                                                        <small>{{ exam.createdDate|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <p class="timeline-date text-muted">
                                                                        Sınav Tarihi<small>{{ exam.examDate|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <p class="timeline-date text-muted">
                                                                        Dönem<small>{{ exam.termId.title|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <div class="album">
                                                                        <a href="{% url 'lecture_exam' exam.lectureId.postNumber %}"
                                                                           class="btn btn-primary btn-sm">Soruya Git</a>
                                                                        {% if exam.creator == request.user %}
                                                                            <a href=""
                                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                            <a type="button"
                                                                               class="btn btn-sm btn-danger"
                                                                               data-toggle="modal"
                                                                               data-target="#question-{{ exam.slug }}"><i
                                                                                    class="fas fa-trash"></i>Sil
                                                                            </a>
                                                                            {#delete modal#}
                                                                            <div class="modal fade"
                                                                                 id="question-{{ exam.slug }}">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4 class="modal-title">
                                                                                                UYARI !</h4>
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p class="text-left">
                                                                                                Gerçekten "<span
                                                                                                    class="text-bold">{{ exam.title }}</span>"
                                                                                                başlıklı sınavınızı
                                                                                                silmek
                                                                                                istediğinize
                                                                                                emin misiniz?&hellip;
                                                                                            </p>
                                                                                            <br>
                                                                                            <button type="button"
                                                                                                    class="btn btn-success"
                                                                                                    data-dismiss="modal">
                                                                                                İptal
                                                                                            </button>
                                                                                            <a type="button"
                                                                                               href=""
                                                                                               class="btn btn-danger">Sil
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {#end of delete modal#}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="timeline timeline-left">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <p>Sınav bulunamadı.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="course-b2" role="tabpanel" aria-labelledby="course-b2-tab">
                                {% if courses %}
                                    {% for course in courses %}
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="timeline timeline-left">
                                                    <article class="timeline-item">
                                                        <div class="timeline-desk">
                                                            <div class="panel">
                                                                <div class="timeline-box">
                                                                    <span class="arrow"></span>
                                                                    <span class="timeline-icon bg-primary"><i
                                                                            class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                                    <h4 class="text-primary"><a
                                                                            href=""></a>{{ course.title }}</h4></h4>
                                                                    <p class="timeline-date text-muted">
                                                                        <small>{{ course.createdDate|date:"d M Y" }}</small>
                                                                    </p>
                                                                    <div class="album">
                                                                        <a href=""
                                                                           class="btn btn-primary btn-sm">Soruya Git</a>
                                                                        {% if course.creator == request.user %}
                                                                            <a href=""
                                                                               class="btn btn-success btn-sm">Düzenle</a>
                                                                            <a type="button"
                                                                               class="btn btn-sm btn-danger"
                                                                               data-toggle="modal"
                                                                               data-target="#question-{{ course.slug }}"><i
                                                                                    class="fas fa-trash"></i>Sil
                                                                            </a>
                                                                            {#delete modal#}
                                                                            <div class="modal fade"
                                                                                 id="question-{{ course.slug }}">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h4 class="modal-title">
                                                                                                UYARI !</h4>
                                                                                            <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p class="text-left">
                                                                                                Gerçekten "<span
                                                                                                    class="text-bold">{{ course.title }}</span>"
                                                                                                başlıklı sınavınızı
                                                                                                silmek
                                                                                                istediğinize
                                                                                                emin misiniz?&hellip;
                                                                                            </p>
                                                                                            <br>
                                                                                            <button type="button"
                                                                                                    class="btn btn-success"
                                                                                                    data-dismiss="modal">
                                                                                                İptal
                                                                                            </button>
                                                                                            <a type="button"
                                                                                               href=""
                                                                                               class="btn btn-danger">Sil
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {#end of delete modal#}
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="timeline timeline-left">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <p>Kurs bulunamadı.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}