<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static "ankadeslogo.png" %}" />
    <link rel="stylesheet" href="{% static "admin/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/assets/css/metismenu.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/assets/css/icons.css" %}">
    <link rel="stylesheet" href="{% static "admin/assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "admin/assets/css/form.css "%}">


    {% if request.path == '/ankades-admin-panel/' %}
        <link rel="stylesheet" href="{% static "admin/plugins/morris/morris.css" %}">
    {% endif %}

</head>

<body>
{% block body %}{% endblock %}
    <script src="{% static 'admin/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/metismenu.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'admin/assets/js/waves.min.js' %}"></script>

{% if request.path == '/ankades-admin-panel/' %}
    <script src="{% static 'admin/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'admin/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'admin/assets/pages/dashboard.init.js' %}"></script>
{% endif %}
    <script src="{% static 'admin/assets/js/app.js' %}"></script>

</body>

</html>