{% load static %}
<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Dashboard</li>
                <li>
                    <a href="{% url 'admin_index' %}" class="waves-effect"><i class="mdi mdi-speedometer"></i>
                        {#                                                <i class="icon-accelerator"></i><span#}
                        {#                                                    class="badge badge-success badge-pill float-right">9+</span>#}
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}" class="waves-effect"><i class="mdi mdi-earth"></i>
                        {#                                                <i class="icon-accelerator"></i><span#}
                        {#                                                    class="badge badge-success badge-pill float-right">9+</span>#}
                        <span> Siteye Dön </span>
                    </a>
                </li>
                <li class="menu-title">KULLANICILAR</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="fa fa-address-book"></i><span> Kullanıcılar <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)"> Liste<span class="float-right menu-arrow"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_all_users' %}"> Tüm Kullanıcılar</a></li>
                                <li><a href="{% url 'admin_students' %}"> Öğrenci</a></li>
                                <li><a href="{% url 'admin_teachers' %}"> Öğretmen</a></li>
                                <li><a href="{% url 'admin_moderators' %}"> Moderatör</a></li>
                                <li><a href="{% url 'admin_admins' %}"> Admin</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'admin_account_groups' %}"> Kullanıcı Grupları</a>
                        </li>
                        <li>
                            <a href="{% url 'admin_account_permission' %}"> Kullanıcı İzinleri</a>
                        </li>
                        <li><a href="{% url 'admin_blocked_users' %}"> Yasaklı Kullanıcılar</a></li>
                    </ul>
                </li>
                <li class="menu-title">YETKİLENDİRME</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i
                            class="fa fa-users"></i><span> Gruplar <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li>
                            <a href="{% url 'admin_all_groups' %}">Grup Listesi</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user-tag"></i> Grup İzinleri <span class="float-right menu-arrow"><i
                            class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin_group_permission' %}">Tüm Grup İzinleri</a></li>
                        <li><a href="{% url 'admin_site_student_permission' %}">Öğrenci İzinleri</a></li>
                        <li><a href="{% url 'admin_site_teacher_permission' %}">Öğretmen İzinleri</a></li>
                        <li><a href="{% url 'admin_site_moderator_permission' %}">Moderatör İzinleri</a></li>
                        <li><a href="{% url 'admin_site_admin_permission' %}">Admin İzinleri</a></li>
                    </ul>
                </li>
                <li class="menu-title">UYGULAMALAR</li>
                {# Article #}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-spread"></i><span> Makaleler <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin_articles' %}">Tüm Makaleler</a></li>
                        <li><a href="{% url 'admin_article_category' %}">Kategori Listesi</a></li>
                        <li><a href="{% url 'admin_add_article' %}">Makale Ekle</a></li>
                        <li><a href="{% url 'admin_add_article_category' %}">Kategori Ekle</a></li>
                    </ul>
                </li>
                {# End Article #}
                {# Course #}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-video"></i><span> Kurslar <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin_courses' %}">Tüm Kurslar</a></li>
                        <li><a href="{% url 'admin_course_category' %}">Kategori Listesi</a></li>
                        <li><a href="{% url 'admin_add_course' %}">Kurs Ekle</a></li>
                        <li><a href="{% url 'admin_add_course_category' %}">Kategori Ekle</a></li>
                    </ul>
                </li>
                {# End Course #}
                {# Exam #}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-file-archive"></i><span> Sınav Soruları <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">Okul<span class="float-right menu-arrow"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_schools' %}">Okul Listesi</a></li>
                                <li><a href="{% url 'admin_add_school' %}">Okul Ekle</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bölüm<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_departments' %}">Bölüm Listesi</a></li>
                                <li><a href="{% url 'admin_add_department' %}">Bölüm Ekle</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Dönem<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_terms' %}">Dönem Listesi</a></li>
                                <li><a href="{% url 'admin_add_term' %}">Dönem Ekle</a></li>
                                {#                                <li><a href="{% url 'admin_add_department_lecture' %}">Bölüme Ders Ekle</a></li>#}
                            </ul>
                        </li>
                        <li>
                            <a href="#">Ders<span class="float-right menu-arrow"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_lectures' %}">Ders Listesi</a></li>
                                <li><a href="{% url 'admin_add_lecture' %}">Ders Ekle</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Sınav Arşivi<span class="float-right menu-arrow"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'admin_exams' %}">Sınav Arşivi</a></li>
                                <li><a href="{% url 'admin_add_exam' %}">Sınav Ekle</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {# End School #}
                {# Questions #}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-question"></i><span> Sorular <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="#">Soru Listesi</a></li>
                        <li><a href="#">Kategori Ekle</a></li>
                        <li><a href="#">Kategori Ekle</a></li>
                        <li><a href="#">Soru Ekle</a></li>
                    </ul>
                </li>
                {# End Questions #}
                {# Tags #}
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-tags"></i><span> Etiketler <span
                            class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'admin_tags' %}">Etiketler</a></li>
                        <li><a href="{% url 'admin_add_tag' %}">Etiket Ekle</a></li>
                    </ul>
                </li>
                {# End Tags #}
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>