{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load static %}
{% block title %}Ankades Soru Düzeltme{% endblock %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Soru Sorma</h3>
                        </div>
                        <form role="form" method="post" action="{% url 'edit_question' instance.slug instance.questionNumber %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Kategori*</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="value"
                                            required>
                                        <option value="{{ instance.categoryId_id }}">{{ instance.categoryId.title }}</option>
                                        {% if questionCategory %}
                                            {% for category in questionCategory %}
                                                <option value="{{ category.id }}">{{ category.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Başlık*</label>
                                    <input type="text" class="form-control" id="title" name="title" value="{{ instance.title }}"
                                           placeholder="Başlık">
                                </div>
                                <div class="form-group mb-0">
                                    <label>Sorunuz*</label>
                                    <div>
                                        {{ form.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Soru Sor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}