{% extends 'ankades/layout/layout.html' %}
{% load static %}
{% block title %}Ankacademy | {{ instance.title }}{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card card-widget mt-3 p-3 col-lg-12">
                    <div class="card-header">
                        <div class="user-block">
                            <img class="img-circle" src="{{ instance.creator.image.url }}"
                                 alt="{{ instance.creator.get_full_name }}">
                            <span class="username"><a
                                    href="{% url 'account_detail' instance.creator %}">{{ instance.creator.get_full_name }}</a></span>
                            <span class="description">Paylaşım tarihi - {{ instance.createdDate }}</span>
                        </div>
                        {% if instance.creator == request.user or userGroup == 'admin' or userGroup == 'moderator' %}
                            <span class="float-right">
                                <a class="btn btn-danger btn-md"
                                   href="{% url 'delete_question' instance.slug %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Soruyu Sil
                                </a>
                            </span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="container-fluid container p-5"
                             style="background: #f8f9fa">
                            <div class="title-inline">
                                <h2>{{ instance.title }}</h2>
                            </div>
                            {{ instance.description|safe }}
                        </div>
                        <div class="container mt-3">
                            <button type="button" class="btn btn-danger btn-md"><i class="fas fa-share"></i> Paylaş
                            </button>
                            <a type="button" data-href='{{ instance.get_api_like_url }}'
                               data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'
                               class="btn btn-primary btn-md"><i class="far fa-thumbs-up"></i> Beğen
                            </a>
                            {% if instance.creator == request.user %}
                                <a class="btn btn-info btn-md"
                                   href="{% url 'edit_question' instance.slug instance.questionNumber %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                {#                                <a href="https://twitter.com/share?url={{ request.get_full_path }}&amp;text={{ instance.title }}&amp;hashtags={{ instance.slug }}"#}
                                {#                                   target="_blank">#}
                                {#                                    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter"/>#}
                                {#                                </a>#}
                            {% endif %}
                            {% if instance.creator != request.user %}
                                <a type="button" style="color: white !important;" class="btn btn-warning btn-md"
                                   data-toggle="modal"
                                   data-target="#modal-default">
                                    Şikayet Et
                                </a>
                            {% endif %}
                            <span class="float-right text-muted">{{ instance.likes.count }} Beğeni - {{ instance.view }} Gösterim - {{ questionAnswers.count }} Yorum</span>
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-danger"><i class="far fa-thumbs-up"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Toplam Beğeni</span>
                                            <span class="info-box-number">{{ instance.likes.count }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-primary"><i class="far fa-eye"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Toplam Gösterim</span>
                                            <span class="info-box-number">{{ instance.view }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-12 mt-5">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success"><i class="far fa-comments"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Yorum Sayısı</span>
                                            <span class="info-box-number">{{ questionAnswers.count }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        {% if certifiedAnswer %}
                            <div class="timeline">
                                <div class="time-label">
                                    <span class="bg-success"><i class="fas fa-check"></i>  Doğru Cevap</span>
                                </div>
                                <div class="timeline-item card-footer card-comments">
                                    <div class="card-comment">
                                        <img class="img-circle img-sm" src="{{ certifiedAnswer.creator.image.url }}"
                                             alt="User Image">
                                        <div class="comment-text">
                                        <span class="username">
                                            <a href="{% url 'account_detail' certifiedAnswer.creator %}">{{ certifiedAnswer.creator.get_full_name }}</a>
                                            <span class="text-muted float-right ml-2">{{ certifiedAnswer.createdDate }}</span>
                                            <span class="text-muted float-right">Toplam Onaylanma: {{ certifiedAnswer.votes.count }}</span>
                                        </span>
                                            {{ certifiedAnswer.content }}
                                        </div>
                                    </div>
                                    {% if certifiedAnswer.questionId.creator == request.user or userGroup == "moderator" or userGroup == "admin" %}
                                        <a href="{% url 'confirm_answer' certifiedAnswer.answerNumber %}"
                                           class="btn btn-danger float-right btn-sm">
                                            Onayı Kaldır
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <h4 class="comments-title mb-3">
                            Cevaplar
                        </h4>
                        {% if questionAnswers %}
                            {% for answer in questionAnswers %}
                                <div class="timeline">
                                    <div>
                                        {% if answer.isCertified %}
                                            <i class="fas fa-check bg-success"></i>
                                        {% else %}
                                            <i class="fas fa-comment bg-blue"></i>
                                        {% endif %}
                                        <div class="timeline-item p-2">
                                            <img class="img-circle img-sm" src="{{ answer.creator.image.url }}"
                                                 alt="{{ answer.creator.get_full_name }}">
                                            <span class="time"><i
                                                    class="fas fa-clock"></i> {{ answer.createdDate }}</span>
                                            <span class="time">Toplam Onaylanma: {{ answer.votes.count }}</span>
                                            <h3 class="timeline-header ml-2 no-border"><a
                                                    href="{% url 'account_detail' answer.creator %}">{{ answer.creator.get_full_name }}</a>
                                            </h3>
                                            <div class="timeline-body">
                                                {{ answer.content }}
                                            </div>
                                            <div class="timeline-footer">
                                                {% if answer.creator != request.user %}
                                                    <a class="btn btn-primary btn-sm"
                                                       href="{% url 'question_vote_comment' answer.answerNumber %}">Oy
                                                        ver</a>
                                                {% endif %}
                                                <a class="btn btn-info btn-sm">Cevapla</a>
                                                {% if instance.creator == request.user %}
                                                    {% if answer.questionId.isSolved == False and answer.isCertified == False %}
                                                        <a href="{% url 'confirm_answer' answer.answerNumber %}"
                                                           class="btn btn-success btn-sm">
                                                            Onayla
                                                        </a>
                                                    {% endif %}
                                                    {% if answer.isCertified %}
                                                        <a href="{% url 'confirm_answer' answer.answerNumber %}"
                                                           class="btn btn-success btn-sm">
                                                            Onayı Kaldır
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if answer.creator == request.user or instance.creator == request.user %}
                                                    <a href="{% url 'delete_answer' answer.id %}"
                                                       class="btn btn-danger btn-sm">Sil</a>{% endif %}

                                            </div>
                                        </div>
                                    </div>
                                    {#                                TODO Yoruma yorum ekleme#}
                                    <div>

                                    </div>
                                    {% if answerReply %}
                                        {% for reply in answerReply %}
                                            {% if reply.parentId_id == answer.id %}
                                                <div>
                                                    <div class="timeline-item p-2"
                                                         style="background-color: #f8f9fa !important; border:none; box-shadow: none">
                                                        <img class="img-circle img-sm"
                                                             src="{{ reply.creator.image.url }}"
                                                             alt="{{ reply.creator.get_full_name }}">
                                                        <span class="time"><i
                                                                class="fas fa-clock"></i> {{ reply.createdDate }}</span>
                                                        <h3 class="timeline-header"><a
                                                                href="#">{{ reply.creator.get_full_name }}</a></h3>
                                                        <div class="timeline-body">
                                                            {{ reply.content }}
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a class="btn btn-primary btn-sm">Oy ver</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="callout callout-danger col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <h5>Üzgünüz :(</h5>
                                <p>Herhangi bir cevap bulunamadı. İlk cevabı sen vermek ister misin ?</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="container">
                        <form method="post" class="comment-form"
                              action="{% url 'add_question_answer' slug=instance.slug questionNumber=instance.questionNumber %}">
                            {% csrf_token %}
                            <p class="comment-form-comment form-group has-placeholder">
                                <label for="content">Bir Cevap Yaz</label>
                                <i class="fa fa-edit color-main"></i>
                                <textarea class="form-control" id="content" name="content"
                                          cols="45"
                                          rows="8" maxlength="65525" aria-required="true"
                                          required="required" placeholder=""></textarea>
                            </p>
                            <p class="form-submit">
                                <button type="submit" class="btn btn-primary">
                                    <span>Gönder</span>
                                </button>
                            </p>
                        </form>
                    </div>
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Şikayet Et</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" method="post">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="title">Başlık</label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                       placeholder="Başlık">
                                            </div>
                                            <div class="form-group">
                                                <label for="title">Açıklama</label>
                                                <input type="text" class="form-control" id="title" name="title"
                                                       placeholder="Açıklama">
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" name="submit" class="btn btn-primary">Kaydet</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
