{% extends 'adminpanel/layout/layout.html' %}
{% block title %}Ankacademy | Sınav Ekle{% endblock %}
{% load static %}
{% block content %}
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary mt-5">
                        <div class="card-header">
                            <h3 class="card-title">Sınav Ekle</h3>
                        </div>
                        <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="school">Okul*</label>
                                    <input type="text" id="school" class="form-control" name="school" disabled
                                           value="{{ department.schoolId.title }}">
                                </div>
                                <div class="form-group">
                                    <label for="department">Bölüm*</label>
                                    <input type="text" id="department" class="form-control" name="department" disabled
                                           value="{{ department.title }}">
                                </div>
                                <div class="form-group">
                                    <label for="lectureCode">Ders* (Devam etmek için ders seçiniz.)</label>
                                    <select id="lectureCode" class="form-control select2bs4" style="width: 100%;"
                                            value="Seçiniz" name="lectureCode" required>
                                        <option disabled>Lütfen bir ders seçiniz</option>
                                        {% if lectures %}
                                            {% for lecture in lectures %}
                                                <option value="{{ lecture.id }}">{{ lecture.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="term">Dönem* (Devam etmek için dönem seçiniz.)</label>
                                    <select id="term" class="form-control select2bs4" style="width: 100%;"
                                            value="Seçiniz" name="term" required>
                                        <option disabled>Lütfen bir dönem seçiniz</option>
                                        {% if terms %}
                                            {% for term in terms %}
                                                <option value="{{ term.id }}">{{ term.title }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Başlık*</label>
                                    <input type="text" id="title" class="form-control" name="title"
                                            placeholder="2018-2019 1. Midterm Sınavı">
                                </div>
                                <div class="form-group">
                                    <label for="owner">Sınavı Hazırlayan Kişinin Adı*</label>
                                    <input type="text" id="owner" class="form-control" name="owner"
                                            placeholder="2018-2019 1. Midterm Sınavı">
                                </div>
                                <div class="form-group">
                                    <label for="media">Dosya Seçin</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="media"
                                                   id="media">
                                            <label class="custom-file-label" for="media">Dosya seçin</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Yükle</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" name="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}