{% extends "admin/layout/layout.html" %}
{% block title %}Kurslar{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-page">
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <h4 class="page-title">Kurs Listesi</h4>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                style="list-style: none"
                                    {% if message.tags %} {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Tüm Kurslar</h4>
                                <p class="sub-title../plugins">
                                    Aşağıdan kursları görüntüleyebilir, düzenleyebilirsiniz.
                                </p>
                                <table id="datatable-buttons"
                                       class="table table-striped table-bordered dt-responsive nowrap"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Kurs Başlığı</th>
                                        <th>Kurs Sahibi</th>
                                        <th>Kurs Kategorisi</th>
                                        <th>Kurs Oluşturulduğu Tarih</th>
                                        <th>Kurs Güncellendiği Tarih</th>
                                        <th>Aktiflik</th>
                                        <th>Özellik</th>
                                        <th>Görüntülenme</th>
                                        <th>İşlemler</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if courses %}
                                        {% for course in courses %}
                                            <tr>
                                                <td>{{ course.title }}</td>
                                                <td>{{ course.creator.get_full_name }}</td>
                                                <td>{{ course.categoryId }}</td>
                                                <td>{{ course.createdDate }}</td>
                                                <td>{{ course.updatedDate }}</td>
                                                <td>{% if course.isActive is True %}Aktif{% else %}
                                                    Kapalı{% endif %}</td>
                                                <td>{% if course.isPrivate is True %}Özel{% else %}
                                                    Açık{% endif %}</td>
                                                <td>{{ course.view }}</td>
                                                <td>
                                                    <a href="{% url 'admin_edit_course' course.slug %}"
                                                       class="btn btn-success btn-sm">Düzenle</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'admin_delete_course' course.slug %}"
                                                       class="btn btn-danger btn-sm">Sil</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'admin/layout/footer.html' %}
    </div>
{% endblock body %}