{% extends "admin/layout/layout.html" %}
{% block title %}Kurs Kategori Ekle{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div id="wrapper">
        <!-- Top Bar Start -->
        {% include "admin/layout/navbar.html" %}
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include "admin/layout/sidebar.html" %}
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6">
                                <h4 class="page-title">Kurs Kategori Listesi</h4>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item"><a href="">Kurs</a></li>
                                    <li class="breadcrumb-item"><a href="">Kurs Kategori Listesi</a></li>
                                </ol>
                            </div>
                        </div> <!-- end row -->
                    </div>
                    {#Ana Kategori#}
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Ana Kategori Listesi</h4>
                                    <p class="sub-title../plugins">Aşağıdan ana kategorileri görüntüleyebilir,
                                        düzenleyebilirsiniz.
                                    </p>
                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Kurs Kategori Başlığı</th>
                                            <th>Kurs Kategori Oluşturan</th>
                                            <th>Kurs Kategori Oluşturulma Tarihi</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if course_categories_list %}
                                            {% for course_category in course_categories_list %}
                                                <tr>
                                                    <td>{{ course_category.course_category_title }}</td>
                                                    <td>{{ course_category.course_category_creator.get_full_name }}</td>
                                                    <td>{{ course_category.course_category_created_date }}</td>
                                                    <td>
                                                        <a href="{% url 'admin_edit_course_category' course_category.course_category_slug %}"
                                                           class="btn btn-success btn-sm">Düzenle</a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin_delete_course_category' course_category.course_category_slug %}"
                                                           class="btn btn-danger btn-sm">Sil</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    {#Alt Kategori#}

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Alt Kategori Listesi</h4>
                                    <p class="sub-title../plugins">Aşağıdan alt kategorileri görüntüleyebilir,
                                        düzenleyebilirsiniz.
                                    </p>
                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse !important; border-spacing: 0 !important; width: 100% !important;">
                                        <thead>
                                        <tr>
                                            <th>Kurs Kategori Başlığı</th>
                                            <th>Kurs Alt Kategori Başlığı</th>
                                            <th>Kurs Alt Kategori Oluşturan</th>
                                            <th>Kurs Alt Kategori Oluşturulma Tarihi</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% if course_sub_categories_list %}
                                            {% for subCategory in course_sub_categories_list %}
                                                <tr>
                                                    <td>{{ subCategory.course_category_id }}</td>
                                                    <td>{{ subCategory.course_sub_category_title }}</td>
                                                    <td>{{ subCategory.course_sub_category_creator.get_full_name }}</td>
                                                    <td>{{ subCategory.course_sub_category_created_date }}</td>
                                                    <td>
                                                        <a href="{% url 'admin_edit_course_sub_category' subCategory.course_sub_category_slug %}"
                                                           class="btn btn-success btn-sm">Düzenle</a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin_delete_course_sub_category' subCategory.course_sub_category_slug %}"
                                                           class="btn btn-danger btn-sm">Sil</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                    {#En Alt Kategori#}
                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">En Alt Kategori Listesi</h4>
                                    <p class="sub-title../plugins">Aşağıdan en alt kategorileri görüntüleyebilir,
                                        düzenleyebilirsiniz.
                                    </p>
                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>Kurs Alt Kategori Başlığı</th>
                                            <th>Kurs En Alt Kategori Başlığı</th>
                                            <th>Kurs En Alt Kategori Oluşturan</th>
                                            <th>Kurs En Alt Kategori Oluşturulma Tarihi</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                        </thead>
                                        {% if course_sub_to_sub_categories_list %}
                                            {% for subToSubCategory in course_sub_to_sub_categories_list %}
                                                <tbody>
                                                <tr>
                                                    <td>{{ subToSubCategory.course_sub_category_id }}</td>
                                                    <td>{{ subToSubCategory.course_sub_to_sub_category_title }}</td>
                                                    <td>{{ subToSubCategory.course_sub_to_sub_category_creator.get_full_name }}</td>
                                                    <td>{{ subToSubCategory.course_sub_to_sub_category_created_date }}</td>
                                                    <td>
                                                        <a href="{% url 'admin_edit_course_sub_to_sub_category' subToSubCategory.course_sub_to_sub_category_slug %}"
                                                           class="btn btn-success btn-sm">Düzenle</a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin_delete_course_sub_to_sub_category' subToSubCategory.course_sub_to_sub_category_slug %}"
                                                           class="btn btn-danger btn-sm">Sil</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        {% else %}
                                            <tbody>
                                            <tr>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                            </tr>
                                            </tbody>
                                        {% endif %}

                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}