{% extends 'ankacademy/layout/layout.html' %}
{% load static %}
{% block title %} | Ankacademy{% endblock %}
{% block content %}

{% endblock %}
{% if articles %}
                                    {% for article in articles %}
                                        <div class="timeline timeline-left">
                                            <article class="timeline-item">
                                                <div class="timeline-desk">
                                                    <div class="panel">
                                                        <div class="timeline-box">
                                                            <span class="arrow"></span>
                                                            <span class="timeline-icon"><i
                                                                    class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                                            <h3 class="">{{ article.title }}</h3>
                                                            <p class="timeline-date text-muted">
                                                                <small>{{ article.createdDate|date:"d M Y" }}</small>
                                                            </p>
                                                            <p class="mb-0">{% if article.description %}
                                                                {{ article.description|safe|truncatechars:200 }}{% else %}
                                                                {{ article.abstract|safe|truncatechars:200 }}{% endif %}</p>
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="{% url 'article_detail' username=article.creator.username slug=article.slug %}"
                                                               class="btn btn-primary btn-sm">Devamı</a>
                                                            {% if article.creator == request.user %}
                                                                <a href="{% url 'edit_article' slug=article.slug %}"
                                                                   class="btn btn-success btn-sm">Düzenle</a>
                                                                <a type="button" class="btn btn-sm btn-danger"
                                                                   data-toggle="modal"
                                                                   data-target="#article-{{ article.slug }}"><i
                                                                        class="fas fa-trash"></i>Sil
                                                                </a>
                                                                {#delete modal#}
                                                                <div class="modal fade" id="article-{{ article.slug }}">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">UYARI !</h4>
                                                                                <button type="button" class="close"
                                                                                        data-dismiss="modal"
                                                                                        aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p class="text-left">Gerçekten "<span
                                                                                        class="text-bold">{{ article.title }}</span>"
                                                                                    adlı makalenizi silmek istediğinize
                                                                                    emin misiniz?&hellip;
                                                                                </p>
                                                                                <br>
                                                                                <button type="button"
                                                                                        class="btn btn-success"
                                                                                        data-dismiss="modal">İptal
                                                                                </button>
                                                                                <a type="button"
                                                                                   href="{% url 'delete_article' article.slug %}"
                                                                                   class="btn btn-danger">Sil
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {#end of delete modal#}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="timeline timeline-left">
                                        <article class="timeline-item">
                                            <div class="timeline-desk">
                                                <div class="panel">
                                                    <div class="timeline-box">
                                                        <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <p>Makale bulunamadı.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}