{% extends 'ankacademy/layout/layout.html' %}
{% load static %}
{% block title %}Okullar | Ankacademy{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'terms_of_use' %}">Ankacademy</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Gizlilik Politikası</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Gizlilik Politikası</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                {{ instance.description|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}