<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a href="{% url 'index' %}"> <i class="mdi mdi-view-dashboard"></i>Anasayfa</a>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'all_articles' %}">
                        <i class="mdi mdi-book-open"></i>Makaleler
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'all_courses' %}">
                        <i class="mdi mdi-video"></i>Kurslar
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'all_schools' %}">
                        <i class="mdi mdi-book-multiple"></i>Sınav Arşivi
                    </a>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'all_questions' %}">
                        <i class="mdi mdi-lock-question"></i>Sorular
                    </a>
                </li>

                {% if userGroup == 'admin' or userGrouop == 'moderator' or userGroup == 'ogretmen' %}
                    <li class="has-submenu">
                        <a href="#"> <i class="mdi mdi-diamond-stone"></i>Paylaşım
                        </a>
                        <ul class="submenu">
                            <li><a href="{% url 'add_article' %}">Makale</a></li>
                            <li><a href="{% url 'add_course' %}">Kurs</a></li>
                            <li><a href="{% url 'add_exam' %}">Sınav</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li class="has-submenu">
                    <a href="{% url 'add_question' %}"> <i class="mdi mdi-comment-question"></i>Soru Sor
                    </a>
                </li>

            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>