{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
    <section class="ls ms s-py-80 s-py-lg-120 s-py-xl-160">
	    <div class="container">
		    <div class="row ls p-5 animate" data-animation="fadeIn" data-delay="150" style="border-radius: 15px;">
                <main class="col-lg-12 col-xl-12">
                <h3 style="text-align: center">E-Posta Gönderildi</h3>
                <h1>Şifre Başarıyla Sıfırlandı</h1>
                <p>Your new password has been set. You can log in now on the <a href="{% url 'login_account' %}">log in page</a>.</p>
                </main>
            </div>
        </div>
    </section>

{% endblock %}