{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
    <section class="ls ms s-py-80 s-py-lg-120 s-py-xl-160">
	    <div class="container">
		    <div class="row ls p-5 animate" data-animation="fadeIn" data-delay="150" style="border-radius: 15px;">
                <main class="col-lg-12 col-xl-12">
                <h3 style="text-align: center">Şifre Sıfırla</h3>
                    <form method="post">
                        {# csrf_token 3. kişilerin erişimini engeller her form başında kullanılması gerekir#}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" class="btn small-btn btn-success">Sıfırla</button>
                        <p class="mt-5 border-top"><a style="color: #0a3a82" href="{% url 'login_account' %}">ya da giriş yap</a></p>
                    </form>
                </main>
            </div>
        </div>
    </section>
{% endblock body %}
