{% extends 'ankacademy/layout/layout.html' %}
{% load static %}
{% block title %}{{ instance.title }} | Ankacademy{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ankacademy</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'all_courses' %}">Kurslar</a></li>
                            <li class="breadcrumb-item">{{ instance.title }}</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{ instance.title }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="card mt-4">
                    <div class="blog-post bg-transparent">
                        <div class="post-image">
                            <img src="{{ instance.coursePicture.url }}" alt="{{ instance.title }}"
                                 style="min-width: 100% !important; max-height: 250px !important;"
                                 class="img-fluid mx-auto d-block rounded-top">
                        </div>
                        <div class="card-body">
                            <div class="text-left pt-2 pb-2">
                                <h3>{{ instance.title|lower|upper }}</h3>
                            </div>
                            <hr/>
                            <div class="post-data pt-2">
                                {% if instance.introduction %}
                                    {{ instance.introduction|safe }}
                                {% endif %}
                            </div>
                            <hr/>
                            <div class="post-data pt-2">
                                {% if instance.description %}
                                    {{ instance.description|safe }}
                                {% endif %}
                            </div>
                            <hr/>

                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="justify-content-center">
                            <h3 class="ml-4">Bölümler ve Dersler</h3>
                            <div class="card-body mb-0 mt-0">
                                <div id="accordion">
                                    {% for section in sections %}
                                        {% if section.courseId.courseNumber == instance.courseNumber %}
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                           href="#c{{ forloop.counter }}">
                                                            {{ section.title }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="c{{ forloop.counter }}" class="panel-collapse collapse in">
                                                    <div class="card-body">
                                                        <div class="list-group">
                                                            {% for lecture in lectures %}
                                                                {% if lecture.sectionId == section %}
                                                                    {% if lecture.isPrivate %}
                                                                        {% if currentUserEnrolled %}
                                                                            <a href="{% url 'course_lecture_detail' lecture.lectureNumber %}"
                                                                               class="list-group-item list-group-item-action">
                                                                                {{ lecture.title|lower|capfirst }}
                                                                            </a>
                                                                        {% else %}
                                                                            <a href="#"
                                                                               class="list-group-item list-group-item-action disabled"
                                                                               tabindex="-1"
                                                                               aria-disabled="true">{{ lecture.title|lower|capfirst }}</a>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4">
                <div class="mt-4">
                    <div class="text-center card-box shadow-none border border-secoundary">
                        <div class="member-card">
                            <div class="avatar-xl member-thumb mb-3 mx-auto d-block">
                                <img src="{{ instance.creator.image.url }}" class="rounded-circle img-thumbnail"
                                     alt="profile-image">
                                {% if creatorGroup == 'admin' or creatorGroup == 'moderator' or creatorGroup == 'ogretmen' %}
                                    <i class="mdi mdi-star-circle member-star text-success"
                                       title="verified user"></i>{% endif %}
                            </div>

                            <div class="">
                                <h5 class="font-18 mb-1">{{ instance.creator.get_full_name }}</h5>
                                <p class="text-muted mb-2">{{ creatorGroup.title }}</p>
                            </div>

                            {% if instance.creator.username != request.user.username %}
                                {% if existFollower %}
                                    <button type="button" class="btn btn-primary btn-sm mt-2 "><span
                                            class="mdi mdi-thumb-up"><a style="color: #fff !important;"
                                                                        href="{% url 'follow_account' instance.creator.username %}">Takibi Bırak</a></span>
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-primary btn-sm mt-2 "><span
                                            class="mdi mdi-thumb-up"><a style="color: #fff !important;"
                                                                        href="{% url 'follow_account' instance.creator.username %}">Takip Et</a></span>
                                    </button>
                                {% endif %}
                            {% endif %}
                            <button type="button"
                                    class="btn btn-danger btn-sm width-sm waves-effect mt-2 waves-light">Mesaj
                            </button>

                            <p class="sub-header mt-3">
                                {% if instance.creator.bio %}{{ instance.creator.bio }}{% else %}
                                    {{ instance.creator.get_full_name }} kullanıcıs biyografisini
                                    paylaşmamış{% endif %}
                            </p>

                            <hr/>

                            <div class="text-left">
                                <p class="text-muted font-13"><strong>Ad :</strong> <span
                                        class="ml-4">{{ instance.creator.get_full_name }}</span>
                                </p>

                                <p class="text-muted font-13"><strong>Email :</strong> <span
                                        class="ml-4">{{ instance.creator.email }}</span>
                                </p>

                                <p class="text-muted font-13"><strong>Üyelik :</strong> <span
                                        class="ml-4">{{ creatorGroup.title }}</span></p>
                            </div>
                            <ul class="social-links list-inline mt-4">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips"
                                       href=""
                                       data-original-title="Skype"><i class="fab fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-box shadow-none border border-secoundary">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                <tr>
                                    <th scope="row">Takipçi:</th>
                                    <td>{{ followers.count }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Takip:</th>
                                    <td><span class="label label-danger">{{ followings.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Makale:</th>
                                    <td><span class="label label-danger">{{ articlesCount.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Soru:</th>
                                    <td><span class="label label-danger">{{ questionsCount.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Kurs:</th>
                                    <td><span class="label label-danger">{{ coursesCount.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Sınav:</th>
                                    <td><span class="label label-danger">{{ examsCount.count }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Onaylanmış Cevap:</th>
                                    <td><span class="label label-danger">{{ certifiedAnswersCount.count }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
