{% extends "ankades/layout/layout.html" %}
{% block title %} Ankades {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    {% if request.user.is_superuser %}
        {% include "ankades/layout/admin-header.html" %}
    {% endif %}
    {% include "ankades/layout/header.html" %}
    <section class="page_slider">
        <div id="particles-js"></div>
        <div class="flexslider" data-nav="false">
            <ul class="slides">
                <li class="ds">
                    <img src="images/slide01.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="intro_layers_wrapper">
                                    <div class="intro_layers">
                                        <div class="intro_layer" data-animation="fadeInRight">
                                            <h1 class="intro_featured_word">Prepare<br>for<br>High Speed<br> Internet
                                            </h1>
                                            <h5 class="intro_before_featured_word intro-absolute text-uppercase fw-200">
                                                Best Internet Service<br> Provider In Country
                                            </h5>
                                        </div>
                                        <div class="intro_layer" data-animation="fadeInUp">
                                            <p class="text-uppercase intro_after_featured_word">Check our Internet
                                                Plans</p>
                                        </div>
                                    </div> <!-- eof .intro_layers -->
                                </div> <!-- eof .intro_layers_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                </li>
                <li class="ds slide2">
                    <img src="images/slide02.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="intro_layers_wrapper">
                                    <div class="intro_layers">
                                        <div class="intro_layer" data-animation="fadeInRight">
                                            <h1 class="slide2 intro_featured_word">Internet<br>for<br>Institution<br>&
                                                SME</h1>
                                            <h5 class="fw-300 text-uppercase intro_before_featured_word intro-absolute">
                                                Leased Line Internet<br> with A+ Category
                                            </h5>
                                        </div>
                                        <div class="intro_layer" data-animation="fadeInUp">
                                            <p class="text-uppercase intro_after_featured_word">Check our Services</p>
                                        </div>
                                    </div> <!-- eof .intro_layers -->
                                </div> <!-- eof .intro_layers_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                    <div class="social-flex">
                        <p class="social-heading">
                            follow
                        </p>
                        <p class="social-icons">
                            <a href="#" class="fa fa-facebook color-white" title="facebook"></a>
                            <a href="#" class="fa fa-twitter color-white" title="twitter"></a>
                            <a href="#" class="fa fa-youtube-play color-white" title="google"></a>
                        </p>
                    </div>
                </li>
                <li class="ds slide3">
                    <img src="images/slide03.jpg" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="intro_layers_wrapper">
                                    <div class="intro_layers">
                                        <div class="intro_layer" data-animation="fadeInRight">
                                            <h1 class="slide2 intro_featured_word">Don’t<br>Suffer<br>The<br>Buffer</h1>
                                            <h5 class="intro-absolute fw-300 text-uppercase intro_before_featured_word">
                                                Speeds Up to 1 Gbps<br> with Unlimited Data
                                            </h5>
                                        </div>
                                        <div class="intro_layer" data-animation="fadeInUp">
                                            <p class="text-uppercase intro_after_featured_word">Check Testimonials</p>
                                        </div>
                                    </div> <!-- eof .intro_layers -->
                                </div> <!-- eof .intro_layers_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                </li>
            </ul>
        </div> <!-- eof flexslider -->
        <div class="ds social-flex">
            <p class="social-heading">
                follow
            </p>
            <p class="social-icons">
                <a href="#" class="fa fa-facebook color-white" title="facebook"></a>
                <a href="#" class="fa fa-twitter color-white" title="twitter"></a>
                <a href="#" class="fa fa-youtube-play color-white" title="google"></a>
            </p>
        </div>
        <div class="arrow">
            <img src="images/bottom.png" alt="">
        </div>
        <div class="animated-arrow">
            <a href="#price">
                <div class="mouse_scroll">
                    <span class=""><i class="color-main fa fa-angle-down unu"></i></span>
                    <span class=""><i class="color-main fa fa-angle-down doi"></i></span>
                    <span class=""><i class="color-main fa fa-angle-down trei"></i></span>
                </div>
            </a>
        </div>
    </section>
    <footer class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
        <div class="container">
            <div class="row">
                <div class="divider-20 d-none d-xl-block"></div>

                <div class="col-md-6 col-xl-3 order-xl-1 order-md-1 animate" data-animation="fadeInUp">

                    <div class="widget widget_text">
                        <h4 class="widget-title">About</h4>
                        <p>
                            Welcome largest broadband and Internet services provider where you can choose the best plan
                            ever.
                        </p>
                        <div class="widget widget_social_buttons">
                            <a href="#" class="fa fa-facebook color-bg-icon rounded-icon" title="facebook"></a>
                            <a href="#" class="fa fa-twitter color-bg-icon rounded-icon" title="twitter"></a>
                            <a href="#" class="fa fa-youtube-play color-bg-icon rounded-icon" title="youtube-play"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 order-xl-2 order-md-4 animate" data-animation="fadeInUp">
                    <div class="widget links">
                        <h4 class="widget-title">Links</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="blog-right.html">Packages</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">MaxiNet Media</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Connection</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Support</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Video Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 order-xl-3 order-md-3 animate" data-animation="fadeInUp">
                    <div class="widget services-links">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li class="cat-item">
                                <a href="blog-right.html">4K Cable TV</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Dedicated Server</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">High Speed Internet</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Smartphone Service</a>
                            </li>
                            <li class="cat-item">
                                <a href="blog-right.html">Dedicated Server</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 order-xl-4 order-md-2 animate" data-animation="fadeInUp">
                    <div class="widget widget_icons_list">
                        <h4 class="widget-title">Call Us</h4>
                        <p>23-456-7890</p>
                        <a href="#" class="small-text">
                            <i class="fa fa-envelope-o color-main fs-14"></i>
                            email us
                        </a>
                        <h4 class="widget-title">Visit Us</h4>
                        <p>246 Benson St., Ashwaubenon</p>
                        <a href="#" class="small-text">
                            <i class="fa fa-map-marker color-main3 fs-14"></i>
                            Get Direction
                        </a>
                    </div>
                    <div class="divider-45 d-none d-md-block d-xlz-none"></div>
                </div>
            </div>
        </div>
    </footer>
    <section class="page_copyright ds s-py-10 copyright-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="divider-15 d-none d-lg-block"></div>
                <div class="col-md-12 text-center">
                    <p>&copy; Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
                </div>
                <div class="divider-15 d-none d-lg-block"></div>
            </div>
        </div>
    </section>
{% endblock %}