{% extends 'ankades/layout/layout.html' %}
{% load crispy_forms_tags %}
{% block body %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="../ankades" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">

            {% include 'ankades/layout/header.html' %}

            <section class="ls s-pt-80 s-pb-70 s-py-lg-120 s-py-xl-160">
                <div class="container">
                    <div class="row">
                        <main class="col-lg-12">
                            <article>
                                <header class="entry-header mb-30">
                                    <h1 class="entry-title">Addresses</h1>
                                    <span class="edit-link">
										<a class="post-edit-link" href="#">
											Edit
											<span class="screen-reader-text">"My account"</span>
										</a>
									</span>
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <nav class="woocommerce-MyAccount-navigation hero-bg p-60">
                                            <ul>
                                                <li>
                                                    <a href="shop-account-dashboard.html">Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-orders.html">Orders</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-downloads.html">Downloads</a>
                                                </li>
                                                <li class="is-active">
                                                    <a href="shop-account-addresses.html">Addresses</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-details.html">Account details</a>
                                                </li>
                                                <li>
                                                    <a href="shop-account-login.html">Logout</a>
                                                </li>
                                            </ul>
                                        </nav>


                                        <div class="woocommerce-MyAccount-content">

                                        </div>
                                    </div>
                                </div>
                                <!-- .entry-content -->
                            </article>

                        </main>
                    </div>
                </div>
            </section>

            {% include 'ankades/layout/footer.html' %}


        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->
{% endblock %}