{% extends 'ankades/layout/layout.html' %}
{% load static %}
{% block content %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning"> 404</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Böyle bir sayfa bulunamadı.</h3>

                <p>
                    Aradığını sayfayı bulamadık.
                    Meanwhile, you may <a href="{% url 'index' %}">Anasayfaya geri dön.</a>
                </p>

                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
{% endblock %}