{% extends "admin/layout/layout/layout.html" %}
{% block title %}Anasayfa | {{ request.user.first_name|upper }}{% endblock %}
{% block body %}

    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/dataTables.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/plugins/datatables/buttons.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/responsive.bootstrap4.min.css" %}"/>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        {% include "admin/layout/layout/navbar.html" %}
        {% if adminGroup  %}
            {% include "admin/layout/layout/sidebar.html" %}
        {% else %}
            {% include "admin/layout/layout/sidebar-moderator.html" %}
        {% endif %}
            <!-- Start content -->
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h4 class="page-title">Kurs Listesi</h4>
                            </div>
                        </div> <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Tüm Kurslar</h4>
                                    <p class="sub-title../plugins">
                                        Aşağıdan kursları görüntüleyebilir, düzenleyebilirsiniz.
                                    </p>
                                        <div>
                                            {{ act.act_title }}
                                        </div>
                                        <div>
                                            {{ act.act_app }}
                                        </div>
                                        <div>
                                            {{ act.act_created_date }}
                                        </div>
                                        <div>
                                            {{ act.act_creator }}
                                        </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <!-- end page-title -->

                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->

            <footer class="footer">
                © 2019 - 2020 Tüm Hakları Saklıdır
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->


    <!-- jQuery  -->
{% endblock body %}