<li class="nav-header">MAKALELER</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_articles' %}" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
            Tüm Makaleler
        </p>
    </a>
</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_articles' %}" class="nav-link">
        <i class="nav-icon fas fa-compass"></i>
        <p>
            Kategoriler
            <i class="right fas fa-angle-right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% if articleCategories %}
            {% for ac in articleCategories %}
                <li class="nav-item has-treeview">
                    <a href="{% url 'article_category_page' ac.slug %}" class="nav-link">
                        <p>
                            <i style="font-size: 1.0em;" class="far fa-circle nav-icon"></i>
                            {{ ac.title }}
                            <i class="float-right right fas fa-angle-right"></i>
                        </p>
                    </a>
                    {% if articleSubCategories %}
                        {% for asc in articleSubCategories %}
                            {% if asc.parentId_id == ac.id %}
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'article_category_page' asc.slug %}" class="nav-link">
                                            <i style="font-size: 1.0em;"
                                               class="nav-icon far fa-dot-circle text-default"></i>
                                            <p style="margin-left: 0.25em">{{ asc.title }}<i
                                                    class="right fas fa-angle-right"></i></p>
                                        </a>
                                        {% if articleLowerCategories %}
                                            {% for alc in articleLowerCategories %}
                                                {% if alc.parentId_id == asc.id %}
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a href="{% url 'article_category_page' alc.slug %}"
                                                               class="nav-link">
                                                                <p>
                                                                    <i style="font-size: 1.0em;"
                                                                       class="nav-icon far fa-circle text-success"></i>
                                                                    {{ alc.title }}
                                                                </p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</li>