<li class="nav-header">KURSLAR</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_courses' %}" class="nav-link">
        <i class="nav-icon fas fa-video"></i>
        <p>
            Tüm Kurslar
        </p>
    </a>
</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_courses' %}" class="nav-link">
        <i class="nav-icon fas fa-compass"></i>
        <p>
            Kategoriler
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% if courseCategories %}
            {% for courseCategory in courseCategories %}
                <li class="nav-item has-treeview">
                    <a href="{% url 'course_category_page' courseCategory.slug %}" class="nav-link">
                        <p>
                            <i style="font-size: 1.0em;" class="far fa-circle nav-icon"></i>
                            {{ courseCategory.title }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {% if courseSubCategories %}
                        {% for courseSubCategory in courseSubCategories %}
                            {% if courseSubCategory.parentId_id == courseCategory.id %}
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'course_category_page' courseSubCategory.slug %}" class="nav-link">
                                            <p>
                                                <i style="font-size: 1.0em;"
                                                   class="nav-icon far fa-dot-circle text-default"></i>
                                                {{ courseSubCategory.title }}<i
                                                    class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        {% if courseLowerCategories %}
                                            {% for courseLowerCategory in courseLowerCategories %}
                                                {% if courseLowerCategory.parentId_id == courseSubCategory.id %}
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a href="{% url 'course_category_page' courseLowerCategory.slug %}"
                                                               class="nav-link">
                                                                <p>
                                                                    <i style="font-size: 1.0em;"
                                                                       class="nav-icon far fa-circle text-success"></i>
                                                                    {{ courseLowerCategory.title }}
                                                                </p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</li>