{% load static %}
{% if request.user.is_superuser %}
    <section class="page_topline ds c-my-20 page_title with-padding">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-left text-center d-none d-md-block">
                    <ul class="top-includes">
                        <li>
						    <span class="icon-inline">
						    	<span class="icon-styled fs-14">
						    		<i class="fa fa-user"></i>
						    	</span>
						    	<span class="small-text">
						    		<a href="{% url 'account_detail' request.user.username %}">Hoş geldiniz
                                        {% if request.user.get_full_name %}
                                            {{ request.user.get_full_name }}{% else %}
                                            {{ request.user.username }}{% endif %}!</a>
						    	</span>
						    </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-center text-md-right">
					<span class="icon-inline">
						<span class="icon-styled fs-14">
							<i class="fa fa-pencil"></i>
						</span>
						<span class="small-text color-light">
                            <a href="{% url 'admin_index' %}">Admin Paneline Git</a>
						</span>
					</span>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<header class="page_header ls ms justify-nav-center header-layout2 with-padding">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3 col-11">
                <a href="{% url 'index' %}"><img src="{% static 'ankarenkli.jpeg' %}" class="logo" style="height: 55px">
                    <strong>ANKADES</strong></a>
            </div>
            <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
                <nav class="top-nav">
                    <ul class="nav sf-menu">
                        <li class="maincolor2">
                            <a href="{% url 'index' %}">Home</a>
                            {#                            <ul>#}
                            {#                                <li>#}
                            {#                                    <a href="index.html">Home 1</a>#}
                            {#                                </li>#}
                            {#                                <li>#}
                            {#                                    <a href="index2.html">Home 2</a>#}
                            {#                                </li>#}
                            {#                                <li>#}
                            {#                                    <a href="index_static.html">Static Intro</a>#}
                            {#                                </li>#}
                            {#                                <li>#}
                            {#                                    <a href="index_singlepage.html">Single Page</a>#}
                            {#                                </li>#}
                            {#                            </ul>#}
                        </li>
                        <li>
                            <a href="{% url "all_articles" %}">Makaleler</a>
                        </li>
                        <li>
                            <a href="{% url 'all_courses' %}">Kurslar</a>
                        </li>
                        <li>
                            <a href="{% url 'all_schools' %}">Sınav Soruları</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Sorular</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-xl-2 col-lg-3 text-right d-none d-lg-block">
                    <ul class="top-includes icons-include d-none d-xl-block">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-pencil color-main3"></i> Ekle
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'add_article' %}">Makale</a>
                                <a class="dropdown-item" href="{% url 'edit_profile' request.user.username %}">Kurs</a>
                                <a class="dropdown-item" href="{% url 'logout_account' %}">Soru</a>
                                <a class="dropdown-item" href="{% url 'logout_account' %}">Sınav</a>
                            </div>
                        </div>
{#                        Kategoriler#}
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-user color-main3 ml-3"></i> Hesabım
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'account_detail' request.user.username %}">Profilim</a>
                                <a class="dropdown-item" href="{% url 'edit_profile' request.user.username %}">Düzenle</a>
                                <a class="dropdown-item" href="{% url 'logout_account' %}">Çıkış Yap</a>
                            </div>
                        </div>
                    </ul>
                </div>
            {% else %}
                <div class="col-xl-2 col-lg-3 text-right d-none d-lg-block">
                    <ul class="top-includes icons-include d-none d-xl-block">
                        <li>
                            <a href="{% url 'login_account' %}">
                                <i class="fa color-main3 fa-user"></i> Giriş Yap
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'register_account' %}">
                                <i class="fa color-main3 fa-user-plus"></i> Kayıt Ol
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <span class="toggle_menu"><span></span></span>
</header>
{% if messages %}
    {% for message in messages %}
        <div class="col-lg-12 alert message" id="alert" data-autohide="false"
             style="position: relative; min-height: 200px;">
            <div class="media cs rounded" style="position: absolute; top: 0; right: 0;">
                <div class="media-body">
                    <p>
                        {{ message }}
                    </p>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}
{% endif %}