<li class="nav-header">SORULAR</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_questions' %}" class="nav-link">
        <i class="nav-icon fas fa-question"></i>
        <p>
            Tüm Sorular
        </p>
    </a>
</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_questions' %}" class="nav-link">
        <i class="nav-icon fas fa-compass"></i>
        <p>
            Kategoriler
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% if questionCategories %}
            {% for questionCategory in questionCategories %}
                <li class="nav-item has-treeview">
                    <a href="{% url 'question_category_page' questionCategory.slug %}" class="nav-link">
                        <p>
                            <i style="font-size: 1.0em;" class="far fa-circle nav-icon"></i>
                            {{ questionCategory.title }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {% if questionSubCategories %}
                        {% for questionSubCategory in questionSubCategories %}
                            {% if questionSubCategory.parentId_id == questionCategory.id %}
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'question_category_page' questionSubCategory.slug %}" class="nav-link">
                                            <p>
                                                <i style="font-size: 1.0em;"
                                                   class="nav-icon far fa-dot-circle text-default"></i>
                                                {{ questionSubCategory.title }}<i
                                                    class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        {% if questionLowerCategories %}
                                            {% for questionLowerCategory in questionLowerCategories %}
                                                {% if questionLowerCategory.parentId_id == questionSubCategory.id %}
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a href="{% url 'question_category_page' questionLowerCategory.slug %}"
                                                               class="nav-link">
                                                                <p>
                                                                    <i style="font-size: 1.0em;"
                                                                       class="nav-icon far fa-circle text-success"></i>
                                                                    {{ questionLowerCategory.title }}
                                                                </p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</li>