<li class="nav-header">SORULAR</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_questions' %}" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>
            Tüm Sorular
        </p>
    </a>
</li>
<li class="nav-item has-treeview">
    <a href="{% url 'all_questions' %}" class="nav-link">
        <i class="nav-icon fas fa-circle"></i>
        <p>
            Kategoriler
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% if questionCategories %}
            {% for qc in questionCategories %}
                <li class="nav-item has-treeview">
                    <a href="{% url 'question_category_page' qc.slug %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                            {{ qc.title }}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    {% if questionSubCategories %}
                        {% for qsc in questionSubCategories %}
                            {% if qsc.parentId_id == qc.id %}
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'question_category_page' qsc.slug %}" class="nav-link">
                                            <i class="far fa-dot-circle nav-icon"></i>
                                            <p>{{ qsc.title }}<i class="right fas fa-angle-left"></i></p>
                                        </a>
                                        {% if questionLowerCategories %}
                                            {% for qlc in questionLowerCategories %}
                                                {% if qlc.parentId_id == qsc.id %}
                                                    <ul class="nav nav-treeview">
                                                        <li class="nav-item">
                                                            <a href="{% url 'question_category_page' qlc.slug %}" class="nav-link">
                                                                <p>{{ qlc.title }}</p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</li>