{% load static %}
<aside class="main-sidebar sidebar-dark-blue elevation-4" style="background: #0e396c; color: #fff">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ANKACADEMY</span>
    </a>
    <div class="sidebar">
        {% if request.user.is_authenticated %}
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ request.user.image.url }}" style="width: 40px !important; height: 40px !important;" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="{% url 'account_detail' request.user.username %} "
                       class="d-block">
                        {% if request.user.first_name is not None %}{{ request.user.get_full_name }}{% else %}
                            {{ request.user.username }}{% endif %}</a>
                </div>
            </div>
        {% endif %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {#article categories#}
                {% include 'ankades/layout/article-categories.html' %}
                {#question categories#}
                {% include 'ankades/layout/question-categories.html' %}
                {#course categories#}
                {% include 'ankades/layout/course-categories.html' %}
                {#end categories#}
                {% if request.user.is_authenticated %}
                    <li class="nav-header">Paylaşım</li>
                    <li class="nav-item">
                        <a href="{% url 'add_question' %}" class="nav-link">
                            <i class="nav-icon far fa-circle text-danger"></i>
                            <p class="text">Soru Sor</p>
                        </a>
                    </li>
                    {% if userGroup == 'admin' or userGroup == 'moderator' or userGroup == 'ogretmen' %}
                        <li class="nav-item">
                            <a href="{% url 'add_article' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Makale Paylaş</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if userGroup == 'admin' or userGroup == 'moderator' or userGroup == 'ogretmen' %}
                        <li class="nav-item">
                            <a href="{% url 'add_course' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i>
                                <p>Kurs Paylaş</p>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>