{% load static %}
<aside class="main-sidebar sidebar-dark-blue elevation-4" style="background: #0e396c; color: #fff">
    <a href="{% url 'index' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ANKACADEMY</span>
    </a>
    <div class="sidebar">
        {% if request.user.is_authenticated %}
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ request.user.image.url }}" style="width: 40px !important; height: 40px !important;"
                         class="img-circle elevation-2" alt="{{ request.user.get_full_name }}">
                </div>
                <div class="info">
                    <a href="{% url 'account_detail' request.user.username %} "
                       class="d-block" style="color: #fff;">
                        {% if request.user.first_name is not None %}{{ request.user.get_full_name }}{% else %}
                            {{ request.user.username }}{% endif %}</a>
                    <span style="font-size: 14px; color: #C2C7D0;">{{ userGroup.title }}</span>
                </div>
            </div>
        {% endif %}
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview">
                    <a href="{% url 'all_articles' %}" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Makaleler
                        </p>
                    </a>
                </li>
                {#question categories#}
                <li class="nav-item has-treeview">
                    <a href="{% url 'all_questions' %}" class="nav-link">
                        <i class="nav-icon fas fa-question"></i>
                        <p>
                            Sorular
                        </p>
                    </a>
                </li>
                {#course categories#}
                <li class="nav-item has-treeview">
                    <a href="{% url 'all_courses' %}" class="nav-link">
                        <i class="nav-icon fas fa-video"></i>
                        <p>
                            Kurslar
                        </p>
                    </a>
                </li>
                {#course categories#}
                <li class="nav-item has-treeview">
                    <a href="{% url 'all_schools' %}" class="nav-link">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            Sınav Arşivi
                        </p>
                    </a>
                </li>
                {#end categories#}
                {% if request.user.is_authenticated %}
                    <li class="nav-header">Paylaşım</li>
                    <li class="nav-item"><a href="{% url 'add_question' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p class="text">Soru Sor</p>
                    </a>
                    </li>
                    {% if userGroup == 'admin' or userGroup == 'moderator' or userGroup == 'ogretmen' %}
                        <li class="nav-item">
                            <a href="{% url 'add_article' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-info"></i>
                                <p>Makale Paylaş</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if userGroup == 'admin' or userGroup == 'moderator' or userGroup == 'ogretmen' %}
                        <li class="nav-item">
                            <a href="{% url 'add_course' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i>
                                <p>Kurs Paylaş</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if userGroup == 'admin' or userGroup == 'moderator' or userGroup == 'ogretmen' %}
                        <li class="nav-item">
                            <a href="{% url 'add_exam' %}" class="nav-link">
                                <i class="nav-icon far fa-circle text-primary"></i>
                                <p>Sınav Ekle</p>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-header">Sözleşmeler</li>
                <li class="nav-item"><a href="{% url 'terms_of_use' %}" class="nav-link">
                    <i class="nav-icon fa fa-align-center text-danger"></i>
                    <p class="text">Kullanım Koşulları</p>
                </a>
                </li>
                <li class="nav-item"><a href="{% url 'privacy_policy' %}" class="nav-link">
                    <i class="nav-icon fa fa-align-center text-danger"></i>
                    <p class="text">Gizlilik Politikası</p>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>