{% extends 'ankades/layout/layout.html' %}
{% block title %}Ankacademy | Dersler{% endblock %}
{% load static %}
{% block content %}
    <div class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Dersler</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content-header">
        <div class="container">
            <div class="row">
                {% if lectures %}
                    {% for lecture in lectures %}
                        <div class="card-deck col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="card mt-5">
                                <div class="card-body">
                                    <h5 class="float-left card-title">
                                        <a href="{% url 'lecture_exam' lecture.slug %}">{{ lecture.title|safe|truncatewords:20 }}</a>
                                    </h5>
                                    <h5 class="float-right card-title">
                                        <a href="{% url 'lecture_exam' lecture.slug %}">Sınavlara Git</a>
                                    </h5>
                                    </br>
                                    <hr>
                                    <small class="card-text">
                                        <a href="{% url 'all_departments' lecture.departmentId.schoolId.slug %}">
                                            Okul: {{ lecture.departmentId.schoolId.title }}
                                            {% if schools %}
                                                {% for school in schools %}
                                                    {% if school.departmentId.schoolId.title != lecture.departmentId.schoolId.title %}
                                                        Diğer Okullar: {{ school.departmentId.schoolId.title }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </a>
                                    </small>
                                    </br>
                                    <small class="card-text">Bölüm: {{ lecture.departmentId.title }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="callout callout-warning col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <h5>Üzgünüz :(</h5>
                        <p>Henüz okula ait bölümler sisteme kayıt edilmemiş.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}