{% extends 'ankades/layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="./" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/header.html' %}
            <section class="ls s-pt-50 s-pb-20 s-pt-lg-120 s-pb-lg-20 s-pt-xl-130 s-pb-xl-60 c-mb-30 c-mb-lg-50">
                <div class="divider-10"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3>Okullar</h3>
                            <hr>
                            {% if exams %}
                                {% for exam in exams %}
                                    <h5></h5>
                                    <div id="accordion" role="tablist">
                                        <div class="card mt-3">
                                            <div class="card-header" role="tab"
                                                 id="collapse{{ forloop.counter }}_header">
                                                <h5>
                                                    <a class="collapsed" data-toggle="collapse"
                                                       href="#collapse{{ forloop.counter }}"
                                                       aria-expanded="false"
                                                       aria-controls="collapse{{ forloop.counter }}">
                                                        bilg müh
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse{{ forloop.counter }}" class="collapse"
                                                 role="tabpanel"
                                                 aria-labelledby="collapse{{ forloop.counter }}_header"
                                                 data-parent="#accordion">
                                                <div class="card-body rounded hero-bg">
                                                    <article
                                                            class="post side-item text-center text-md-left event-post content-padding rounded">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-lg-12 col-md-6">
                                                                <a href="event-single-full.html">
                                                                    {{ lecture.title }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            {% include 'ankades/layout/footer.html' %}
        </div>
    </div>
{% endblock %}