{% extends 'ankades/layout/layout.html' %}
{% load static %}
{% block title %}Ankacademy | Okullar{% endblock %}
{% block content %}
    <div class="content-header">
        <div class="container">
            <div class="row mt-3">
                <div class="col-sm-12">
                    <h1 class="m-0 text-dark">Tüm Okullar</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="account-logs" class="table">
                                <thead>
                                <tr>
                                    <th>Okul</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if schools %}
                                    {% for school in schools %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'all_departments' school.slug %}" style="font-size: 18px;">{{ school.title }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Okul</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}