{% extends "admin/layout/layout.html" %}
{% block title %}İzinler | {{ request.user.first_name|upper }}{% endblock %}
{% block body %}

    {% load static %}
    {% load crispy_forms_tags %}

    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/dataTables.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/plugins/datatables/buttons.bootstrap4.min.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "admin/plugins/datatables/responsive.bootstrap4.min.css" %}"/>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        {% include "admin/layout/navbar.html" %}
        <!-- Top Bar End -->

        <!-- ========== Left Sidebar Start ========== -->
        {% include "admin/layout/sidebar.html" %}
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-sm-12">
                                <h4 class="page-title">İzin Listesi</h4>
                            </div>
                        </div> <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card m-b-30">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Tüm İzinler</h4>
                                    <p class="sub-title../plugins">
                                        Aşağıdan izinleri görüntüleyebilir, düzenleyebilirsiniz.
                                    </p>

                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dt-responsive nowrap"
                                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                        <tr>
                                            <th>İzin Id</th>
                                            <th>İzin Adı</th>
                                            <th>İzin Slug</th>
                                            <th>Oluşturulduğu Tarih</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if permissions %}
                                            {% for perm in permissions %}
                                                <tr>
                                                    <td>{{ perm.id }}</td>
                                                    <td>{{ perm.name }}</td>
                                                    <td>{{ perm.name_slug }}</td>
                                                    <td>{{ perm.created_date }}</td>
                                                    <td>
                                                        <a href="{% url 'admin_edit_permission' perm.name_slug %}"
                                                           class="btn btn-success btn-sm">Düzenle</a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'admin_delete_permission' perm.name_slug %}"
                                                           class="btn btn-danger btn-sm">Sil</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                                <td>Veri Bulunamadı !</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div> <!-- end col -->

                    </div> <!-- end row -->
                    <!-- end page-title -->

                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->

            <footer class="footer">
                © 2019 - 2020 Tüm Hakları Saklıdır
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->


    <!-- jQuery  -->
{% endblock body %}