{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gruplar</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Grup Adı</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if groups %}
                                    {% for group in groups %}
                                        <tr>
                                            <td>{{ group.id }}</td>
                                            <td>{{ group.title }}</td>
                                            <td>{{ group.createdDate }}</td>
                                            <td>{{ group.updatedDate }}</td>
                                            <td>{{ group.isActive }}</td>
                                            <td>
                                                <a type="button" id="#{{ group.get_active_url }}"
                                                   data-href='{{ group.get_active_api_url }}'
                                                   href='{{ group.get_active_url }}'
                                                   class="btn btn-warning">
                                                    {% if group.isActive %}Kapat{% else %}Aktifleştir{% endif %}
                                                </a>
                                                {#                                            <p><a class='like-btn' data-href='{{ instance.get_api_like_url }}' data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'></a></p>#}
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="{{ group.slug }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Uyarı ! </h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            data-toggle="modal" data-target="#modal-default"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bu işlemi yapmak istediğinize emin misiniz ?</p>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal">
                                                        İptal
                                                    </button>
                                                    <a type="button" href=""
                                                       class="btn btn-primary">
                                                        Evet
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    {% endfor %}
                                {% endif %}

                                </div>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Grup Adı</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.modal -->
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}