{% extends 'adminpanel/layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gruplar</h3>
                        </div>
                        <button type="button" class="btn btn-success m-3" data-toggle="modal"
                                data-target="#modal-default">
                            Yeni Grup Ekle
                        </button>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Grup Adı</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                    <th>Sil</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if groups %}
                                    {% for group in groups %}
                                        <tr>
                                            <td>{{ group.id }}</td>
                                            <td>{{ group.title }}</td>
                                            <td>{{ group.createdDate }}</td>
                                            <td>{{ group.updatedDate }}</td>
                                            <td>{{ group.isActive }}</td>
                                            <td>
                                                <a type="button" id="#{{ group.get_active_url }}"
                                                   data-href='{{ group.get_active_api_url }}'
                                                   href='{{ group.get_active_url }}'
                                                   class="btn btn-warning">
                                                    {% if group.isActive %}Kapat{% else %}Aktifleştir{% endif %}
                                                </a>
                                            </td>
                                            <td>
                                                <a type="button" href="{% url 'admin_delete_group' group.slug %}"
                                                   class="btn btn-danger">Sil
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Grup Adı</th>
                                    <th>Oluşturulduğu Tarih</th>
                                    <th>Son Güncelleme</th>
                                    <th>Aktiflik</th>
                                    <th>İşlemler</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Yeni Grup Ekle</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="{% url 'admin_add_group' %}" method="post">
                                        {% csrf_token %}
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="title">Grup Adı</label>
                                                <input type="text" name="title" class="form-control" id="title"
                                                       placeholder="Grup Adı">
                                            </div>
                                            <div class="form-group mb-0">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="isActive" class="custom-control-input"
                                                           id="exampleCheck1">
                                                    <label class="custom-control-label"
                                                           for="exampleCheck1">Aktiflik</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'adminpanel/group/edit-group2.html' %}
    </section>
{% endblock %}