{% extends 'ankades/layout/../layout/layout.html' %}
{% block body %}
    {% load crispy_forms_tags %}
    {% load static %}
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="widget widget_search">
            <a href="" class="logo">
                <span class="logo-text py-20"><strong>Maxi</strong>com</span>
            </a>
            <form method="get" class="searchform search-form" action="/">
                <div class="form-group">
                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                           id="modal-search-input">
                </div>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <div id="canvas">
        <div id="box_wrapper">
            {% include 'ankades/layout/../layout/header.html' %}
            <section class="ls s-py-xl-60">
                    <div class="row">
                        <main class="col-lg-12">
                                <ul class="products">
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/03.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Extender 0402</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>180.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/04.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Switch Port 303</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>160.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/05.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Server Unit 05</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>140.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/06.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Path Switcher 701</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>120.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/07.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Inter Power</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">

													<span>$</span>100.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/08.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>NAS 0302</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>120.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/09.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Uni Router</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>120.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/10.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>SURV Watch</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>140.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/11.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Remote 050</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>160.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="product vertical-item padding-small content-padding">
                                        <div class="product-inner hero-bg rounded">
                                            <a class="link-scale" href="shop-product-left.html">
                                                <img src="images/shop/12.jpg" alt="">
                                            </a>
                                            <div class="item-content">
                                                <h2>Extender 2</h2>
                                                <div class="star-rating">
													<span style="width:80%">Rated <strong
                                                            class="rating">4.00</strong> out of 5</span>
                                                </div>
                                                <span class="price">
													<span>$</span>200.00
												</span>
                                                <a rel="nofollow" href="shop-cart.html"
                                                   class="btn btn-maincolor small-btn product_type_simple add_to_cart_button"><span>Add to cart</span></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            <!-- columns 2 -->

                            <nav class="woocommerce-pagination">
                                <ul class="page-numbers">
                                    <li>
                                        <a class="next page-numbers" href="shop-left.html">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <span class="page-numbers current">1</span>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop-left.html">2</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop-left.html">3</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop-left.html">4</a>
                                    </li>
                                    <li>
                                        <a class="next page-numbers" href="shop-left.html">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </main>

                    </div>
            </section>
            {% include 'ankades/layout/../layout/footer.html' %}
        </div>
    </div>
{% endblock %}