{% extends "ankades/layout/../layout/layout.html" %}
{% block title %} Giriş Yap {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    {% include "ankades/layout/../layout/header.html" %}
    <section class="ls s-pt-80 s-pb-70 s-pt-lg-120 s-pb-lg-110 s-pt-xl-160 s-pb-xl-150">
        <div class="container">
            <div class="row">
                <main class="col-lg-12">
                    <article>
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="woocommerce">

                                {#                                <div class="woocommerce-message">Are you sure you want to log out? <a#}
                                {#                                        href="shop-account-login.html">Confirm and log out</a>#}
                                {#                                </div>#}

                                <form class="woocomerce-form woocommerce-form-login login" method="post">
                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="username">Username or email address <span
                                                class="required">*</span>
                                        </label>
                                        <input type="text"
                                               class="form-control text-center woocommerce-Input woocommerce-Input--text input-text"
                                               name="username" id="username" value=""
                                               placeholder="Username or email address">
                                    </p>
                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="password">Password <span class="required">*</span>
                                        </label>
                                        <input class="form-control text-center woocommerce-Input woocommerce-Input--text input-text"
                                               type="password" name="password" id="password"
                                               placeholder="Password">
                                    </p>
                                    <div class="divider-60 d-none d-lg-block"></div>
                                    <p class="form-row text-center">
                                        <button type="submit" class="woocommerce-Button btn btn-maincolor"
                                                name="login">
                                            <span>Reset password</span></button>
                                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                            <input class="woocommerce-form__input woocommerce-form__input-checkbox"
                                                   name="rememberme" type="checkbox" id="rememberme"
                                                   value="forever">
                                            <span>Remember me</span>
                                        </label>
                                    </p>
                                    <p class="woocommerce-LostPassword lost_password text-center">
                                        <a href="shop-account-password-reset.html">Lost your password?</a>
                                    </p>

                                </form>
                            </div>
                        </div>
                        <!-- .entry-content -->
                    </article>


                </main>
            </div>

        </div>
    </section>
    <section class="page_copyright ds s-py-10 copyright-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="divider-15 d-none d-lg-block"></div>
                <div class="col-md-12 text-center">
                    <p>© Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
                </div>
                <div class="divider-15 d-none d-lg-block"></div>
            </div>
        </div>
    </section>
{% endblock %}